<div>
    <a href="/admin/settings/">К списку</a><br/>
    <br/>
</div>

<form method="POST" action="/admin/settings/edit/id/<?=$this->form->getElement('id')->getValue()?>/">
    <?=$this->render('settings/parts/form.phtml')?>
</form>