<h1>Настройки</h1>

<div>
    <a href="/admin/settings/add/">Добавить настройку</a>
</div>

<?if($this->deletedId):?>
    <div style="color: #F00;">
        <br/><strong>Настройка была успешно удалена</strong>
    </div>
<?endif?>

<?if($this->createdId):?>
    <div style="color: #208a07;">
        <br/><strong>Настройка была успешно создана</strong>
    </div>
<?endif?>

<?if($this->modifiedId):?>
    <div style="color: #208a07;">
        <br/><strong>Настройка была успешно изменена</strong>
    </div>
<?endif?>

<br/>

<table class="stat_table">

    <thead>
    <tr>
        <td style="width: 30px;">ID</td>
        <td style="width: 100px;">Название</td>
        <td style="width: 100px;">Ключ</td>
        <td>Значение</td>
        <td style="width: 70px;"></td>
    </tr>
    </thead>
    <tbody>

        <?if($this->options->count() > 0):?>

            <?
            $i = 1;
            /** @var $option Entity_Settings_Option */
            foreach($this->options as $option):
                $isOdd = ($i % 2) === 0;
                ?>

                <tr<?=($isOdd)?' class="odd"':''?>>
                    <td>
                        <?=$option->getId()?>
                    </td>
                    <td>
                        <a href="<?=$option->getEditUrl()?>"><?=$option->getCaption()?></a>
                    </td>
                    <td>
                        <a href="<?=$option->getEditUrl()?>"><?=$option->getSlug()?></a>
                    </td>
                    <td>
                        <?=$option->getData()?>
                    </td>
                    <td>
                        <a href="<?=$option->getDeleteUrl()?>" onclick="{return confirm('Вы уверены?');}">Удалить</a>
                    </td>
                </tr>

            <?
            $i++;
            endforeach?>

        <?else:?>

            <tr>
                <td colspan="4">Нет настроек</td>
            </tr>

        <?endif?>

    </tbody>

</table>