<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Soukkick</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="top_line"></div>
    <div class="head">
        <div class="wrap">
            <a class="logo" href="/"></a>
            <ul class="main_menu">
                <li class="last"><a href="/">Главная</a></li>
            </ul>
        </div>
    </div>
    <div class="wrap">
        <h1>Магазинам-партнёрам <span class="subheader">/ Форма заявки</span></h1>
        <form class="full_apply_form" action="<?=$this->registerForm->getAction()?>" method="<?=$this->registerForm->getMethod()?>" enctype="<?=$this->registerForm->getEnctype()?>">
            <fieldset>
                    <dl>
                        <dt><label for="login">Тип бизнеса</label></dt>
                        <dd>
                            <select class="field" name="type" id="business_type">
                                <?php 
                                    $typeElement = $this->registerForm->getElement('type'); 
                                    foreach($typeElement->getMultiOptions() as $id => $title)
                                    {
                                        ?>
                                            <option value="<?=$id?>" <?=($typeElement->getValue() == $id ? 'selected="selected"' : '')?>><?=$title?></option>
                                        <?php
                                    }
                                ?>
                            </select>
                        </dd>
                        <dt><label for="business_city">Город</label></dt>
                        <dd>
                            <input class="field" type="text" id="" name="city" value="<?=$this->registerForm->getValue('city')?>" />
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->registerForm->getElement('city')))?>
                        </dd>
                        <dt><label for="business_name">Название</label></dt>
                        <dd>
                            <input class="field" type="text" id="business_name" name="shop_name" value="<?=$this->registerForm->getValue('shop_name')?>" />
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->registerForm->getElement('shop_name')))?>
                        </dd>
                    </dl>
                    <div class="separator"></div>
                    <dl>
                        <dt>Количество магазинов</dt>
                        <dd>
                            <select class="field short" name="size">
                            <?php 
                                $sizeElement = $this->registerForm->getElement('size'); 
                                foreach($sizeElement->getMultiOptions() as $id => $title)
                                {
                                    ?>
                                        <option value="<?=$id?>" <?=($sizeElement->getValue() == $id ? 'selected="selected"' : '')?>><?=$title?></option>
                                    <?php
                                }
                            ?>
                            </select>
                        </dd>
                        <dt><label>Логотип
                        <span>jpg, png, gif. Не менее чем 200 х 200 пикселей</span>
                        <dd><?=$this->registerForm->getElement('photo')?></dd>
                        <dt><label for="business_person">Контактное лицо
                        <dd>
                            <input class="field" type="text" id="business_person" name="surname" value="<?=$this->registerForm->getValue('surname')?>"/>
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->registerForm->getElement('surname')))?>
                        </dd>
                        <dt><label for="business_phone">Телефон
                        <dd>
                            <input class="field" type="text" id="business_phone" name="phone" value="<?=$this->registerForm->getValue('phone')?>"/>
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->registerForm->getElement('phone')))?>
                        </dd>
                        <dt><label for="business_email">Электронная почта
                        <span>ВАЖНО: проверьте правильность написания адреса, на него вам придут дальнейшие инструкции, также он будет использоваться для входа в систему</span></label></dt>
                        <dd>
                            <input class="field" type="text" id="business_email" name="email" value="<?=$this->registerForm->getValue('email')?>"/>
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->registerForm->getElement('email')))?>
                        </dd>
                        <dt><label for="business_pwd">Пароль
                        <span>Будет использоваться для входа в систему</span>
                        <dd>
                            <input class="field" type="password" name="password" id="business_pwd" value="<?=$this->registerForm->getValue('password')?>"/>
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->registerForm->getElement('password')))?>
                        </dd>
                        <dt><label for="business_pwd_conf">Повторите пароль
                        <dd>
                            <input class="field" type="password" name="password_confirm" id="business_pwd_conf"  value="<?=$this->registerForm->getValue('password_confirm')?>"/>
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->registerForm->getElement('password_confirm')))?>
                        </dd>
                    </dl>
                </fieldset>
                    <div class="separator"></div>
                <input type="submit" class="button" value="Отправить заявку" />
                <p class="apply_descr">С вами свяжутся в течение 24 часов</p>
        </form>
        
    </div>
    <div class="footer">
        <div class="bottom_line"></div>
    </div>
</body>
</html>