<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Soukkick</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="top_line"></div>
    <div class="head">
        <div class="wrap">
            <a class="logo" href="/"></a>
        </div>
    </div>
    <div class="wrap">
        <h2 class="">Спасибо за регистрацию! Скоро ваш магазин будет активирован.</h2>
    </div>
    <div class="footer">
        <div class="bottom_line"></div>
    </div>
</body>
</html>