    <div class="top_line"></div>
    <div class="head">
    </div>
    <div class="wrap">
        <h1><?=$this->product->getName()?></h1>
        <div class="content">
            <div class="good_page">
                <img width="<?=Application::getProductBigPictureSide()*2?>" height="<?=Application::getProductBigPictureSide()*2?>" src="<?=$this->product->getBigPicturePathFull()?>" />
                <p><?=$this->product->getDescription()?></p>
                <p>
                    <strong>
                        <?php 
                            if($this->product->getDiscount() > 0)
                            {
                                ?>
                                    Скидка <?=$this->product->getDiscount()?>%
                                <?php
                            }
                            else
                            {
                                ?>
                                    <?=$this->product->getPrice()?>
                                <?php
                            }
                        ?>
                    </strong>
                </p>
                <img class="shop_logo" width="<?=Application::getTradeNetworkPictureSide()?>" height="<?=Application::getTradeNetworkPictureSide()?>" src="<?=$this->tradeNetwork->getBigPicturePathFull()?>" />
            </div>
            <div class="clear"></div>
        </div>

        
    </div>
    <div class="footer">

    </div>