<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Soukkick administration</title>
        <script src="/js/lib/bootstrap.js"></script>
        <link href="/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h2>Enter</h2>
            <form role="form" action="/admin/login/" method="post" enctype="application/x-www-form-urlencoded" id="form_login">
                <?=$this->form->getElement('email')?>
                <?=$this->form->getElement('password')?>
                <?=$this->form->getElement('backurl')?>
                <?=$this->form->getElement('remember')?>
                <?=$this->form->getElement('submit')?>
            </form>
        </div>
    </body>
</html>