<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<script>
var registry = {};
</script>
<script src="/js/lib/jquery/jquery-1.11.0.js" language="JavaScript" type="text/javascript"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/jquery/jquery-ui-1.8.17.custom.min.js" language="JavaScript" type="text/javascript"></script>
<script src="/js/lib/jquery/jquery.tablesorter.min.js" language="JavaScript" type="text/javascript"></script>

<script>
    function showMENU()
    {
        if($("#MENU").css("display") == 'none'){
            $("#MENU").show('slow');
            $("#MENUimg").hide();
        } else {
            $("#MENU").hide('slow');
            $("#MENUimg").show();
        }
    }

    
    jQuery(function($){
        jQuery('[data-button-url]').each(function(){
            jQuery(this).click(function(){
                location.href = jQuery(this).attr('data-button-url');
            });
        });

        jQuery("[data-table-sortable]").each(function(){
            jQuery(this).tablesorter({
                theme : 'bootstrap',
                widgets: ['zebra','filterHeaders'] ,
                cssHeader:'headerzebra',
                cancelSelection:false
            });
        });

        //mark al deletable links
        $('img[src="/img/admin/del.gif"]').each(function(){
            $(this).parent().addClass('deletable');
        });

        $(".deletable").each(function(){
            $(this).click(function(){
                if(confirm('Are you sure you want to delete?'))
                {
                    return true;
                }
                else
                    return false;
            });
        });
        $.datepicker.setDefaults($.datepicker.regional['ru']);
        $.datepicker.setDefaults(
        {
            showOn: 'both',
            buttonImageOnly: true,
            buttonImage: '/img/admin/calendar.gif',
            buttonText: 'Calendar',
            minDate: '-100Y',
            maxDate: '+10Y',
            firstDay: 1
        } );
        $('.date_element').each(function(){
            $(this).datepicker({dateFormat: 'yy-mm-dd'});
        });
    }
);
</script>

<link rel="stylesheet" type="text/css" href="/js/lib/jquery/ui/themes/eggplant/jquery-ui-1.8.5.custom.css" />
<link href="/css/bootstrap.css" rel="stylesheet" />
<!--<link rel="stylesheet" type="text/css" href="/css/admin/main.css">-->
<link rel="stylesheet" href="/css/tablesorter/theme.bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/admin/ui.datepicker.css"/>

<?php
    echo $this->headScript();
    echo $this->headStyle();
    echo $this->headLink();
?>
</head>
    <body>
        <div class="container">
            <div class="navbar-wrapper">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/admin">
                            Soukkick
                        </a>
                    </div>

                    <ul class="nav navbar-nav">
                        <?php
                            $i=0;
                            foreach($this->modules as $moduleKey => $module)
                            {
                                ?>
                                <li<?=($moduleKey == $this->currentModule ? ' class="active"' : '')?>>
                                    <a target="_self" href="/admin/<?=$moduleKey?>/"><?=$module?></a>
                                </li>
                                <?php
                            }
                        ?>
                    </ul>

                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <form action="/admin/index/exit" method="get">
                                    <button type="submit" class="btn btn-default navbar-btn">Exit</button>
                                </form>
                            </li>
                        </ul>
                        <p class="navbar-text navbar-right">&nbsp;&nbsp;&nbsp;</p>
                    </div>
                </nav>
            </div>
            <?=$this->layout()->content ?>
        </div>
    </body>
</html>