<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Soukkick | Content Management</title>
    <link href="/css/admin/new.css" rel="stylesheet" type="text/css" />
    <script>
        var registry = {};
    </script>
    <script src="/js/lib/jquery/jquery-1.11.0.js" language="JavaScript" type="text/javascript"></script>

    <script>
        $(function(){
           $("a.deletable").each(function(){
               $(this).click(function(){
                   if(confirm('Are you sure you want to delete?'))
                   {
                       return true;
                   }
                   else
                       return false;
               });
           });
        })
    </script>
    <?php
    echo $this->headScript();
    echo $this->headStyle();
    echo $this->headLink();
    ?>

</head>
<body>
    <div id="Head">
        <h1>Main administrator management</h1>
        <div class="god_budget">
            <?=$this->GetTodayTotalAmount()?><br />
            received today
        </div>
        <div id="Main_menu">
            <ul>
            <?
            $i = 0;
            foreach($this->modules as $moduleKey => $module):?>
                <li<?=($i === 0)?' class="home"':''?><?=($i === count($this->modules) - 1)?' class="last"':''?>>
                    <a href="/admin/<?=$moduleKey?>/"<?=($moduleKey==$this->currentModule)?' class="current"':''?>><?=$module?></a>
                </li>
                <?
                    $i++;
                ?>
            <?endforeach?>
            </ul>
        </div>
    </div>


    <div class="content">
        <div class="container">
            <div class="content_holder">

                <?=$this->layout()->content?>

            </div>
        </div>
    </div>

</body>
</html>