* {padding:0; margin:0; list-style-type:none;}

body {font-family:Arial; background:#fff; font-size:10pt; padding:10px}

.clear {float:none; clear:both; height:0; font-size:0;}
.hor_line {padding-top:10px; margin-top:10px; border-top:solid 1px #d6d6d6}
@font-face {font-family: HelveticaCyrLight; src: url('/fonts/HelveticaNeueCyr-Light.otf');}

#Head {position:relative; padding-top:58px; /*background:url('/imgs/logo_s.png') no-repeat scroll left 3px;*/ min-width:753px}
    #Head h1 {position:absolute; /*left:150px;*/ top:6px; font-family:HelveticaCyrLight; font-size:25pt; color:#898989; font-weight:normal}
    #Head .support {position:absolute; top:0; right:0; border-radius:8px; background:#e9e9e9; padding:5px 9px; color:#333;}
        #Head .support span {display:block; font-size:15pt; padding-top:2px}
    #Head #Main_menu {height:31px; border:solid 1px #376fad; border-radius:6px; box-shadow:0 2px 2px #bbb}
        #Head #Main_menu ul {border-radius:5px; border-top:solid 1px #b3d2f5; height:30px; 
            background-color:#4e8ed4;
            background: -webkit-linear-gradient(top, #66a4ea, #3c7cc3);
            background: -moz-linear-gradient(top, #66a4ea, #3c7cc3);
            background: -ms-linear-gradient(top, #66a4ea, #3c7cc3);
            background: -o-linear-gradient(top, #66a4ea, #3c7cc3);}
            #Head #Main_menu li {float:left; height:25px; padding-top:5px;  }
                #Head #Main_menu li.last a {box-shadow: 1px 0 0 #8ab6e7;}
            #Head #Main_menu li.first {border-radius:5px 0 0 5px}
            #Head #Main_menu li.account_menu {border-radius:0 5px 5px 0; float:right}
                #Head #Main_menu li.account_menu a  {border-right:0; padding-left:10px; box-shadow: -1px 0 0 #366394; padding-right:23px; background:url('/imgs/reward_icons.png') no-repeat scroll right -36px}
                    #Head #Main_menu li.account_menu a img  {float:left; width:20px; height:20px; margin-top:-2px; border:solid 1px #7aa7d9; box-shadow:-1px -1px 0 #366394; background:#fff}
                    #Head #Main_menu li.account_menu a span  {padding-left:5px}
            #Head #Main_menu li:hover {}
            #Head #Main_menu li.current, #Head #Main_menu li:active {
                background-color:#4072ab;
                background: -webkit-linear-gradient(top, #5183ba, #30639c);
                background: -moz-linear-gradient(top, #5183ba, #30639c);
                background: -ms-linear-gradient(top, #5183ba, #30639c);
                background: -o-linear-gradient(top, #5183ba, #30639c);}
                #Head #Main_menu li a {display:block; font-size:10pt; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #274464; text-decoration:none; padding:2px 18px; 
                    border-right:solid 1px #366394; border-left:solid 1px #8ab6e7}
                #Head #Main_menu li.first a {border-left:none;}
    #Head #Account_dropmenu {position:absolute; top:95px; right:0; border:solid 1px #c4c4c4; padding:2px; border-radius:8px; background:#fff; box-shadow:0 2px 2px #bbb; /*display:none*/}
        #Head #Account_dropmenu li a {display:block; padding:6px 10px; border-radius:5px; color:#154274; text-decoration:none}
        #Head #Account_dropmenu li a:hover {background:#b8ee6b; color:#000}
 
 
 .content {padding-top:10px;}  
    .content h2 {font-size:16pt; color:#444; font-weight:normal; padding:10px 0}     
    .content h3 {font-size:12pt; color:#666; font-weight:bold; padding-bottom:10px; text-shadow:1px 1px #fff}     
        .content h3 span.edt {font-size:9pt; color:#7593e5; font-weight:normal; padding-left:18px; background:url('/imgs/reward_icons.png') no-repeat scroll 2px -143px; cursor:pointer}     
        .content h3 span.edt:hover {color:#3c6dc7; background-position:2px -179px}     
    .content .message {border-radius:6px; background:#efefef; padding:10px; margin-bottom:10px; float:left}
 .container {border:solid 3px #ecf3f6; border-radius:4px; margin-bottom:10px;}    
    .content_holder {border:solid 1px #d6d6d6; border-radius:3px; padding:10px} 
    .content_holder.nomargin {margin:0; padding:0}
    .container.narrow_left {float:left; width:35%}
    .container.wide_right {margin-left:36%}
    .container.foottraf_stat {margin-left:245px}
 .edit_box {border-radius:6px; background:#efefef; padding:10px; position:relative; width:500px; margin-top:10px; /*display:none*/}
    .edit_box.nomargin {margin-top:0px}
    
    
.close {position:absolute; right:6px; top:6px; background:red; height:13px; width:13px; cursor:pointer; background:url('/imgs/reward_icons.png') no-repeat scroll left -69px}
.close:hover {background:url('/imgs/reward_icons.png') no-repeat scroll left -82px}
.edit {position:absolute; right:6px; top:22px; height:13px; width:13px; cursor:pointer; background:url('/imgs/icons.png') no-repeat scroll left -95px;}  
.edit:hover {background:url('/imgs/reward_icons.png') no-repeat scroll left -108px} 
        
.button {border-radius:6px; box-shadow:0 1px 0 #fff; padding: 4px 5px 5px 5px; width:180px; height: 34px; margin-bottom:0px;
    border-top:solid 1px #d3d1d1;
    background: -webkit-linear-gradient(top, #edebeb, #f1f1f1);
    background: -moz-linear-gradient(top, #edebeb, #f1f1f1);
    background: -ms-linear-gradient(top, #edebeb, #f1f1f1);
    background: -o-linear-gradient(top, #edebeb, #f1f1f1);}
    .edit_box .button {
        margin-bottom:0; width:130px;
        border-top:solid 1px #b8b8b8;
        background: -webkit-linear-gradient(top, #cfcfcf, #d8d6d6);
        background: -moz-linear-gradient(top, #cfcfcf, #d8d6d6);
        background: -ms-linear-gradient(top, #cfcfcf, #d8d6d6);
        background: -o-linear-gradient(top, #cfcfcf, #d8d6d6);}
    .button .button_body {border:solid 1px #6cb40a; border-radius:5px; height:32px; box-shadow:0 2px 2px #777;
        background-color:#90d10e;
        background: -webkit-linear-gradient(top, #9eed20, #8bc708);
        background: -moz-linear-gradient(top, #9eed20, #8bc708);
        background: -ms-linear-gradient(top, #9eed20, #8bc708);
        background: -o-linear-gradient(top, #9eed20, #8bc708);}
        .button .button_body span {border-top:solid 1px #d4f89d; border-radius:4px; height:25px; display:block; text-align:center; color:#3d5f04; 
            text-shadow:0 1px 0 #e2f2c2; font-size:12pt; font-weight:bold; cursor:pointer; padding-top:6px}
    .button .button_body:active { box-shadow:0 1px 0 #999;
        background-color:#72a217;
        background: -webkit-linear-gradient(top, #72b803, #8bc708);
        background: -moz-linear-gradient(top, #72b803, #8bc708);
        background: -ms-linear-gradient(top, #72b803, #8bc708);
        background: -o-linear-gradient(top, #72b803, #8bc708);}
        .button .button_body:active span {border-top:solid 1px #a9d465;}
 

.fields {}
    .field {padding:2px; font-size:13pt; color:#333; border:solid 1px #aaa; border-radius:3px}
    .fields dt {margin-bottom:3px}
    .fields dd {margin-bottom:10px}
    .fields .field {width:400px}
    .fields .button {margin-top:20px}
     

.calendars {padding:14px 0 0 15px; float:left; color:#666}
    .calendars .icon {float:left; width:16px; height:16px; background:url('/imgs/reward_icons.png') no-repeat scroll left -338px; margin-top:2px}
    .calendars span {float:left; display:block; float:left; padding:2px 5px 0 5px;}
    .calendars .button_g {width:80px; margin-left:5px}
    
 
 .left_half {float:left; width:50%}
    .left_half .container {margin-right:5px}
 .right_half {float:right; width:50%}
    .right_half .container {margin-left:5px}
 
 
 

.stat_users_list {height:266px; padding-top:14px}
    .stat_users_list li {float:left; width:33%; height:70px}
        .stat_users_list li img {border:solid 2px #d2d2d2; width:50px; height:50px; float:left}
        .stat_users_list li p {margin-left:60px}
        .stat_users_list li p.name {font-weight:bold}
        .stat_users_list li p.fb {width:16px; height:16px; background:url('/imgs/reward_icons.png') no-repeat scroll left -358px; margin-top:3px}
        .stat_users_list li p.fb.off {visibility:hidden}

.general_stat {width:100%; border-collapse:collapse; table-layout:fixed; border-radius:2px; overflow:hidden}
    .general_stat thead td, .general_stat thead th {padding:4px; border-top:solid 1px #fff; font-weight:bold; color:#585858; text-shadow:1px 1px 0 #fff; background:#e7e7e7; font-size:11pt; cursor:default}
    .general_stat thead td.narrow, .general_stat thead th.narrow {width:70px}
    .general_stat thead td.wide, .general_stat thead th.wide {width:25%}
    .sort_up, .sort_down {display:none}
    .general_stat tbody .summ td {font-weight:bold; border-left:none}
    .general_stat tbody td {padding:4px; border-top:solid 1px #d5dce0; border-left:solid 1px #d5dce0}
    .general_stat tbody tr td:first-child {border-left:none}
    .general_stat tbody td.many {font-weight:bold; color:#0bb902; font-size:16pt}
    .general_stat tbody td.normal {font-weight:bold; color:#f7cb00; font-size:16pt}
    .general_stat tbody td.low {font-weight:bold; color:#ed2d0e; font-size:16pt}
        .general_stat tbody td  input{width:60px; cursor:pointer}
    .general_stat tbody .odd td {background:#f6f6f2}
    .general_stat tbody .too_many td {color:#999; font-weight:bold; text-align:center; font-size:12pt; padding:0}
  
a.printer {display: block; height: 20px; width: 20px; background:url('/imgs/reward_icons.png') no-repeat scroll left 2px; margin: 3px 0 0 3px; float: left}  
    a.printer:hover {background-position: 0 -18px}
a.edit_reward {display: block; height: 20px; width: 20px; background:url('/imgs/reward_icons.png') no-repeat scroll left -39px; margin: 3px 0 0 6px; float: left} 
    a.edit_reward:hover {background-position: 0 -59px}   

        
.scan_item {padding-bottom:10px; border-bottom:solid 1px #dddddd; margin-bottom:10px}                 
    .scan_item h4 {font-size:16pt; font-weight:normal; color:#444; padding-bottom:5px}                 
    .scan_item .scan_info {float:left; height:200px;width:200px}    
        .scan_item .scan_info img {width:180px; height:144px; border:solid 2px #d2d2d2; margin-bottom:5px}    
    
a {color:#679fdd;}   
    a:hover {color:#265387;}           
   
.reward_table {margin: 0 10px 10px 0} 
    .reward_table td {padding: 2px 10px 2px 0; height:25px} 
    .reward_table td.issue {font-weight: bold} 
        .reward_table td .field {width: 600px}                  
   
   
.changes_history {padding: 0}  
    .changes_history li {border-top:dashed 1px #aaa; padding: 10px 0} 
        .changes_history li p {margin: 10px 0 0 10px; background: #eee; padding: 10px; border-radius: 5px}                
                  
.reward_actions {margin:0 0 10px 0; background: #eee; border-radius: 5px; padding: 10px; width: 250px}  
    .reward_actions li {padding: 4px 0}
        .reward_actions li a {padding: 1px 0 1px 20px; background: url('/imgs/reward_icons.png') no-repeat scroll left top}
            .reward_actions li.print_reward a {}
                .reward_actions li.print_reward a:hover {background-position: 0 -20px}
             .reward_actions li.edit_reward a {background-position: 0 -40px}
                .reward_actions li.edit_reward a:hover {background-position: 0 -60px}           
                        
.reward_comment {margin: 0 0 10px 0px; width: 700px; height: 100px}  

.reward_filter {padding-top: 20px}   

.paging {height:50px; margin-top:10px}
    .paging li {float:left; margin-right:5px;}
        .paging li a {display:block; text-decoration:none; padding:4px; border:solid 1px #cacaca; color:#454545; font-weight:bold; border-radius:3px; text-shadow:0 1px 0 #fff;
            background-color:#e0e0e0;
            background: -webkit-linear-gradient(top, #ebebeb, #d3d3d3);
            background: -moz-linear-gradient(top, #ebebeb, #d3d3d3);
            background: -ms-linear-gradient(top, #ebebeb, #d3d3d3);
            background: -o-linear-gradient(top, #ebebeb, #d3d3d3);}
        .paging li.current a, .paging li.current a:hover {background:#bbbbbb}
        .paging li a:hover {
            background-color:#cff6a7;
            background: -webkit-linear-gradient(top, #e6ffcd, #bbf087);
            background: -moz-linear-gradient(top, #e6ffcd, #bbf087);
            background: -ms-linear-gradient(top, #e6ffcd, #bbf087);
            background: -o-linear-gradient(top, #e6ffcd, #bbf087);}
        .paging li.next a, .paging li.prev a {padding:4px 10px}                   