<?
    $this->headScript()->appendFile('/js/lib/jquery/jquery.blockUI.js');
    $this->headScript()->appendFile('/js/shopfee/modalForm.v1.js');
    $this->headScript()->appendFile('/js/lib/moment.js');
    $this->headScript()->appendFile('/js/shopfee/modalForm/rule.v7.js');

    $this->headScript()->appendFile('/js/lib/jquery/jquery-ui-1.8.17.custom.min.js');
    $this->headScript()->appendFile('/js/lib/jquery/ui.datepicker.js');
    $this->headLink()->appendStylesheet('/js/lib/jquery/ui/themes/eggplant/jquery-ui-1.8.5.custom.css');
    $this->headLink()->appendStylesheet('/css/admin/ui.datepicker.css');

    $this->headScript()->captureStart();
?>
    registry.scanIds = [<?=implode(',',$this->scanList->getListEntitiesId())?>];
    $(function(){
        var formOptions = {
                                template:'<?=preg_replace("/[\n\r]/","",str_replace("'","\'",$this->action('rule-form','control','edit',array('id' => 0))))?>',
                                editObjectId:0,
                                $showObject:$('#rule_main_add'),
                                objectType: 'rule',
                                top:'5px',
                                scanIds:registry.scanIds,
                                dateFrom: '',
                                dateTo:''
                          };

        new RuleModalForm(formOptions);

        $(document).bind('LEFT_SHOP_CHANGED',{},function(event,shopId,cityId){
            $('#form-left-shop').submit();
        });
    });
<?php
    $this->headScript()->captureEnd();
?>
<div class="content">
    <?=$this->partial('include/left-shop-list.phtml',array('shopListByCity' => $this->shopListByCity,'selectedShopId' => $this->selectedShopId,'selectedCityId' => $this->selectedCityId))?>

    <div class="container tree_element">
        <div class="content_holder">
            <?=$this->render('control/menu.phtml')?>


            <div class="campaigns" >
                <div class="button" id="rule_main_add"><div class="button_body"><span>Новая кампания</span></div></div>

                <?
                    if($this->currentRuleList->count())
                    {
                        ?>
                        <h2>Текущие кампании</h2>
                        <?
                            foreach($this->currentRuleList as $rule)
                            {

                                echo $this->action('rule-partial','control','edit',array('ruleId' => $rule->getId(),'isOverlapped' => in_array($rule->getId(),$this->overlapRuleIds)));
                            }
                    }
                ?>

                <?
                    if($this->futureRuleList->count())
                    {
                        ?>
                        <h2>Будущие кампании</h2>
                        <?
                            foreach($this->futureRuleList as $rule)
                            {
                                echo $this->action('rule-partial','control','edit',array('ruleId' => $rule->getId(),'isOverlapped' => in_array($rule->getId(),$this->overlapRuleIds)));
                            }
                    }
                ?>

                <?
                    if($this->oldRuleList->count())
                    {
                        ?>
                        <h2>Прошедшие кампании</h2>
                        <?
                            foreach($this->oldRuleList as $rule)
                            {

                                echo $this->action('rule-partial','control','edit',array('ruleId' => $rule->getId(),'isOverlapped' => in_array($rule->getId(),$this->overlapRuleIds)));
                            }
                    }
                ?>
            </div>




        </div>
    </div>
</div>