<ul class="managing_submenu">
    <li <?=($this->pageControlRule ? 'class="current"' : '')?>><a href="/edit/control/">Управление кампаниями</a></li>
    <li <?=($this->pageControlInfo ? 'class="current"' : '')?>><a href="/edit/control/info/">Информация</a></li>
    <li <?=($this->pageControlStat ? 'class="current"' : '')?>><a href="/edit/control/stat/">Статистика</a></li>
</ul>