<?
    if($this->rule)
        $rule = new Decorator_Rule_Main($this->rule);

    $ruleId = $this->rule ? $this->rule->getId() : '0';
?>
<form method="post" action="<?=$this->form->getAction()?>" data-object-id="<?=$ruleId?>" data-object-type="rule">
    <input type="hidden" name="id" value="<?=$this->form->getElement('id')->getValue()?>" />
    <div class="edit_campaign">
        <h2>Редактирование кампании</h2>
        <label>Даты кампании:</label>
        <div class="calendars">
            <?
                if($this->rule && $this->rule->isRunningNow())
                {
                    ?>
                        <span><?=$this->form->getDateFrom()?></span>
                        <input type="hidden" name="date_from" value="<?=$this->form->getDateFrom()?>" />
                    <?
                }
                else
                {
                    ?>
                        <input type="text" name="date_from" class="date_element" value="<?=$this->form->getDateFrom()?>" />
                    <?
                }
            ?>
            <input type="text" name="date_to" class="date_element" value="<?=$this->form->getDateTo()?>" />
        </div>
        <div class="clear"></div>
        <label>География:</label>
        <div class="geography" data-checkbox-recursive-container="1">
            <?
                if(count($this->shopList) > 0)
                {
                    ?>
                        <p class="root"><label><input type="checkbox" data-checkbox-recursive="1"> Вся сеть</label></p>
                        <ul class="city_tree">
                            <?
                                foreach($this->shopList as $cityId => $container)
                                {
                                    $cityName = $container['cityName'];
                                    $shopList = $container['shopList'];
                                    ?>
                                        <li data-checkbox-recursive-container="1">
                                            <p>
                                                <label>
                                                    <input type="checkbox" data-checkbox-recursive="1">
                                                    <?=$cityName?>
                                                </label>
                                            </p>
                                            <ul>
                                                <?
                                                    foreach($shopList as $shop)
                                                    {
                                                        $isChecked = in_array($shop->getId(),$this->form->getElement('rule_shop_id')->getValue());
                                                        ?>
                                                            <li>
                                                                <label <?=($shop->isTransmitterAvailable() ? 'class="walkin"' : '')?>>
                                                                    <input type="checkbox" name="rule_shop_id[]" <?=($isChecked ? 'checked="checked"' : '')?> value="<?=$shop->getId()?>" data-has-transmitter="<?=($shop->isTransmitterAvailable() ? '1' : '0')?>" />
                                                                    <?=$shop->getAddress()?>
                                                                </label>
                                                            </li>
                                                        <?
                                                    }
                                                ?>
                                            </ul>
                                        </li>
                                    <?
                                }
                            ?>
                        </ul>
                    <?
                }
                else
                {
                    ?>
                        <p class="root">Точки отсутствуют</p>
                    <?
                }
            ?>
        </div>
        <label>Ставки:</label>
        <table class="stat_table">
            <thead>
                <tr>
                    <td>Активность</td><td>Ставка</td><td>Лимит</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Посещения</td>
                    <td class="bid">
                        <input type="text" value="<?=$this->form->getElement('checkin')->getValue()?>" name="checkin" />
                    </td>
                    <td class="bid">
                        <input type="text" value="<?=$this->form->getElement('limit_checkin')->getValue()?>" name="limit_checkin" />
                    </td>
                </tr>
                <?
                    if($this->form->getElement('buy'))
                    {
                        ?>
                            <tr class="odd">
                                <td>Покупки</td>
                                <td class="bid">
                                    <input type="text" value="<?=$this->form->getElement('buy')->getValue()?>" name="buy" />
                                </td>
                                <td class="bid">
                                    <input type="text" value="<?=$this->form->getElement('limit_buy')->getValue()?>" name="limit_buy" />
                                </td>
                            </tr>
                        <?
                    }
                ?>
                <?
                    $i = 0;
                    foreach($this->scanList as $scan)
                    {
                        $scanElementPostfix = 'scan_'.$scan->getId();
                        ?>
                            <tr <?=($i%2 ? '' : 'class="odd"')?>>
                                <td>Скан <?=$scan->getName()?></td>
                                <td class="bid">
                                    <input type="text" value="<?=$this->form->getElement($scanElementPostfix)->getValue()?>" name="<?=$scanElementPostfix?>" />
                                </td>
                                <td class="bid">
                                    <input type="text" value="<?=$this->form->getElement('limit_'.$scanElementPostfix)->getValue()?>" name="<?=('limit_'.$scanElementPostfix)?>" />
                                </td>
                            </tr>
                        <?
                        $i++;
                    }
                ?>
                <tr <?=($i%2 ? '' : 'class="odd"')?>>
                    <td>Просмотры рекламы</td>
                    <td class="bid">
                        <input type="text" value="<?=$this->form->getElement('shoppage')->getValue()?>" name="shoppage" />
                    </td>
                    <td class="bid">
                        <input type="text" value="<?=$this->form->getElement('limit_shoppage')->getValue()?>" name="limit_shoppage" />
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clear"></div>
        <div class="error" style="display:none;" data-error-rule-id="<?=$ruleId?>"></div>
        <input type="submit" value="Сохранить" class="small_button" />
        <input type="button" value="Отменить" class="small_button"  data-cancel-object-id="<?=$ruleId?>" />
        <a href="#" class="delete_campaign" data-delete-object-id="<?=$ruleId?>">Удалить кампанию</a>
    </div>
 </form>