<?
    $this->headScript()->appendFile('/js/lib/jquery/jquery.blockUI.js');
    $this->headScript()->appendFile('/js/shopfee/modalForm.v1.js');
    $this->headScript()->appendFile('/js/lib/moment.js');
    $this->headScript()->appendFile('/js/shopfee/modalForm/rule.v7.js');
    $this->rule = new Decorator_Rule_Main($this->rule);
    $this->headScript()->captureStart();
?>
    $(function(){
        var formOptions = {
                                template:'<?=preg_replace("/[\n\r]/","",str_replace("'","\'",$this->action('rule-form','control','edit',array('id' => $this->rule->getId()))))?>',
                                editObjectId:<?=$this->rule->getId()?>,
                                $showObject:$('[data-edit-rule-id=<?=$this->rule->getId()?>]'),
                                objectType: 'rule',
                                top:'5px',
                                scanIds:registry.scanIds,
                                dateFrom: '<?=$this->rule->getDateFrom()?>',
                                dateTo:'<?=$this->rule->getDateTo()?>'
                          };

        new RuleModalForm(formOptions);
    });
<?php
    $this->headScript()->captureEnd();
?>
<div class="campaign<?=($this->isOverlapped ? ' overlap' : '')?>">
    <?
        if($this->isOverlapped)
        {
            ?>
                <div class="overlap_message">На данные сроки есть пересечения с другими кампаниями</div>
            <?
        }
    ?>
    <p><a href="#" class="local" data-edit-rule-id="<?=$this->rule->getId()?>">Редактировать кампанию</a></p>
    <?
        if($this->rule->isChanged() && !$this->rule->isPast())
        {
            ?>
                <div class="changes">Все изменения в рекламной кампании вступят в силу на следующий день (<?=date('d.m.Y',time() + 24*60*60)?>) в час ночи.</div>
            <?
        }
    ?>
    <div class="clear"></div>
    <p>География кампании: <strong><?=$this->ruleShopNumber?> <?=Shopfee_Translit::getDeclination($this->ruleShopNumber, 'точка', 'точки', 'точек')?> из <?=$this->networkShopNumber?></strong></p>
    <p>Сроки кампании: <strong><?=$this->rule->getDateFrom()?>—<?=$this->rule->getDateTo()?></strong></p>
    <!--<p class="new">Новые сроки кампании: <strong>20.06.2012—25.07.2012</strong></p>
    <p class="new">География кампании изменена</p> -->
    <table class="stat_table">
        <thead>
            <tr>
                <td>Активность</td><td>Ставка</td><td>Пользователи</td><td>Потрачено</td><td>Лимит</td>
            </tr>
        </thead>
        <tbody>
            <?
                $i = 0;
                $grouppedItems = $this->rule->getGrouppedItems();
                $overallSpentAmount = $grouppedItems[Decorator_Rule_Main::GROUPPED_ITEM_OVERALL][Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['spent_amount'];
                $overallMaxSpendAmount = $grouppedItems[Decorator_Rule_Main::GROUPPED_ITEM_OVERALL][Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['max_spend_amount'];
                $overallMaxSpendAmountChanged = $grouppedItems[Decorator_Rule_Main::GROUPPED_ITEM_OVERALL][Decorator_Rule_Main::GROUPPED_ITEM_CHANGED]['max_spend_amount'];
                foreach($grouppedItems as $key => $itemContainer)
                {
                    if($key == Decorator_Rule_Main::GROUPPED_ITEM_OVERALL)
                        continue;
                    $hasCurrentItem = $itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['action_type'] !== null;
                    $hasChangedItem = $itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CHANGED]['action_type'] !== null;

                    ?>
                        <tr <?=($i%2 == 1 ? 'class="odd"' : '')?>>
                            <td>
                                <?=($hasCurrentItem ? $itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['action_type'] : $itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CHANGED]['action_type'])?>
                            </td>
                            <td>
                                <?=$itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['amount']?> руб.
                                <?
                                    if($hasChangedItem)
                                    {
                                        if(!$hasCurrentItem || $itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['amount'] != $itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CHANGED]['amount'])
                                        {
                                            ?>
                                                <span class="new"><?=$itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CHANGED]['amount']?> руб.</span>
                                            <?
                                        }
                                    }
                                ?>
                            </td>
                            <td>
                                <?=$itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['user_number']?>
                            </td>
                            <td>
                                <?=$itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['spent_amount']?> руб.
                            </td>
                            <td>
                                <?=$itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['max_spend_amount']?> руб.
                                <?
                                    if($hasChangedItem)
                                    {
                                        if(!$hasCurrentItem || $itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CURRENT]['max_spend_amount'] != $itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CHANGED]['max_spend_amount'])
                                        {
                                            ?>
                                                <span class="new"><?=$itemContainer[Decorator_Rule_Main::GROUPPED_ITEM_CHANGED]['max_spend_amount']?> руб.</span>
                                            <?
                                        }
                                    }
                                ?>
                            </td>
                        </tr>
                    <?
                    $i++;
                }
            ?>
            <tr class="itogo">
                <td>Итого:</td>
                <td></td>
                <td></td>
                <td><?=$overallSpentAmount?> руб.</td>
                <td>
                    <?=$overallMaxSpendAmount?> руб.
                    <?
                        if($this->rule->isChanged() && $overallMaxSpendAmount != $overallMaxSpendAmountChanged)
                        {
                            ?>
                                <span class="new"><?=$overallMaxSpendAmountChanged?> руб.</span>
                            <?
                        }
                    ?>
                </td>
            </tr>
        </tbody>
    </table>
    <?
        if(count($this->messages) > 0)
        {
            ?>
                <div class="help"><strong>Подсказка:</strong><br />
                    <?
                        if(isset($this->messages[Decorator_Rule_Main::WARNING_MESSAGE_NO_CHECKIN]))
                        {
                            ?>
                                — Вознаграждение за покупку пока что не доступно для вашего магазина. Чтобы подключить эту активность, свяжитесь с нами по телефону <?=Application::getSupportPhone()?><br />
                            <?
                        }
                        if(isset($this->messages[Decorator_Rule_Main::WARNING_MESSAGE_NO_SCAN]))
                        {
                            ?>
                                — Добавьте сканы в разделе <a href="/edit/shopcase/#scan_caption">витрина магазина</a>
                            <?
                        }
                    ?>
                </div>
            <?
        }
    ?>
    <div class="clear"></div>
</div>