<?
    $this->headScript()->appendFile('/js/lib/jquery/jquery-ui-1.8.17.custom.min.js');
    $this->headScript()->appendFile('/js/lib/jquery/ui.datepicker.js');
    $this->headLink()->appendStylesheet('/js/lib/jquery/ui/themes/eggplant/jquery-ui-1.8.5.custom.css');
    $this->headLink()->appendStylesheet('/css/admin/ui.datepicker.css');
    
    $this->headScript()->captureStart();
?>
    $(function(){
        //Календарик
        $.datepicker.setDefaults($.datepicker.regional['ru']);
        $.datepicker.setDefaults(
        {
            showOn: 'both',
            buttonImageOnly: true,
            buttonImage: '/img/admin/calendar.gif',
            buttonText: 'Calendar',
            minDate: '-100Y',
            maxDate: '+10Y',
            firstDay: 1
        } );
        $('.date_element').each(function(){
            $(this).datepicker({dateFormat: 'yy-mm-dd'});
        });
        
        
        $(document).bind('LEFT_SHOP_CHANGED',{},function(event,shopId,cityId){
            var $form = $('#form-control-stat');
            $('[name="shop_id"]',$form).val(shopId);
            $('[name="city_id"]',$form).val(cityId);
            $form.submit();
        });
    });
<?php 
    $this->headScript()->captureEnd();
?>
<div class="content">
    <?=$this->partial('include/left-shop-list.phtml',array('shopListByCity' => $this->shopListByCity,'selectedShopId' => $this->selectedShopId,'selectedCityId' => $this->selectedCityId))?>
    
    <div class="container tree_element">
        <div class="content_holder">
            <?=$this->render('control/menu.phtml')?>
            
            
            <div class="stats">
                <h2><?=$this->infoTitle?> <?=($this->totalNumber !== null ? '('.$this->totalNumber.' '.Shopfee_Translit::getDeclination($this->totalNumber,'точка','точки','точек').')' : '('.$this->selectedShop->getAddress().')')?></h2> 
                <form action="/edit/control/stat/" method="get" id="form-control-stat">
                    <div class="calendars">
                        <input type="text" name="date_from" class="date_element" value="<?=$this->dateFrom?>" />
                        <input type="text" name="date_to" class="date_element" value="<?=$this->dateTo?>" />
                        <input type="hidden" name="shop_id"  value="<?=$this->selectedShopId?>" />
                        <input type="hidden" name="city_id"  value="<?=$this->selectedCityId?>" />
                        <input type="submit" value="Показать" class="button_g">
                    </div>
                </form>
                <table class="stat_table">
                    <thead>
                        <tr>
                            <td>Дата</td>
                            <td>Потрачено</td>
                            <td>Посещения</td>
                            <td>За посещения</td>
                            <? 
                                if($this->showBuy)
                                {
                                    ?>
                                        <td>Покупки</td>
                                        <td>За покупки</td>
                                    <?
                                }
                            ?>
                            <td>Сканы</td>
                            <td>За сканы</td>
                            <? 
                                if($this->showShoppage)
                                {
                                    ?>
                                        <td>Показы рекламы</td>
                                        <td>За показы</td>
                                    <?
                                } 
                            ?>
                        </tr>
                    </thead>
                    <tbody>
                        <? 
                            $i = 0;
                            foreach($this->statList as $item)
                            {
                                ?>
                                    <tr<?=($i%2 == 1 ? ' class="odd"' : '')?>> 
                                        <td><?=$item->getDate()?></td>
                                        <td><?=$item->getSpentAmount()?></td>
                                        <td><?=$item->getCheckinNumber()?></td>
                                        <td><?=$item->getCheckinAmount()?></td>
                                        <? 
                                            if($this->showBuy)
                                            {
                                                ?>
                                                    <td><?=$item->getBuyNumber()?></td>
                                                    <td><?=$item->getBuyAmount()?></td>
                                                <?
                                            }
                                        ?>
                                        <td><?=$item->getScanNumber()?></td>
                                        <td><?=$item->getScanAmount()?></td>
                                        <? 
                                            if($this->showShoppage)
                                            {
                                                ?>
                                                    <td><?=$item->getShoppageNumber()?></td>
                                                    <td><?=$item->getShoppageAmount()?></td>
                                                <?
                                            } 
                                        ?>
                                    </tr>
                                <?
                                $i++;
                            }
                            
                            $colspan = '5';
                            if($this->showBuy)
                            {
                                $colspan += 2;
                            }
                            if($this->showShoppage)
                            {
                                $colspan += 2;
                            }
                            if(count($this->statList) > 0)
                            {
                                ?>
                                    <tr class="itogo"> 
                                        <td>Всего</td>
                                        <? /*?>
                                        <td colspan="<?=$colspan?>"><?=$this->overallAmount?> руб.</td>
                                        <?*/?>
                                        <td>
                                            <?=$this->overallAmount?> руб.
                                        </td> 
                                        <td>
                                            <?=$this->checkinNumber?>
                                        </td>
                                        <td>
                                            <?=$this->checkinAmount?> руб.
                                        </td>
                                        <? 
                                            if($this->showBuy)
                                            {
                                                ?>
                                                    <td>
                                                        <?=$this->buyNumber?>
                                                    </td>
                                                    <td>
                                                        <?=$this->buyAmount?> руб.
                                                    </td>
                                                <?
                                            }
                                        ?>
                                        <td>
                                            <?=$this->scanNumber?>
                                        </td>
                                        <td>
                                            <?=$this->scanAmount?> руб.
                                        </td>
                                        <? 
                                            if($this->showShoppage)
                                            {
                                                ?>
                                                    <td>
                                                        <?=$this->shoppageNumber?>
                                                    </td>
                                                    <td>
                                                        <?=$this->shoppageAmount?> руб.
                                                    </td>
                                                <?
                                            } 
                                        ?>
                                    </tr>
                                <?
                            }
                        ?>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>