<form id="form_admin_promocode" action="<?=$this->form->getAction()?>" method="<?=$this->form->getMethod()?>" enctype="<?=$this->form->getEnctype()?>" role="form">
    <?php
        foreach($this->form->getElements() as $element)
        {
            /**
             * @var Zend_Form_Element $element
             */
            if($element->getName() == 'logo')
            {
                ?>
                    <div style="display:none;">
                        <?=$element?>
                    </div>
                <?
            }
            else
            {
                if(!($element instanceof Zend_Form_Element_Submit) && !($element instanceof Zend_Form_Element_Button)){
                    echo $element;
                } else {
                    $buttonElements[] = $element;
                }
            }
        }

        echo $this->partial('index/button-group.phtml',array('buttonElements' => $buttonElements));
    ?>
</form>