<div class="row">
    <a href="/admin/promocode/add/" class="btn btn-success">Add promocode</a>
</div>
<br />
<table class="table table-bordered table-striped" data-table-sortable="1">
    <thead>
        <th>id</th>
        <th>Name</th>
        <th>Activity period</th>
        <th>Price</th>
        <th>Limit</th>
    </thead>
    <tbody>
        <?php
            foreach($this->promocodeList as $promocode)
            {
                $promocode = new Decorator_Promocode($promocode);
                ?>
                    <tr>
                        <td><?=$promocode->getId()?></td>
                        <td><a href="/admin/promocode/edit/id/<?=$promocode->getId()?>/" <?=(!$promocode->isActive() ? ' style="text-decoration:line-through;"' : '')?> class="btn btn-primary btn-sm"><?=$promocode->getName()?></a></td>
                        <td><?=$promocode->getDate()?></td>
                        <td><?=$promocode->getAmount()?></td>
                        <td><?=$promocode->getLimit()?></td>
                    </tr>
                <?php
            }
        ?>
    </tbody>
</table>
<?php
if (isset($this->paginator))
    echo $this->paginationControl($this->paginator, NULL, 'paginators/default.phtml', array("pageUrl" => $this->pageUrl, 'paginator' => $this->paginator->getAdapter()));
?>