<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Soukkick | панель управления магазина</title>
    <link href="/css/edit.v7.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/js/lib/jquery/ui/themes/base/jquery.ui.all.css">
    <script type="text/javascript" src="/js/lib/jquery/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/js/lib/jquery/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/js/lib/jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/js/lib/jquery/jquery.ui-slider.js"></script>
    <script type="text/javascript" src="/js/lib/jquery/visualize.jQuery.js"></script>
    <script type="text/javascript" src="/js/lib/jquery/jquery.validate.multi.js"></script>
    <script type="text/javascript" src="/js/shopfee/editor.v2.js"></script>
    <script>
        var registry = {};
        registry.supportPhone = '<?=Application::getSupportPhone()?>';
    </script>
    <?php
        echo $this->headScript();
        echo $this->headStyle();
        echo $this->headLink();
    ?>
    <script>
        $(function(){
            initSubmitForm($(document));
            initCloseForm($(document));

            $('#right_menu_click').click(function(){
                $('#Account_dropmenu').slideToggle();
            });
        });
        var formRules = {};
        var formMessages = {};
    </script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div id="Head">
        <h1>Панель управления магазина</h1>
        <div class="support">
            Техническая поддержка <span><?=Application::getSupportPhone()?></span>
        </div>
        <div id="Main_menu">
            <ul>
                <li class="home <?=($this->pageFeed ? 'current' : '')?>"><a href="/edit/feed/">Обзор</a></li>
                <li <?=($this->pageShopcase ? 'class="current"' : '')?>><a href="/edit/shopcase/">Витрина</a></li>
                <li class="last <?=($this->pageControl ? ' current' : '')?>"><a href="/edit/control/">Управление и статистика</a></li>
                <!-- <li class="last <?=($this->pageBudget ? 'current' : '')?>"><a href="/edit/budget/">Бюджет</a></li> -->
                <li class="account_menu"><a href="#" id="right_menu_click"><img width="20" height="20" src="<?=$this->currentTradeNetwork->getBigPicturePathFull()?>" /><span><?=$this->currentTradeNetwork->getTitle()?></span></a></li>
            </ul>
        </div>
        <ul id="Account_dropmenu">
            <? /*?>
            <li><a href="/edit/settings/">Аккаунт магазина</a></li>
            <?*/?>
            <li><a href="/edit/index/exit/">Выход</a></li>
        </ul>
    </div>
    <?=$this->layout()->content?>
</body>
</html>