    <div class="top_line"></div>
    <div class="head">

        <div class="wrap">
            <a class="logo" href="/"></a>
        </div>
    </div>
    <div class="wrap">
        <h1><?=$this->sales->getName()?></h1>
        <div class="content">
            <div class="good_page">
                <img width="<?=Application::getSalesBigPictureWidth()?>" height="<?=Application::getSalesBigPictureHeight()?>" src="<?=$this->sales->getBigPicturePathFull()?>" />
                <p><?=$this->sales->getDescription()?></p>
                <img class="shop_logo" width="<?=Application::getTradeNetworkPictureSide()?>" height="<?=Application::getTradeNetworkPictureSide()?>" src="<?=$this->tradeNetwork->getBigPicturePathFull()?>" />
            </div>
            <div class="clear"></div>
        </div>


    </div>
    <div class="footer">
        <div class="bottom_line"></div>
    </div>