<form class="fields" id="form_scanproduct" action="<?=$this->form->getAction()?>" method="<?=$this->form->getMethod()?>" enctype="<?=$this->form->getEnctype()?>">
    <div class="edit_box_form_container">
        <div class="close close_form" title="Закрыть"> </div>
        <input type="hidden" name="id" value="<?=$this->form->getValue('id')?>" />
        <?php 
            if($this->scanProduct)
            {
                ?>
                    <img src="<?=$this->scanProduct->getBigPicturePathFull()?>">
                <?php
            }
        ?>
        <?=$this->form->getElement('file')?>
        <p class="caption">Размер картинки для скана товара: <strong><?=Application::getScanProductBigPictureWidth()?> х <?=Application::getScanProductBigPictureHeight()?></strong> пикселей</p>
        <div class="separator"></div>
        <dl>
            <dt><label for="name">Название</label></dt>
            <dd>
                <textarea rows="5" maxlength="500" id="name" name="name"><?=$this->form->getElement('name')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('name')))?>
            </dd>
            <dt><label for="description">Описание</label></dt>
            <dd>
                <textarea rows="5" name="description" id="description" ><?=$this->form->getElement('description')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('description')))?>
            </dd>
            <dt><label for="barcode">Штрих-код</label></dt>
            <dd><input id="barcode" name="barcode" class="field" type="text" value="<?=$this->form->getElement('barcode')->getValue()?>"></dd>
        </dl>
        <div class="separator"></div>
        <div class="button form_submit">
            <div class="button_body">
                <span>Сохранить</span>
            </div>
        </div>
    </div>
</form>