<?php 
	if ($this->pageCount)
	{ 
		?>
		    <ul class="paging">
				<?php 
			        if(isset($this->previous))
				    {
				    ?>
                            <li class="prev"><a href="<?=$this->paginator->getURL($this->pageUrl, $this->previous)?>" title="Previous"><</a></li>
						<?php
					}
					foreach ($this->pagesInRange as $page)
					{ 
					    ?>
					        <li <?=($page == $this->current ? 'class="current"' : '')?>><a href="<?=$this->paginator->getURL($this->pageUrl, $page)?>"><?=$page;?></a></li>
					    <?
					}
					if(isset($this->next))
					{
					    ?>
                            <li class="next"><a href="<?=$this->paginator->getURL($this->pageUrl, $this->next)?>" title="Next">></a></li>
						<?php
					}
				?>	
			</div>
		<?php
	}
?>