<?=$this->render('banner/form.phtml')?>
<img src="<?=$this->banner->getPicturePathFull()?>" width="100" />
<br />
<br />
<br />
<input type="button" onclick="location.href='/admin/banner/delete/id/<?=$this->banner->getId()?>/';" value="Удалить баннер" />