<?
    if(count($this->bannerList) == 0)
    {
        ?>
            <a href="/admin/banner/add/">Добавить баннер</a>
        <?
    }
?>
<br />
<table>
    <thead>
        <th>id</th>
        <th>Картинка</th>
        <th>Дата протухания</th>
        <th></th>
    </thead>
    <tbody>
        <?php
            foreach($this->bannerList as $banner)
            {
        	    ?>
                    <tr>
                        <td><?=$banner->getId()?></td>
                        <td><a href="/admin/banner/edit/id/<?=$banner->getId()?>/"><img width="100" src="<?=$banner->getPicturePathFull()?>"/></a></td>
                        <td><?=$banner->getDateExpire()?></td>
                        <td>
                            <a href="/admin/banner/delete/id/<?=$banner->getId()?>/" class="delete"><img src="/img/admin/del.gif" /></a>
    	               </td>
                    </tr>
                <?php
            }
        ?>
    </tbody>
</table>
<?php
if (isset($this->paginator))
    echo $this->paginationControl($this->paginator, NULL, 'paginators/default.phtml', array("pageUrl" => $this->pageUrl, 'paginator' => $this->paginator->getAdapter()));
?>