<?php 
    $this->headScript()->appendFile('/js/shopfee/product.js');
    $this->headScript()->captureStart();
?>
    $(function(){
        PriceOrDiscount();
    });
<?php 
    $this->headScript()->captureEnd();
    
    $hasDiscount = false;//!$this->product || !$this->product->getPrice();
?>
<form class="fields" id="form_product" action="<?=$this->form->getAction()?>" method="<?=$this->form->getMethod()?>" enctype="<?=$this->form->getEnctype()?>">
    <div class="edit_box_form_container">
        <div class="close close_form" title="Закрыть"> </div>
        <input type="hidden" name="id" value="<?=$this->form->getValue('id')?>" />
        <?php 
            if($this->product)
            {
                ?>
                    <img src="<?=$this->product->getBigPicturePathFull()?>">
                <?php
            }
        ?>
        
        <?=$this->form->getElement('file')?>
        <p class="caption">Размер картинки для товара: <strong><?=Application::getProductBigPictureSide()?> х <?=Application::getProductBigPictureSide()?></strong> пикселей</p>
        <div class="separator"></div>
        <dl>
            <dt>Заголовок</dt>
            <dd>
            	<input class="field" id="price" name="price" type="text" value="<?=$this->form->getValue('price')?>" <?=(!$hasDiscount ? '' : 'disabled="disabled"')?>>
            </dd>
            <dt><label for="name">Краткое описание</label></dt>
            <dd>
                <textarea rows="5" maxlength="500" id="name" name="name"><?=$this->form->getElement('name')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('name')))?>
            </dd>
            <dt><label for="description">Описание</label></dt>
            <dd>
                <textarea name="description" id="description" rows="5" ><?=$this->form->getElement('description')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('description')))?>
            </dd>
        </dl>
        
        <div class="price_or_discount" style="display:none">
            <p class="caption">Выберите, что указывать для этого товара: <strong>заголовок</strong> или <strong>скидку</strong></p>
            <div class="price_or_discount_container <?=(!$hasDiscount ? '' : 'unactive')?>">
                <input id="SetPrice" type="radio" name="price_or_discount" <?=(!$hasDiscount ? 'checked="checked"' : '')?>>
                <label for="price" class="price_or_discount_label">Заголовок</label>
                
            </div>
            <div class="price_or_discount_container  <?=($hasDiscount ? '' : 'unactive')?>">
                <input id="SetDiscount" type="radio" name="price_or_discount" <?=($hasDiscount ? 'checked="checked"' : '')?>>
                <label for="discount" class="price_or_discount_label">Скидка</label>
                <input class="field" id="discount" name="discount" type="text" value="<?=$this->form->getValue('discount')?>" <?=($hasDiscount ? '' : 'disabled="disabled"')?>> %
            </div>
        </div>
        <div class="separator"></div>
        <dl class="shop_select" style="display:none;">
            <dt>Показывать для</dt>
            <dd>
                <?=$this->partial('include/shop_select.phtml',array('id' => 'product','currentTradeNetwork' => $this->currentTradeNetwork,'selectedShopIds' => $this->selectedShopIds))?>
            </dd>
        </dl>
        <div class="separator" style="display:none;"></div>
        <div class="button form_submit">
            <div class="button_body">
                <span>Сохранить</span>
            </div>
        </div>
    </div>
</form>