<?
    $this->headScript()->captureStart();
?>
    registry.mallEdit = {
                            mallId:<?=$this->mall->getId()?>
                        };

<?
    $this->headScript()->captureEnd();
    $this->headScript()->appendFile('/js/lib/jquery/jquery.validate.multi.js');
    $this->headScript()->appendFile('/js/shopfee/editor.v2.js');
    $this->headScript()->appendFile('/js/shopfee/views/admin/mall/validate.js');
    $this->headScript()->appendFile('/js/shopfee/views/admin/mall/edit.v1.js');
?>

<a href="/admin/mall/">← Все ТЦ</a>
<h2><?=$this->mall->getName()?></h2>
<img src="<?=$this->mall->getPicturePathFull()?>" style="display:none;" />
<p><?=$this->mall->getAddress()?></p><br>
<div class="button"><div class="button_body" id="edit_mall"><span>Редактировать</span></div></div>
<div class="edit_box edit_good">
    <?=$this->render('mall/form.phtml')?>
</div>

<h2>Карты этажей</h2>

<ul class="mall_maps">
    <?
        foreach($this->mall->getMaps() as $map)
        {
            ?>
                <li data-mall-map-id="<?=$map->getId()?>">
                    <!--<img src="<?=$map->getFilePathFull()?>">-->
                    <object data="<?=$map->getFilePathFull()?>" type="image/svg+xml" pluginspage="http://www.adobe.com/svg/viewer/install/" height="150" width="150"></object>
                    <div class="floor"><?=$map->getFloor()?> этаж</div>
                    <a class="close deletable" title="Удалить карту" href="/admin/mall-map/delete/id/<?=$map->getId()?>/"></a>
                    <a class="edit" style="display:none;" data-edit-mall-map-id="<?=$map->getId()?>" title="Редактировать карту" href="#"></a>
                    <a class="delete"></a>
                </li>
            <?
        }
    ?>
</ul>
<div class="clear"></div>
<div class="button"><div class="button_body" id="add_mall_map"><span>Добавить карту</span></div></div>
<div class="edit_box edit_good">
    <?=$this->partial('mall-map/form.phtml',array('form' => $this->mapForm))?>
</div>
<?
    if($this->mallCandidateList->count() && $this->mallTagList->count())
    {
        ?>
            <h2>Мэппинг магазинов</h2>
            <div class="mapping">
            <? /*?>
                <ul class="mall_list">
                    <?
                        foreach($this->mallCandidateList as $candidate)
                        {
                            ?>
                                <li data-candidate-shop-id="<?=$candidate->getId()?>"><?=$candidate->getName()?>, <?=$candidate->getAddress()?></li>
                            <?
                        }
                    ?>
                </ul>
                <?*/?>
                <select size="10" id="mall-candidate">
                    <?
                        foreach($this->mallCandidateList as $candidate)
                        {
                            ?>
                                <option value="<?=$candidate->getId()?>"><?=$candidate->getName()?>, <?=$candidate->getAddress()?></option>
                            <?
                        }
                    ?>
                </select>
                <input type="button" value="Связать" id="mall-tag-bind" data-mall-id="<?=$this->mall->getId()?>" />
                <select size="10" id="mall2shop-unbound">
                    <?
                        foreach($this->mallTagList as $mall2shop)
                        {
                            ?>
                                <option value="<?=$mall2shop->getId()?>"><?=$mall2shop->getTag()->getName()?></option>
                            <?
                        }
                    ?>
                </select>
                <? /*?>
                <ul class="mall_list">
                	<li>ZARA, ТЦ Метрополис</li>
                	<li class="selected">bershka, Метрополис</li>
                	<li>Перекресток, Ленинградское шоссе 20</li>
                	<li>Евросеть, Ленинградское шоссе 20</li>
                	<li>Республика игр, Ленинградское шоссе 20</li>
                	<li>Спортмастер, Ленинградское шоссе 18</li>
                	<li>JS Casual, ТЦ Метрополис</li>
                	<li>Перекресток, Ленинградское шоссе 20</li>
                	<li>Евросеть, ТЦ Метрополис</li>
                	<li>Республика игр, ТЦ Метрополис</li>
                	<li>Спортмастер, ТЦ Метрополис</li>
                	<li>JS Casual, ТЦ Метрополис</li>
                	<li>Перекресток, Ленинградское шоссе 20</li>
                	<li>Евросеть, ТЦ Метрополис</li>
                	<li>Республика игр, ТЦ Метрополис</li>
                	<li>Спортмастер, ТЦ Метрополис</li>
                	<li>JS Casual, ТЦ Метрополис</li>
                </ul>
                <?*/?>
            </div>
            <div class="clear"></div>
        <?
    }
?>
<h3>Связанные магазины</h3>
<table class="stat_table map_table">
    <thead>
        <tr><td>Название в Shopfee</td>
            <td>id в ТЦ</td>
            <td>действия</td>
        </tr>
    </thead>
    <tbody>
    <?
        $i = 0;
        foreach($this->mallBoundTagList as $mall2shop)
        {
            $shop = $mall2shop->getShop();
            ?>
                <tr <?=($i%2 ? 'class="odd"' : '')?>>
                    <td><?=$shop->getName()?>, <?=$shop->getAddress()?></td>
                    <td><?=$mall2shop->getTag()->getName()?></td>
                    <td><a class="local" href="/admin/mall/bind-shop/mall2shop_id/<?=$mall2shop->getId()?>/">Удалить</a></td>
                </tr>
            <?
            $i++;
        }
    ?>
    </tbody>
</table>



<br />
<br />
<?php
    /*if($this->showRegenerate)
    {
        ?>
            <h3 class="error">
                <?=$this->collisionMessage?>
                <br />
                <a href="/admin/shop/regenerate/transmitter_id/<?=$this->transmitter->getId()?>/">Перегенерировать последовательность</a>
                <br />
                <br />
            </h3>
        <?php
    }*/
?>