<form class="fields" id="form_mall" action="<?=$this->form->getAction()?>" method="<?=$this->form->getMethod()?>" enctype="<?=$this->form->getEnctype()?>">
    <div class="edit_box_form_container edit_good">
        <div class="close close_form" title="Закрыть"> </div>
        <dl>
	        <input type="hidden" name="id" value="<?=$this->form->getValue('id')?>" />
	        <div style="display:none;">
    	        <?php
    	            if($this->mall)
    	            {
    	                ?>
    	                    <img src="<?=$this->mall->getPicturePathFull()?>" style="border:solid 1px #d2d2d2; display:block; margin-bottom:5px"/>
    	                <?php
    	            }
    	        ?>

	            <?=$this->form->getElement('logo')?>
            </div>

	        <p class="caption">Размер логотипа для ТЦ: <strong><?/*=Application::getSalesBigPictureWidth()*/?> х <?/*=Application::getSalesBigPictureHeight()*/?></strong> пикселей</p>
	        <div class="separator"></div>
            <dt><label for="name">Название</label></dt>
            <dd>
                <input type="text" id="name" name="name" value="<?=$this->form->getElement('name')->getValue()?>" />
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('name')))?>
            </dd>
            <dt><label for="address">Адрес</label></dt>
            <dd>
                <input type="text" id="address" name="address" value="<?=$this->form->getElement('address')->getValue()?>" />
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('address')))?>
            </dd>
            <dt><label for="lat">Широта</label></dt>
            <dd>
                <input type="text" id="lat" name="lat" value="<?=$this->form->getElement('lat')->getValue()?>" />
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('lat')))?>
            </dd>
            <dt><label for="long">Долгота</label></dt>
            <dd>
                <input type="text" id="long" name="long" value="<?=$this->form->getElement('long')->getValue()?>" />
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('long')))?>
            </dd>
        </dl>
        <div class="separator"></div>
        <div class="button form_submit">
            <div class="button_body">
                <span>Сохранить</span>
            </div>
        </div>
    </div>
</form>