<?php
    $this->headScript()->appendFile('/js/lib/jquery/jquery.validate.multi.js');
    $this->headScript()->appendFile('/js/shopfee/editor.v2.js');
    $this->headScript()->appendFile('/js/shopfee/views/admin/mall/validate.js');
    $this->headScript()->appendFile('/js/shopfee/views/admin/mall/index.js');
    $this->headScript()->captureStart();
    ?>
        $(function(){
            var options = {
                                $link:$('#add_mall'),
                                formId:'form_mall',
                                entityId:0,
                                entityController:'admin/mall',
                                afterCallback:function(data){
                                    var $form = $(this);
                                    addValidators($form,formRules,formMessages,true);
                                    initCloseForm($form);
                                    initSubmitForm($form);
                                }
                          };
            new Editor(options);

            initSubmitForm($(document));
            initCloseForm($(document));
        });
    <?php
    $this->headScript()->captureEnd();
?>
<div class="button" id="add_mall">
    <div class="button_body">
        <span>Добавить ТЦ</span>
    </div>
</div>

<div class="edit_box edit_good">
    <?=$this->partial('mall/form.phtml',array('form' => $this->form));?>
</div>
<br />
<br />
<table class="stat_table">
    <thead>
        <tr>
            <td>id</td>
            <!--<td>Лого</td> -->
            <td>Название</td>
            <td>Адрес</td>
            <td>Координаты</td>
            <td>Удалить</td>
        </tr>
    </thead>
    <tbody>
    <?
        $i = 0;
        foreach($this->mallList as $mall)
        {
                $isOdd = ($i % 2) === 0;
                ?>

                <tr<?=($isOdd)?' class="odd"':''?>>
                    <td>
                        <?=$mall->getId()?>
                    </td>
                    <!--<td>
                        <img src="<?=$mall->getPicturePathFull()?>" />
                    </td> -->
                    <td>
                        <a href="/admin/mall/edit/id/<?=$mall->getId()?>/"><?=$mall->getName()?></a>
                    </td>
                    <td>
                        <?=$mall->getAddress()?>
                    </td>
                    <td>
                        <?=$mall->getLat()?>, <?=$mall->getLongtitude()?>
                    </td>
                    <td>
                        <a href="/admin/mall/delete/id/<?=$mall->getId()?>/" class="deletable">Удалить</a>
                    </td>
                </tr>
            <?
            $i++;
        }
    ?>
    </tbody>
</table>

<?if (isset($this->paginator)):?>
    <?=$this->paginationControl($this->paginator, NULL, 'paginators/new.phtml', array("pageUrl" => $this->pageUrl, 'paginator' => $this->paginator->getAdapter()))?>
<?endif?>