<table>
    <thead>
        <th>Дата регистрации</th>
        <th>Контактное лицо</th>
        <th>Телефон</th>
        <th>Название магазина</th>
        <th>Одобрить</th>
        <th></th>
    </thead>
    <tbody>
        <?php
            foreach($this->approveList as $tradeNetwork)
            {
                $shopInfo = Entity_Trade_Network::unserializeShopInfo($tradeNetwork->getShopInfo());
                //На этом этапе у нас 1 менеджер
                $manager = $tradeNetwork->getAnyBpaManager();
                ?>
                    <tr>
                        <td><?=$tradeNetwork->getRegDate()?></td>
                        <td><?=$manager->getSurname()?></td>
                        <td><?=$tradeNetwork->getPhone()?></td>
                        <td><?=$tradeNetwork->getTitle()?></td>
                        <td><a href="/admin/approve/user/id/<?=$tradeNetwork->getId()?>/"><img src="/img/admin/ok.gif" /></a></td>
                        <td>
                            <a href="/admin/approve/delete/id/<?=$tradeNetwork->getId()?>/" class="delete"><img src="/img/admin/del.gif" /></a>
                       </td>
                    </tr>
                <?php
            }
        ?>
    </tbody>
</table>