* {padding:0; margin:0; list-style-type:none}

body {width:600px; padding:0 20px 20px 20px; background:url('/imgs/bgr.png') repeat; font-family: HelveticaNeueCyr, Helvetica, Arial, Sans-Serif; font-size:1.2em}

h2 {color:#373737; font-size:2em; text-align:center; padding:1em 0 0.5em 0; text-shadow:0 2px 0 #f0f5f8}
h3 {color:#373737; font-size:1.2em; padding:0.5em 0; text-shadow:0 2px 0 #f0f5f8}
    h3 strong, h2 strong {font-weight:bold}
p, li {color:#373737; text-shadow:0 1px 0 #f0f5f8;}
p {padding-bottom:0.5em}
    p a {font-weight:bold; color:#5258af; text-decoration:none}
li {padding-bottom:.65em}
strong {font-style:italic; font-weight:normal}
img.float_left {float:left}
img.center {display:block; text-align:center}