* {padding:0; margin:0; list-style-type:none;}

body {font-family:Arial; background:#fff; font-size:10pt}
.wrap {width:900px; margin:0 auto}

a {color:#5b81bf; text-decoration:none;}
a:hover {background-color:#5b81bf; color:#fff}
h2 {padding-bottom:10px}
h3 {padding:10px 0 10px 0}
p {padding-bottom:10px}


.left {float:left}
.right {float:right}
.clear {clear:both; float:none; height:0; font-size:0}
.button {font-family:Segoe UI; width:120px; font-size:10pt}

#Header {height:546px; background:url('/img/header_bgr.png') repeat-x; overflow:hidden}
    #Header .wrap {position:relative}
    #Header #iphone {position:absolute; width:596px; height:400px; left:150px; top:0; background:url('/img/hand.png') no-repeat scroll left top; padding-left:428px; padding-top:130px}
        #Header #rotateHolder img {position:absolute; top:0; left:0}
    #Header .logo {position:absolute; width:330px; height:161px; left:25px; top:30px; background:url('/img/logo.png') no-repeat scroll left top}
    #Header .slogan {position:absolute; width:438px; height:112px; left:25px; top:220px; background:url('/img/slogan.png') no-repeat scroll left top; font-size:0pt}
    #Header .appstore {position:absolute; left:20px; top:390px; display:block; height:87px; width:265px; background:url('/img/appstore.png') no-repeat scroll left top;}
    #Header .barcode {position:absolute; top:375px; left:285px; height:96px; width:100px; background:url('/img/barcode.png') no-repeat scroll left top;}

.narrow_header {background:url('/img/narrow_header_bgr.png') repeat-x; height:67px}
    .narrow_header .logo_small {display:block; width:127px; height:42px; background:url('/img/small_logo.png') no-repeat scroll left 12px; padding-top:12px}

.left_column {width:590px; float:left; padding:25px 0 0 10px}
.right_column {width:300px; float:right}

#Features {margin-top:20px; height:233px; width:910px; background:url('/img/features.png') no-repeat scroll left top;}
    #Features li {float:left; font-size:9pt; width:205px; margin-left:45px; margin-right:53px; margin-top:90px; }
        #Features li strong {font-weight:normal; font-style:italic}
        
.sf_history {height:50px; width:890px; background:url('/img/sf_history.png') no-repeat scroll left bottom; margin:25px 10px 10px 10px; border-top:solid 1px #d9d9d9; font-size:0pt; }
.join_us {height:50px; background:url('/img/join_us.png') no-repeat scroll left bottom; margin:5px 10px 10px 10px; font-size:0pt; }

/*
p {padding:10px 0 0 10px; font-size:9pt}*/

.footer {margin-top:30px; padding:10px; border-top:solid 1px #d9d9d9; font-size:9pt; height:15px}

.login_form { width:277px; margin-left:23px; margin-top:20px; height:233px; background:url('/img/login_bgr.png')}
    .login_form fieldset {border:none; padding:65px 0 0 36px}
    .login_form dt {padding-bottom:2px; color:#666}
    .login_form dd {padding-bottom:5px}
    .login_form .field {padding:2px; font-size:14pt; width:195px; border:solid 1px #ccc; color:#666;}
    .login_form .button {display:block; margin-left:36px; width:80px; margin-top:3px}
    
.submit_business {}
    .submit_business fieldset {border:none}
    .submit_business dt {padding-bottom:3px; color:#666}
    .submit_business dd {padding-bottom:10px}
    .submit_business .field {padding:2px; font-size:14pt; width:400px; border:solid 1px #ccc; color:#666;}
        .submit_business select.field {width:405px;}
        .submit_business select.field.short {width:80px;}
    .submit_business .button {display:block; margin-top:5px}
    
.error {color:red;}