<?php 
	if ($this->pageCount)
	{ 
		?>
			<div class="pages<?=($this->containerClass ? ' '.$this->containerClass : '')?>">
				<?php 
					foreach ($this->pagesInRange as $page)
					{ 
						if($page != $this->current)
						{
							?>
								<a href="<?=$this->paginator->getURL($this->pageUrl, $page)?>">
							        <?=$page;?>
							    </a>
							<?php
						}
						else
						{
        					?>	
        				  	<?=$page?>
        					<?php
						}
					}

					/*if(isset($this->previous) || isset($this->next))
					{
                        ?>
                        <div class="arrows">
                            <?php 
            					if(isset($this->previous))
            					{
            						?>
            						  	<a href="<?=$this->paginator->getURL($this->pageUrl, $this->previous)?>">←</a>
            						<?php
            					}
            					if(isset($this->next))
            					{
            						?>
            						  	<a href="<?=$this->paginator->getURL($this->pageUrl, $this->next)?>">→</a>
            						<?php
            					}
                            ?>
                        </div>
                        <?php
					}*/
				?>	
			</div>
		<?php
	}
?>