<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><?=($this->title ? $this->title : 'Soukkick')?></title>
        <link href="/styles.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <style>
            form input, form textarea
            {
                width:500px;
            }
            form input[type=button], form input[type=submit]
            {
                width:auto;
            }
            .error
            {
                color:red;
            }
        </style>
        <?php
            echo $this->headScript();
            echo $this->headStyle();
            echo $this->headLink();
        ?>
    </head>
    <body>
        <?=$this->layout()->content?>
    </body>
</html>