<?
    $this->headScript()->appendFile('/js/lib/jquery/jquery.blockUI.js');
    $this->headScript()->appendFile('/js/shopfee/modalForm.v1.js');
    $this->headScript()->appendFile('https://maps.google.com/maps/api/js?sensor=false');
    $this->headScript()->appendFile('/js/shopfee/modalForm/shop.v4.js');
    $this->headScript()->captureStart();
?>
    $(function(){
        var options = {
                            template:'<?=preg_replace("/[\n\r]/","",str_replace("'","\'",$this->action('form','shop','edit',array('id' => 0,'mapCanvas' => 'map_canvas'))))?>',
                            editObjectId:0,
                            $showObject:$('[data-add-shop-id]'),
                            mapShopList:
                            [
                                {
                                    id:0,
                                    lat:0,
                                    long:0,
                                    address:'',
                                    cityName:''
                                }
                            ],
                            googleMapId:"map_canvas"
                      };
        new ShopModalForm(options);

        $('[data-shop-id]').each(function(){
            $(this).click(function(){
                var shopId = $(this).attr('data-shop-id');
                var cityId = $(this).attr('data-city-id');
                $('#shop_id').val(shopId);
                $('#city_id').val(cityId);
                $(document).trigger('LEFT_SHOP_CHANGED',[shopId,cityId]);
            });
        });

    });
<?php
    $this->headScript()->captureEnd();
?>


<form id="form-left-shop">
    <input style="display:none;" type="hidden" name="shop_id" id="shop_id" value="<?=$this->selectedShopId?>" />
    <input style="display:none;" type="hidden" name="city_id" id="city_id" value="<?=$this->selectedCityId?>" />
    <div class="container tree">
        <div class="content_holder">
            <p class="root <?=(!$this->selectedShopId && !$this->selectedCityId ? 'selected' : '')?>" data-shop-id="" data-city-id="">Вся сеть</p>
            <ul class="city_tree">
                <?php
                    foreach($this->shopListByCity as $cityId => $container)
                    {
                        $cityName = $container['cityName'];
                        $shopList = $container['shopList'];
                        ?>
                            <li data-shop-id="" data-city-id="1" <?=($this->selectedCityId == $cityId ? 'class="selected"' : '')?>>
                                <p><?=$cityName?></p>
                                <ul>
                                    <?
                                        foreach($shopList as $shop)
                                        {
                                            $elementId = 'shop_id_'.$shop->getId();
                                            $isCurrent = $this->selectedShopId == $shop->getId();
                                            ?>
                                                <li class="<?=$shop->isTransmitterAvailable() ? 'walkin' : ''?><?=($isCurrent ? ' selected' : '')?>" data-shop-id="<?=$shop->getId()?>" data-city-id="">
                                                    <?=$shop->getAddress()?>
                                                </li>
                                            <?
                                        }
                                    ?>
                                </ul>
                            </li>
                        <?php
                    }
                ?>
            </ul>
            <div class="button" data-add-shop-id="1"><div class="button_body"><span>Добавить точку</span></div></div>
        </div>
    </div>
</form>