<?php
    $this->headScript()->appendFile('/js/shopfee/shopSelect.v1.js');
    $this->headScript()->captureStart();
?>
    $(function(){
        initShopSelect('<?=$this->id?>');
    });
<?php
    $this->headScript()->captureEnd();
?>
<div class="select_shop" id="<?=$this->id?>_shop_select">
    <div class="current_choise"></div>
    <ul class="all_options">
        <li class="all"><label><input type="checkbox" class="checkbox_all"> Всех магазинов</label></li>
        <?php
            foreach($this->currentTradeNetwork->getShops(null) as $shop)
            {
                $isSelected = in_array($shop->getId(),$this->selectedShopIds);
                ?>
                    <li <?=($isSelected ? 'class="active"' : '')?>>
                        <label><input type="checkbox" name="shop_id[]" value="<?=$shop->getId()?>" <?=($isSelected ? 'checked="checked"' : '')?>><?=$shop->getAddress()?></label>
                    </li>
                <?php

            }
        ?>
    </ul>
</div>