<p>
    Посетителей Soukkick
    <span class="m">в магазине в данный момент <?=($this->visitorList->totalCount() ? '' : 'нет.')?></span>
    <?php 
        if($this->visitorList->totalCount() > 0)
        {
            ?>
                <span class="b"><?=$this->visitorList->totalCount()?></span>
            <?php
        }
    ?>
</p>
<?php 
    if($this->visitorList->totalCount() > 0)
    {
        ?>
            <div class="faces_holder">
                <div class="faces">
                    <div class="center">
                        <div class="center_margin">
                            <ul>
                                <?php 
                                    foreach($this->visitorList as $visitor)
                                    {
                                        ?>
                                            <li>
                                                <span class="name"><span><?=$visitor->getName()?> <?=$visitor->getSurname()?></span></span>
                                                <img alt="<?=$visitor->getName()?> <?=$visitor->getSurname()?>" src="<?=$visitor->getPicturePathFull()?>">
                                            </li>
                                        <?php
                                    }
                                ?>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="new_and_old_diagramm">
                <div class="left_percent">
                    <?=$this->newPercent?>%
                </div>
                <div class="right_percent">
                    <?=$this->oldPercent?>%
                </div>
                <div class="diagramm">
                    <span class="new_title">Новые</span>
                    <span class="old_title">Постоянные</span>
                    <div class="diagramm_border">
                        <div class="new" style="width:<?=$this->newPercent?>%">
                            <div><span></span></div>
                        </div>
                        <div class="old" style="width:<?=$this->oldPercent?>%">
                            <div><span></span></div>
                        </div>
                    </div>
                </div>
            </div>        
        <?php
    }
?>
<div class="short_stats">
    <h3>Сегодня (на <?=date('H:i')?>): <strong><?=($this->todayVisitorNumber ? $this->todayVisitorNumber : 'нет')?></strong> <?=Shopfee_Translit::getDeclination($this->todayVisitorNumber, 'посетитель', 'посетителя', 'посетителей')?></h3>
    <h3>Вчера: <strong><?=($this->yesterdayVisitorNumber ? $this->yesterdayVisitorNumber : 'нет')?></strong> <?=Shopfee_Translit::getDeclination($this->yesterdayVisitorNumber, 'посетитель', 'посетителя', 'посетителей')?></h3>
</div>
<?php /*?>


<div class="short_stat">
    <h3>Сейчас в магазине <strong><?=($this->visitorList->totalCount() ? $this->visitorList->totalCount() : 'нет')?></strong> <?=Shopfee_Translit::getDeclination($this->visitorList->totalCount(), 'посетитель', 'посетителя', 'посетителей')?> shopfee<?=($this->visitorList->totalCount() ? ':' : '.')?></h3>
    <?php 
        if($this->visitorList->totalCount())
        {
            ?>
                <ul class="current_customers">
                    <?php 
                        foreach($this->visitorList as $visitor)
                        {
                            ?>
                                <li><img alt="<?=$visitor->getName()?> <?=$visitor->getSurname()?>" src="<?=$visitor->getPicturePathFull()?>"></li>
                            <?php
                        }
                    ?>
                </ul>
            <?php
        }
    ?>
    <h3>Сегодня (на <?=date('H:i')?>): <strong><?=($this->todayVisitorNumber ? $this->todayVisitorNumber : 'нет')?></strong> <?=Shopfee_Translit::getDeclination($this->todayVisitorNumber, 'посетитель', 'посетителя', 'посетителей')?></h3>
    <h3>Вчера: <strong><?=($this->yesterdayVisitorNumber ? $this->yesterdayVisitorNumber : 'нет')?></strong> <?=Shopfee_Translit::getDeclination($this->yesterdayVisitorNumber, 'посетитель', 'посетителя', 'посетителей')?></h3>
    <a href="#">Полная статистика</a>
</div>
<?*/?>