<?=$this->render('prize/form.phtml')?>
<h4>Logo</h4>
<br />
<img src="<?=$this->prize->getBigPicturePathFull()?>" width="<?=Application::getPrizeBigPictureWidth()?>" height="<?=Application::getPrizeBigPictureHeight()?>" />
<br />