<div class="row">
    <a href="/admin/prize/add/" class="btn btn-success" >Add reward</a>
</div>
<br />
<table class="table table-bordered table-striped" data-table-sortable="1">
    <thead>
        <th>id</th>
        <th>Name</th>
        <th>Is active</th>
        <th>Price</th>
        <th></th>
    </thead>
    <tbody>
        <?php
            foreach($this->prizeList as $prize)
            {
        	    ?>
                    <tr>
                        <td><?=$prize->getId()?></td>
                        <td><a href="/admin/prize/edit/id/<?=$prize->getId()?>/" class="btn btn-primary btn-sm"><?=$prize->getName()?></a></td>
                        <td><?=($prize->isActive() ? '+' : '-')?></td>
                        <td><?=$prize->getPrice()?></td>
                        <td>
                            <a href="/admin/prize/delete/id/<?=$prize->getId()?>/" class="deletable btn btn-danger btn-sm">Delete</a>
    	               </td>
                    </tr>
                <?php
            }
        ?>
    </tbody>
</table>
<?php
if (isset($this->paginator))
    echo $this->paginationControl($this->paginator, NULL, 'paginators/default.phtml', array("pageUrl" => $this->pageUrl, 'paginator' => $this->paginator->getAdapter()));
?>