<div class="row">
    <a href="/admin/shop/index/trade_network_id/<?=$this->shop->getTradeNetworkId()?>/" class="btn btn-link">To trade network</a>
</div>
<br />
<?php 
    if($this->showRegenerate)
    {
        ?>
            <h3 class="error">
                <?=$this->collisionMessage?>
                <br />
                <a href="/admin/shop/regenerate/transmitter_id/<?=$this->transmitter->getId()?>/">Regenerate sequence</a>
                <br />
                <br />
            </h3>
        <?php
    }
?>
<?=$this->render('shop/form.phtml')?>
<br />
<h4>Frequency sequence</h4>
<?php 
    foreach($this->shop->getTransmitters() as $transmitter)
    {
        $keys = $transmitter->getFrequencyForAdmin();
        ?>
            <p>Beacon <?=$transmitter->getId()?>: <?=implode(' ',$keys);?></p>
        <?php 
    }
?>