<h2><?=$this->tradeNetwork->getTitle()?> trade network</h2>
<div class="row">
    <a href="/admin/shop/add/trade_network_id/<?=$this->tradeNetwork->getId()?>/" class="btn btn-success">Add shop</a>
</div>
<br />
<table class="table table-bordered table-striped" data-table-sortable="1">
    <thead>
        <th>id</th>
        <th>Name</th>
        <th>Sequence</th>
        <th>Address</th>
        <th>Beacons</th>
        <? 
            if($this->showGenerate)
            {
                ?>
                    <th>Purchase confirmation</th>
                <?
            }
        ?>
        <th>Edit</th>
        <th>Content Administration</th>
        <th></th>
    </thead>
    <tbody>
        <?php
            foreach($this->shopList as $shop)
            {
        	    ?>
                    <tr>
                        <td><?=$shop->getId()?></td>
                        <td><?=$shop->getName()?></td>
                        <td>
                            <?php 
                                foreach($shop->getTransmitters() as $transmitter)
                                {
                                    $keys = $transmitter->getFrequencyForAdmin();
                                    ?>
                                        <p>Beacon <?=$transmitter->getId()?>: <?=implode(' ',$keys);?></p>
                                    <?php 
                                }
                            ?>
                        </td>
                        <td><?=$shop->getAddress()?></td>
                        <td><?=$shop->getTransmitterInfo()?></td>
                        <? 
                            if($this->showGenerate)
                            {
                                ?>
                                    <td><a href="/admin/shop/buy-barcode/id/<?=$shop->getId()?>/" class="btn btn-warning btn-sm">Generate purchase confirmation</a></td>
                                <?
                            }
                        ?>
                        <td><a href="/admin/shop/edit/id/<?=$shop->getId()?>/" class="btn btn-primary btn-sm">Edit</a></td>
                        <td><a href="/admin/user-shop/login-as-user-shop/id/<?=$shop->getTradeNetworkId()?>/" class="btn btn-primary btn-sm" target="_blank">Enter</a></td>
                        <td>
                            <a href="/admin/shop/delete/id/<?=$shop->getId()?>/" class="deletable btn btn-danger btn-sm">Delete</a>
    	               </td>
                    </tr>
                <?php
            }
        ?>
    </tbody>
</table>