Исходник - <img border="2" src="<?=$this->rawImage?>" >
<br />
<br />
<br />

<table border="1">
    <? 
        foreach(array_keys($this->result) as $type)
        {
            ?>
                <tr>
                    <td><?=$type?></td>
                    <? 
                        foreach($this->result[$type] as $path => $title)
                        {
                            ?>
                                <td align="center">
                                    <img border="2" src="<?=$path?>" />
                                    <br />
                                    <?=$title?>
                                </td>
                            <?
                        }
                    ?>
                </tr>
            <?
        }
    ?>
</table>