<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Soukkick | Rewards management</title>
        <link href="/css/reward/styles.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/js/lib/jquery/ui/themes/base/jquery.ui.all.css">
        <script type="text/javascript" src="/js/lib/jquery/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="/js/lib/jquery/jquery.ui.core.js"></script>
        <script type="text/javascript" src="/js/lib/jquery/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="/js/lib/jquery/jquery.ui-slider.js"></script>
        <script>
            var registry = {};
        </script>
        <?php
            echo $this->headScript();
            echo $this->headStyle();
            echo $this->headLink();
        ?>
</head>
<body>
    <div id="Head">
        <h1>Rewards management</h1>
        <div id="Main_menu">
            <ul>
                <li class="first <?=($this->menuOrder ? 'current' : '')?>"><a href="/reward/order/">Reward processing</a></li>
                <li class="last <?=($this->menuStock ? 'current' : '')?>"><a href="/reward/stock/">Storage</a></li>
            </ul>
        </div>
    </div> 
    <?=$this->layout()->content?>
</body>
</html>