<form method="post">
    Тип
    <br />
    <select name="type">
        <option value="<?=Shopfee_Push_Factory::TYPE_IPHONE?>">Iphone</option>
        <option value="<?=Shopfee_Push_Factory::TYPE_ANDROID?>">Android</option>
    </select>
    <br >
    <br >
    Сообщение
    <br />
    <textarea name="message"></textarea>
    <br />
    Код сообщения
    <br />
    <input type="text" name="code" />
    <br />
    <br />
    <br />
    <h4>Android</h4>
    <input type="text" name="api_key" />&nbsp;API KEY
    <br />
    <input type="text" name="registration_id" />&nbsp;REGISTRATION ID
    <br />
    <br />
    <br />
    <h4>Iphone</h4>
    <input type="text" name="device_token" />&nbsp;DEVICE TOKEN
    <br />
    <input type="text" name="identifier" />&nbsp;IDENTIFIER
    <br />
    <input type="text" name="badge_number" />&nbsp;BADGE NUMBER
    <br />
    <br />
    <br />
    <input type="submit" value="Отправить">
</form>