<form class="fields" id="form_sales" action="<?=$this->form->getAction()?>" method="<?=$this->form->getMethod()?>" enctype="<?=$this->form->getEnctype()?>">
    <div class="edit_box_form_container edit_good">
        <div class="close close_form" title="Закрыть"> </div>
        <dl>
	        
	        <input type="hidden" name="id" value="<?=$this->form->getValue('id')?>" />
	        <?php 
	            if($this->sales)
	            {
	                ?>
	                    <img src="<?=$this->sales->getBigPicturePathFull()?>" style="border:solid 1px #d2d2d2; display:block; margin-bottom:5px"/>
	                <?php
	            }
	        ?>

	        <?=$this->form->getElement('file')?>
	        
	        <p class="caption">Размер картинки для акции: <strong><?=Application::getSalesBigPictureWidth()?> х <?=Application::getSalesBigPictureHeight()?></strong> пикселей</p>
	        <div class="separator"></div>
	

            <dt><label for="name">Название</label></dt>
            <dd>
                <textarea rows="5" maxlength="500" id="name" name="name"><?=$this->form->getElement('name')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('name')))?>
            </dd>
            <dt style="display:none"><label for="short_description">Краткое описание</label></dt>
            <dd style="display:none">
                <textarea rows="3" name="short_description" id="short_description" ><?=$this->form->getElement('short_description')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('short_description')))?>
            </dd>
            <dt><label for="description">Описание</label></dt>
            <dd>
                <textarea rows="5" name="description" id="description" ><?=$this->form->getElement('description')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('description')))?>
            </dd>
        </dl>
        <dl class="shop_select" style="display:none;">
            <dt>Показывать для</dt>
            <dd>
                <?=$this->partial('include/shop_select.phtml',array('id' => 'sales','currentTradeNetwork' => $this->currentTradeNetwork,'selectedShopIds' => $this->selectedShopIds))?>
            </dd>
        </dl>
        <div class="separator"></div>
        <div class="button form_submit">
            <div class="button_body">
                <span>Сохранить</span>
            </div>
        </div>
    </div>
</form>