* {padding:0; margin:0; list-style-type:none}

body {background:url('imgs/bgr.png') repeat; font-family:Helvetica, Arial, Sans-Serif;}

h2 {color:#373737; font-size:16px; text-shadow:0 1px 0 #fff; text-align:center; margin:15px 0}

.list {}
    .list li {background:#fff; border-bottom:solid 1px #e0e0e0; height:59px; position:relative}
    .list li:active {background:#d2eef8;}
        .list li .message {display:block; text-align:center; color:#777; font-size:14px; padding-top:13px}
        .list li img.logo {position:absolute; width:55px; height:55px; top:2px; left:2px;}
        .list li p.name {font-size:14px; font-weight:bold; margin:0 0 0 60px; padding-top:5px}
        .list li p.description {font-size:10px; font-style:italic; color:#444;  margin:0 0 0 60px; padding-top:2px}
        .list li p.distance {font-size:12px; font-weight:bold; color:#135d8c;  margin:0 0 0 60px; padding-top:2px}
        .list li .points_for_view {position:absolute; right:33px; top:0; width:50px; height:58px; background:url('imgs/big_circle.png') no-repeat scroll left top}
            .list li .points_for_view span {color:#fff; font-size:25px; text-align:center; display:block; font-weight:bold; text-shadow: 0 2px 0 #298a21; padding-top:13px}
            .list li .points_for_view.used {background-position:0 -58px}
            .list li .points_for_view.none {background-position:0 -116px}
                .list li .points_for_view.none span, .list li .points_for_view.used span {display:none}
        .list li .points_for_checkin {position:absolute; right:0; top:0; width:33px; height:58px; background:url('imgs/checkin_circle.png') no-repeat scroll left top}
            .list li .points_for_checkin span {color:#fff; font-size:14px; text-align:center; display:block; font-weight:bold; text-shadow: 0 2px 0 #298a21; padding-top:12px}
            .list li .points_for_checkin.used {background-position:0 -58px}
            .list li .points_for_checkin.none {background-position:0 -116px}
                .list li .points_for_checkin.none span, .list li .points_for_checkin.used span {display:none}
                
.shop_header {background:#fff; border-bottom:solid 1px #e0e0e0; height:59px; position:relative}
        .shop_header img.logo {position:absolute; width:55px; height:55px; top:2px; left:5px;}
        .shop_header p.name {font-size:14px; font-weight:bold; margin:0 0 0 63px; padding-top:5px}
        .shop_header p.description {font-size:10px; font-style:italic; color:#444;  margin:0 0 0 63px; padding-top:2px}
        .shop_header p.address {font-size:14px; color:#444;  margin:0 0 0 63px; padding-top:1px}
        .shop_header .star {position:absolute; width:35px; height:35px; top:12px; right:10px; background:url('imgs/stars.png') no-repeat scroll left bottom}
            .shop_header .star.active {background-position:left top}
nav.shop_nav, .nearby_nav {background:#5388b4; height:35px}
    nav.shop_nav ul, nav.nearby_nav ul {margin:0 5px; height:29px; padding-top:3px; box-shadow:0 1px 1px #81a8c7; border-radius:4px;}
        nav.shop_nav ul li {float:left; width:25%; height:29px;}
        nav.nearby_nav ul li {float:left; width:50%; height:29px;}
            nav.shop_nav ul li a, nav.nearby_nav ul li a {display:block; text-align:center; padding-top:5px;  height:22px; border:solid 1px #34567d; color:#fff! important; text-decoration:none;
                text-shadow:0 -1px 0px #203a59; font-weight:bold; border-left:none;   box-shadow:0 -1px 1px #3b5066; font-size:12px;
                background:#32639c;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85a2c4', endColorstr='#32639c'); /* for IE */
                background: -webkit-gradient(linear, left top, left bottom, from(#85a2c4), to(#32639c)); /* for webkit browsers */
                background: -moz-linear-gradient(top,  #85a2c4,  #32639c); /* for firefox 3.6+ */ }
            nav.shop_nav ul li.last a, nav.nearby_nav ul li.last a {border-radius:0 4px 4px 0;}
            nav.shop_nav ul li.first a, nav.nearby_nav ul li.first a {border-radius:4px 0 0 4px; border-left:solid 1px #34567d}
            nav.shop_nav ul li.current a, nav.nearby_nav ul li.current a {
                background:#255185;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f8caf', endColorstr='#0d3e78'); /* for IE */
                background: -webkit-gradient(linear, left top, left bottom, from(#6f8caf), to(#0d3e78)); /* for webkit browsers */
                background: -moz-linear-gradient(top,  #6f8caf,  #0d3e78); /* for firefox 3.6+ */ }

.shop_content {width:100%; overflow:auto; position:relative;-webkit-overflow-scrolling: touch;}
    .shop_content /*.vitrina */ ul {margin-left:10px; margin-right:-5000px}
        .shop_content ul li {float:left; margin:5px; background:#fff; border-radius:6px; padding:5px;position:relative;}
        .product_list ul li {width:310px !important;}
            .shop_content ul  li .item_name {font-size:12px; font-weight:bold; color:#444; text-align:center; padding-bottom:5px;}
            .shop_content ul  li .item_photo {margin:0 10px; width:250px; height:250px}
            .shop_content ul li .fb_like_button {width:152px; height:34px; background:url('imgs/fb_like_button.png'); margin:0 auto 0 auto}
                .shop_content ul li .fb_like_button span {display:none}
            .shop_content ul li .fb_like_button.used {background:none! important; width:200px; padding-top:8px; height:26px; text-align:center}
                .shop_content ul li .fb_like_button.used span {display:inline; color:#4f5f8f; font-size:14px; padding:7px 0 3px 28px; background:url('imgs/fb_like_icon.png') no-repeat scroll left top;}
                .shop_content ul li .fb_like_button:active {background:url('imgs/fb_like_button_highlighted.png')}
            .shop_content ul li .price {width:160px; height:27px; background:#000; position:absolute; left:50%; bottom:46px; margin-left:-80px; 
                border-radius:10px; color:#fff; text-align:center; padding-top:5px; font-size:18px; font-weight:bold; opacity:.8}
    .shop_content .map_button {width:227px; height:52px; background:url('imgs/button_map.png'); display:block; margin:5px auto 0 auto}
        .shop_content .map_button:active {background-image:url('imgs/button_map_highlighted.png');}
    .shop_content .checkin_animation {background:#fff; border-radius:10px; margin:0 5px; position:relative; min-height:250px}
        .shop_content .checkin_animation p {padding-top:10px; text-align:center; font-size:14px}
        .shop_content .checkin_animation .logo {position:absolute; width:100px; height:100px; top:50px; left:50%; margin-left:-50px}
        .shop_content .checkin_animation .animation {position:absolute; left:50%; top:100px; margin-left:-120px}
        .shop_content .checkin_animation .points_for_checkin {position:absolute; right:5px; bottom:0px;width:50px; height:58px; background:url('imgs/big_circle.png') no-repeat scroll left top}
            .shop_content .checkin_animation .points_for_checkin span {color:#fff; font-size:25px; text-align:center; display:block; font-weight:bold; text-shadow: 0 2px 0 #298a21; padding-top:15px}
            .shop_content .checkin_animation .points_for_checkin.used {background-position:0 -58px}
                .shop_content .checkin_animation .points_for_checkin.used span {display:none}
        
        .deals_list ul li {width:310px !important;padding:5px;}
        .shop_content.deals_list img {width:309px; height:309px; float:left; background-color:#ececec; border:none}
        .shop_content.deals_list .counter{position:absolute; bottom:0; left:50%; float:left;}
            .shop_content.deals_list .counter ul{ float:left; padding:3px 2px 3px 6px; background:#fff; margin-left:-50%; border:solid 1px #aaa; border-radius:10px}
            .shop_content.deals_list .counter ul li{float:left; width:5px; height:5px; background:#fff; border:solid 1px #888; margin-right:4px; border-radius:5px}
            .shop_content.deals_list .counter ul li.current{background:#32639c}

.edit_faves_button {margin:5px auto; width:256px; height:54px; background:url('imgs/edit_button.png')}
    .edit_faves_button:active {background:url('imgs/edit_button_highlighted.png')}

.view_faves {margin-bottom:15px}
    .view_faves li {margin-top:15px; overflow:hidden;
            -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
            -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
            box-shadow: 0px 5px 5px rgba(0,0,0,0.25)}
        .view_faves li .subheader {height:35px; background:url('imgs/shop_header.png') no-repeat; position:relative}
            .view_faves li .subheader img {width:139px; height:29px; background:#eee; position:absolute; left:8px; top:4px}
        .view_faves li ul {height:108px;  background:#fff; position:relative; width:1000px;}
            .view_faves li ul li {border:none; float:left; position:relative; padding:1px; height:106px; margin:0}
                .view_faves li ul li img {width:105px; height:105px; background:yellow;}
                .view_faves li ul li span {position:absolute; bottom:3px; left:0; text-align:center; width:100%; height:14px; padding:1px 0; 
                    background:url('imgs/price_bgr.png') repeat-x; color:#fff; font-size:10px; font-weight:bold}



.table_list {padding-left:5px}
.table_list.scans {padding-left:2%}
    .table_list li {background:#fff; padding:5px; margin:5px 5px 0 0; border-radius:6px; float:left; position:relative}
        .table_list.scans li {width:48%; margin:5px 2% 0 0; padding:5px 0; overflow:hidden}
        .table_list.scans li {width:145px}
        .table_list.scans li p {font-size:12px; text-align:center; height:30px; overflow:hidden}
        .table_list.scans li img {width:125px; height:100px; margin:0 auto; display:block}
    .table_list li .points_for_checkin {position:absolute; right:0px; bottom:0px;width:50px; height:58px; background:url('imgs/big_circle.png') no-repeat scroll left top}
            .table_list li .points_for_checkin span {color:#fff; font-size:25px; text-align:center; display:block; font-weight:bold; text-shadow: 0 2px 0 #298a21; padding-top:15px}
            .table_list li .points_for_checkin.used {background-position:0 -58px}
                .table_list li .points_for_checkin.used span {display:none}

/*------------------ 15/05 ------------------*/



.text_block {padding:0 15px 15px 15px;}
    .text_block h2 {color:#373737; font-size:22px; text-align:center; padding:15px 0 10px 0; text-shadow:0 1px 0 #f0f5f8; margin:0;}
    .text_block h3 {color:#373737; font-size:16px; padding:10px 0 5px 0; text-shadow:0 1px 0 #f0f5f8; margin:0}
    .text_block h3 strong, .text_block h2 strong {font-weight:bold}
    .text_block p, .text_block li {color:#373737; text-shadow:0 1px 0 #f0f5f8; font-size:12px}
    .text_block p {padding-bottom:5px}
    .text_block p.date {color:#208a07}
    .text_block p.important_message {}
        .text_block p a {font-weight:bold; color:#5258af; text-decoration:none}
    .text_block li {padding-bottom:5px; margin:0 0 0 5px; list-style-type:disc; list-style-position:inside}
    .text_block .near_img li {padding-bottom:4px; font-size:9px; margin:0; list-style-type:none;}
    .text_block strong {font-style:italic; font-weight:normal}
    .text_block .about1 {float:left; width:150px; height:96px; background:url('imgs/about1.png') no-repeat scroll left top;}
    .text_block .about2 {width:100%; background:url('imgs/about2.png') no-repeat scroll center top; height:150px}
    .text_block .about3 {float:left; width:163px; height:80px; background:url('imgs/about3.png') no-repeat scroll left top;}
    @media (-webkit-min-device-pixel-ratio: 2) {
        .text_block .about1 {background-image:url('imgs/about1@2x.png'); background-size:150px 96px}
        .text_block .about2 {background-image:url('imgs/about2@2x.png'); background-size:240px 150px}
        .text_block .about3 {background-image:url('imgs/about3@2x.png'); background-size:163px 80px} 
        body {background-image:url('imgs/bgr@2x.png'); background-size:32px 32px}
        }