/*------------------------------------------------------------------
[Master Stylesheet]



------------------------------------------------------------------
[Typography]

Body:               10pt Arial, Sans-Serif;
Headers(h1  h3):    30pt 23pt 17pt 13pt HelveticaCyr Light, HelveticaCyr Thin, Sans-Serif;
Strong text:        10pt normal-weight italic;


-------------------------------------------------------------------



------------------------------------------------------------------
[Colors]

Body background:    White #ffffff;
Text                Dark Gray #333333;
Test selection      Light Blue #468cbd;
Header h1           Dark Gray #333333;
Header h3           Light Green #83c311;
Link a              Blue #3575a2;


-------------------------------------------------------------------




-----------------------------------------------------------------
[Global refresh] */
* {padding:0; margin:0; list-style-type:none}
/* ----------------------------------------------------------------*/




/* -----------------------------------------------------------------
[Typograpy] */
@font-face {font-family: HelveticaCyr; src: url('fonts/HelveticaNeueCyrThin.otf');}
@font-face {font-family: HelveticaCyrLight; src: url('fonts/HelveticaNeueCyrLight.otf');}

body {background:#fff; font-family: Arial, Sans-Serif; font-size:10pt; color:#333}
a {text-decoration:none; color:#3575a2}
    a:hover {color:#fff; background:#73b6e5}
h1 {padding-bottom:5px; margin-bottom:20px; border-bottom:solid 1px #ddd; font-weight:normal; font-family:HelveticaCyr; font-size:30pt; color:#333}
    h1 span.subheader {font-size:20pt}
h3 {color:#83c311;font-weight:normal; font-size:17pt; font-family:HelveticaCyrLight; margin-bottom:15px}
    h3.margintop {margin-top:25px}
    h3.forfree {margin-top:10px; border-top:solid 1px #ddd; font-size:21pt; text-align:center; padding:15px 0}
    .content h3 {padding-top:15px; margin-bottom:5px}
p{margin-top:10px;}
    .content p {line-height:19px}
    .content p.important_message {color:#000; font-style:italic; line-height:20px}
p.update {color:#aaa}

*::selection, *::-moz-selection, *::-webkit-selection { background:#468cbd; color:#fff;}

.content ul { }
    .content ul li {list-style-type:circle; padding:10px 0 0 0; margin-left:15px}
/* ----------------------------------------------------------------*/




/* ------------------------------------------------------------ [G E N E R A L  L A Y O U T] ------------------------------------------------------------ */  


/* -----------------------------------------------------------------
[Common classes] */
.wrap {width:900px; margin:0 auto}
.content {min-height:200px}
.top_line {height:7px; background:url('imgs/gradient.png') no-repeat scroll center top}
.bottom_line {height:2px; background:url('imgs/gradient.png') no-repeat scroll center top}
.clear {float:none; clear:both; float:none; height:0; font-size:0}
/* ----------------------------------------------------------------*/




/* -----------------------------------------------------------------
[Forms] */
.field {border:solid 1px #aaa; padding:2px; font-size:14pt; color:#666}
.button {background:#92ca2f; color:#fff; font-family:Segoe UI; font-size:14pt; padding:2px 20px; cursor:pointer; border:solid 2px #bbea69; display:block; border-bottom-color:#77ad16;
    border-right-color:#77ad16}
    .button:hover {background:#9bdb2b}
    .button:active {background:#84bc21}
/* ----------------------------------------------------------------*/




/* -----------------------------------------------------------------
[Header] */
.head {position:relative; height:110px}
.head.index {height:445px}
    .head .wrap {position:relative;}
    .head #Street {position:absolute; width:100%; height:190px; background:url('imgs/street.png') repeat-x; top:185px}
    .head #iPhone {position:absolute; height:333px; width:171px; background:url('imgs/iphone.png') no-repeat; top:98px; left:70px}
        #rotateHolder {}
            #rotateHolder img {left:13px; top:59px; position:absolute}
    .head .logo {position:absolute; height:59px; width:184px; background:url('imgs/logo.png'); top:20px; left:0}
    .head .main_menu {position:absolute; top:42px; right:-20px; width:640px; height:80px; background:url('imgs/forfree.png') no-repeat scroll 410px 30px}
        .head .main_menu li {float:right; padding:0 12px; background:url('imgs/menu_separator.png') no-repeat scroll left center}
        .head .main_menu li.last {background:none}
            .head .main_menu li a {color:#333; font-size:11pt; display:block; padding:3px 8px; border-radius:6px}
            .head .main_menu li a:hover {background:#98d230; color:#fff}
            .head .main_menu li.current a {background:none; color:#83c311}
    .head .AppStore {position:absolute; top:375px; left:310px; height:100px}
    .AppStore {width:395px; height:65px;}
        .AppStore .appstore_button {display:block; background:url('imgs/buttons.png') no-repeat scroll -192px 0; width:132px; height:51px; float:left; color:#797878; padding:10px 0 0 60px; text-shadow:0 1px 0 #fff}
        .AppStore .appstore_button:hover {background-position:-192px -61px}
        .AppStore .appstore_button:active {background-position:-192px -122px}
            .AppStore .appstore_button span {display:block; font-size:16pt; color:#5096c5}
       .AppStore .android_button {display:block; background:url('imgs/buttons.png') no-repeat scroll left 0; width:132px; height:51px; float:left; margin-left:10px;  color:#797878; padding:10px 0 0 60px; text-shadow:0 1px 0 #fff}
        .AppStore .android_button:hover {background-position:0 -61px}
        .AppStore .android_button:active {background-position:0 -122px}
            .AppStore .android_button span {display:block; font-size:16pt; color:#92c346}
    .head h2 {position:absolute; font-weight:normal; font-family:HelveticaCyr; font-size:27pt; color:#333}
        .head h2.slogan_top {top:120px; left:310px}
        .head h2.slogan_bottom {top:350px; left:310px}
/* ----------------------------------------------------------------*/




/* -----------------------------------------------------------------
[Footer] */
.footer {margin-top:20px; background:url('imgs/footer_bgr.png') repeat-x scroll left top; padding-bottom:30px;}
    .footer .wrap {margin-top:10px;  position:relative}
        .footer .footer_menu {position:absolute; top:0px; right:0;}
            .footer .footer_menu li {float:right; margin-left:15px; font-size:8pt}
/* ----------------------------------------------------------------*/




  
/* ----------------------------------------------------------------- [P A G E S] ----------------------------------------------------------------- */  



/* -----------------------------------------------------------------
[Index page] */        
.features {padding:20px 0 0 20px; border-radius:10px; border:solid 1px #ddd; height:180px}
    .features li {float:left; width:265px; margin-right:26px}
        .features li h3 {padding-bottom:10px; margin-bottom:0}
        .features li p {margin-top:0}
            .features li.first h3 {color:#4b6c8f}
            .features li.second h3 {color:#60953c}
            .features li.third h3 {color:#e86d23}
        .features li strong {font-weight:normal; font-style:italic}
/* ----------------------------------------------------------------*/


  
/* -----------------------------------------------------------------
[About application page] */  
.about_app {margin-top:15px}
    .about_app .left {width:259px; float:left;}
    .about_app .right {width:259px; float:right;}
    .about_app .center {width:380px;margin-left:1px; float:left;}
        .about_app .center .message {position:relative; margin-bottom:20px}
            .about_app .center .message .arrow {position:absolute; height:33px; width:21px; background-image:url('imgs/arrow.png')}
            .about_app .center .message div {padding:20px 15px 25px 25px; border-radius:15px; background:#CCC; width:274px}
                .about_app .center .message div h3 {font-weight:normal; font-size:20pt; font-family:HelveticaCyrLight;}
                .about_app .center .message div p {margin-top:10px}
            .about_app .center .message.one {padding-left:21px;}
                .about_app .center .message.one div {background-color:#cde5f5}
                .about_app .center .message.one div.arrow {bottom:25px; left:0px; padding:0; border-radius:0; background-position:left -33px}
                .about_app .center .message.one div h3 {color:#4b6c8f}
            .about_app .center .message.two {padding-left:46px;}
                .about_app .center .message.two div {background-color:#c9f877;}
                .about_app .center .message.two div.arrow {top:25px; right:0px; padding:0; border-radius:0; background-position:left top}
                .about_app .center .message.two div h3 {color:#60953c}
            .about_app .center .message.three {padding-left:21px;}
                .about_app .center .message.three div {background-color:#fdf3bd}
                .about_app .center .message.three div.arrow {bottom:25px; left:0px; padding:0; border-radius:0; background-position:left -33px}
                .about_app .center .message.three div h3 {color:#E86D23}
            .about_app .center .message.four {padding-left:46px;}
                .about_app .center .message.four div {background-color:#ffe6f1;}
                .about_app .center .message.four div.arrow {top:25px; right:0px; padding:0; border-radius:0; background-position:left top}
                .about_app .center .message.four div h3 {color:#e74888}
    .about_app .clear {height:30px}
/* ----------------------------------------------------------------*/


  
/* -----------------------------------------------------------------
[Login and Registration forms] */  
.login_form {border-radius:10px; border:solid 1px #ddd; padding:20px; margin:40px 0 100px 0; width:310px}
    fieldset {border:none}
        .login_form fieldset dt {font-size:11pt; padding-bottom:3px;}
        .login_form fieldset dd {margin-bottom:8px}
        .login_form fieldset .field {width:300px}

.full_apply_form {border-radius:10px; border:solid 1px #ddd; padding:20px; margin:40px 0 100px 0; width:510px}
    .full_apply_form dt {font-size:11pt; padding-bottom:3px;}
        .full_apply_form dt span {font-size:9pt; padding-top:3px; display:block; font-style:italic; color:#666}
    .full_apply_form dd {margin-bottom:12px}
    .full_apply_form .field {width:500px}
    .full_apply_form select.field {width:506px}
        .full_apply_form select.field.short {width:70px}
    .full_apply_form .separator {border-bottom:solid 1px #ddd; padding-top:10px; margin-bottom:20px}
.apply_descr {padding-top:0px;}

.apply_form {border-radius:10px; border:solid 1px #ddd; padding:20px; width:410px; margin:0 auto 50px auto;}
    .apply_form dt {font-size:11pt; padding-bottom:3px;}
    .apply_form dd {margin-bottom:8px}
    .apply_form .field {width:400px}
    .apply_form select.field {width:406px}
/* ----------------------------------------------------------------*/


  
/* -----------------------------------------------------------------
[Help page] */ 
.faq {}
    .faq .faq_holder {float:left; margin-right:30px; width:420px; margin-bottom:30px} 
        .faq .faq_holder h3 {margin-bottom:15px; } 
        .faq .faq_holder ul li {padding-bottom:0px} 
            .faq .faq_holder ul li a {line-height:25px} 
            .faq .faq_holder ul li strong {font-weight:normal; font-style:italic} 
        .faq .faq_holder ul li .answer {display:none; overflow:hidden; /*max-height:300px*/} 
            .faq .faq_holder ul li .answer div {padding:10px 10px 10px 25px; background:#f0f0f0;  font-style:italic; text-indent:-17px; border-radius:7px;}
                .faq .faq_holder ul li .answer div a {line-height:normal}
/* ----------------------------------------------------------------*/
            


  
/* -----------------------------------------------------------------
[Local (shop page)] */ 
.advantages {padding: 0 0 0 380px; background:url('imgs/promo_local.png') no-repeat scroll left top; height:199px; border-top:solid 10px #fff}
    .advantages li {font-weight:normal; font-size:15pt; font-family:HelveticaCyrLight; margin-bottom:0; padding:15px 0 23px 5px; color:#333}
/* ----------------------------------------------------------------*/


  
/* -----------------------------------------------------------------
[Good page (link from facebook)] */ 
.good_page {}
    .good_page img {float:left; width:500px; height:500px; border:solid 1px #ddd;}
    .good_page img.shop_logo {width:200px; height:200px; border:solid 1px #ddd; display:block; float:none; margin-left:520px}
    .good_page p {margin:0 0 10px 520px}
    .good_page p strong {font-size:20pt}
/* ----------------------------------------------------------------*/


  
/* -----------------------------------------------------------------
[Contacts] */ 
.social_services {}
    ul.social_services li {list-style-type:none; padding:0; margin:0 10px 0 0; float:left; width:30px; height:30px;}
        ul.social_services li a {display:block; width:30px; height:30px; text-decoration:none; background-image:url('imgs/social.png')}
        ul.social_services li.twitter a {background-position:0 0}
        ul.social_services li.facebook a {background-position:-48px 0}
        ul.social_services li.vkontakte a {background-position:-96px 0}

.feedback_form {border-radius:10px; border:solid 1px #ddd; padding:20px; margin:0 0 30px 0; width:410px; float:left; margin-top:15px; display: none}
        .feedback_form fieldset dt {font-size:11pt; padding-bottom:3px;}
        .feedback_form fieldset dd {margin-bottom:8px}
        .feedback_form fieldset .field {width:400px}
        .feedback_form fieldset textarea {height:100px}
.cont_info {/*margin-left:470px;*/}
/* ----------------------------------------------------------------*/

.social_services.head_links {position: absolute; left: 220px; top:33px}