<br />
<a href="<?=$this->stock->getAdminUrl()?>">← Cancel</a>
<div class="content">
    <div class="container">
        <form id="form_prize_stock_edit" method="post">
            <div class="content_holder">
            	<h2><?=$this->stock->getPrizeName()?></h2>
            	<table class="reward_table">
            		<tr>
            			<td class="issue">Action</td>
            			<td>
            			    <select name="add">
                			    <? 
                                    foreach($this->form->getElement('add')->getMultiOptions() as $id => $name)
                                    {
                                        ?>
                                            <option value="<?=$id?>" <?=($id == $this->form->getElement('add')->getValue() ? 'selected="selected"' : '')?>><?=$name?></option>
                                        <?
                                    }
                                ?>
                			</select>
            			</td>
            		</tr>
            		<tr>
            			<td class="issue">Quantity</td>
            			<td>
            			    <input name="number" class="field" type="text" value="<?=$this->form->getElement('number')->getValue()?>" />
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('number')))?>
        			    </td>
            		</tr>
            	</table>
            	<h3>Comment</h3>
            	<textarea name="comment" class="field reward_comment" ><?=$this->form->getElement('comment')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('comment')))?>
                <div class="button" onclick="{$('#form_prize_stock_edit').submit();return false;}"><div class="button_body"><span>Saved</span></div></div>
            </div>
        </form>
    </div>
</div>