<?
    $this->headScript()->captureStart();
?>
    registry.stock = {
                        sortField:'<?=$this->sortField?>',
                        sortDir:'<?=$this->sortDir?>',
                        page:<?=$this->pageNum?>
                     };
<?
    $this->headScript()->captureEnd();
    $this->headScript()->appendFile('/js/shopfee/tableSorter.js');
    $this->headScript()->appendFile('/js/shopfee/views/reward/stock/index.js');
?>
<br />
<div class="content">
    <div class="container">
        <div class="content_holder nomargin">
        <table class="general_stat" data-table-sort="1">
            <thead>
                <th class="narrow">ID</th>
                <th data-sort-field="<?=QueryBuilder_Prize_Stock::SORT_PRIZE_NAME?>">Reward</th>
                <th data-sort-field="<?=QueryBuilder_Prize_Stock::SORT_NUMBER_AVAILABLE?>">Number in stock</th>
                <th data-sort-field="<?=QueryBuilder_Prize_Stock::SORT_NUMBER_DELIVERED?>">Total Sold</th>
            </thead>
            <tbody>
                <? 
                    $i = 0;
                    foreach($this->stockList as $stock)
                    {
                        $stock = new Decorator_Prize_Stock($stock);
                        ?>
                            <tr<?=($i%2 == 1 ? ' class="odd"' : '')?>>
                                <td><?=$stock->getId()?></td>
                                <td><a href="<?=$stock->getAdminUrl()?>"><?=$stock->getPrizeName()?></a></td>
                                <td class="<?=$stock->getNumberClass()?>"><?=$stock->getNumberAvailable()?></td>
                                <td><?=$stock->getNumberDelivered()?></td>
                            </tr>
                        <?
                        $i++;
                    }
                ?>
            </tbody>
        </table>
        </div>
    </div>
</div>
<?php
if (isset($this->paginator))
    echo $this->paginationControl($this->paginator, NULL, 'paginators/default.phtml', array("pageUrl" => $this->pageUrl, 'paginator' => $this->paginator->getAdapter()));
?>