<br />
<a href="/reward/stock/">← Storage</a>
<div class="content">
    <div class="container">
        <div class="content_holder">
        	<h2><?=$this->stock->getPrizeName()?></h2>
        	<table class="reward_table">
        		<tr>
        			<td class="issue">In stock</td>
        			<td><?=$this->stock->getNumberAvailable()?></td>
        		</tr>
        	</table>
        	<ul class="reward_actions">
        		<li class="edit_reward"><a href="/reward/stock/edit/id/<?=$this->stock->getId()?>/">Add/Remove</a></li>
        	</ul>
        	<h3>Changed history</h3>
        	<ul class="changes_history">
        	    <? 
                    foreach($this->history as $item)
                    {
                        $item = new Decorator_Prize_Stock_History($item);
                        ?>
                            <li>
                                Changed by <strong><?=$item->getUsername()?></strong> <?=$item->getDatetimeCreated()?>
                                <p><strong><?=$item->getDifference()?></strong></p>
                                <p><?=$item->getComment()?></p>
                            </li>
                        <?
                    }
                ?>
			</ul>
        </div>
    </div>
</div>