<link href="/css/stat/jquery-ui-1.8.17.custom.css" rel="stylesheet" type='text/css'/>
	<link href="/js/lib/jqplot/jquery.jqplot.css" rel="stylesheet" type='text/css' />
	
	<!--[if IE]><script language="javascript" type="text/javascript" src="/js/lib/jqplot/excanvas.min.js"></script><![endif]-->
	<script type='text/javascript' src='/js/lib/jqplot/jquery.jqplot.js'></script>
	<script type="text/javascript" src="/js/lib/jqplot/plugins/jqplot.dateAxisRenderer.js"></script>
	<script type="text/javascript" src="/js/lib/jqplot/plugins/jqplot.highlighter.js"></script>
	<script type='text/javascript' src='/js/shopfee/stat.js'></script>

<?php
    $this->headScript()->appendFile('/js/lib/jquery/jquery-ui-1.8.17.custom.min.js');
    $this->headScript()->appendFile('/js/lib/jquery/jquery.ui.datepicker-ru.js');

    $this->headLink()->appendStylesheet('/js/lib/jquery/ui/themes/eggplant/jquery-ui-1.8.5.custom.css');    
    $this->headLink()->appendStylesheet('/css/admin/ui.datepicker.css');
    
    $this->headScript()->captureStart();
?>
    $(function(){
        $.datepicker.setDefaults($.datepicker.regional['ru']);
        $.datepicker.setDefaults(
        {
            showOn: 'both',
            buttonImageOnly: true,
            buttonImage: '/imgs/admin/calendar.gif',
            buttonText: 'Calendar',
            minDate: '-100Y',
            maxDate: '+10Y',
            firstDay: 1
        } );
        $('.date_element').each(function(){
            $(this).datepicker({dateFormat: 'yy-mm-dd'});
        });
        
        $('.stat_submenu_item').each(function(){
            $('a',$(this)).click(function(){
                var $this = $(this);
                $('.stat_submenu_item').each(function(){
                    $(this).removeClass('current');
                });
                $('.stat_tab').each(function(){
                    $(this).removeClass('visible');
                });
                
                $('#'+$this.attr('display-block')).addClass('visible');
                $this.closest('.stat_submenu_item').addClass('current');
                return false;
            });
        });
    });
    
<?php
    $this->headScript()->captureEnd();
?>

<form method="post" action="/edit/stat/">
    <select class="field_select flow_left" name="shop_id" id="shop_id">
        <option value="">все магазины</option>
        <?php 
            foreach($this->shopList as $shop)
            {
                ?>
                    <option value="<?=$shop->getId()?>" <?=($this->shopId == $shop->getId() ? 'selected="selected"' : '')?>><?=$shop->getAddress()?></option>
                <?php
            }
        ?>
    </select>

    <div class="calendars">
        <div class="icon"></div>
    	<input type='hidden' id='date_from' name='date_from' value='<?=$this->fromDate?>'/>
    	<span class='date'>30 янв 2012</span>
        <div class="icon"></div>
    	<input type='hidden' id='date_to' name='date_to' value='<?=$this->toDate?>'/>
        <span class='date'>8 фев 2012</span>
    	<input type="submit" value="Показать" class="button_g" />
    	<div id='calendar'></div>
    </div>
</form>

<div class="clear"></div>
<ul class="stat_submenu">
    <li class="current stat_submenu_item"><a href="#" display-block="summary">Сводка</a></li>
    <!--<li class="stat_submenu_item"><a href="#" display-block="audience">Аудитория</a></li>-->
    <li class="stat_submenu_item"><a href="#" display-block="scan">Сканы</a></li>
</ul>
<div class="clear"></div>


<div class="content">
   
    <div id="summary" class="stat_tab visible">
        ВКЛАДКА СВОДКА
        <div class="container">
            <div class="content_holder">
                <div id="summary_graph"></div>
            </div>
        </div>
        <div class="container">
            <div class="content_holder nomargin">
            <table class="general_stat">
                <thead>
                    <tr>
                        <td>Дата</td>
                        <td>Посещения</td>
                        <!--<td>Покупки</td>
                        <td>Конвертация</td>-->
                        <td>Сканы</td>
                        <td>Выдано фишек</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="summ">
                        <td>Итого и средние</td>
                        <td><?=$this->summaryTotal['enter']?></td>
                        <!--<td>101</td>
                        <td>56,2%</td>-->
                        <td><?=$this->summaryTotal['scan']?></td>
                        <td><?=$this->summaryTotal['amount']?></td>
                    </tr>
                    <?php
                        $i=0;
                        foreach($this->summaryStat as $date => $statItem)
                        {
                            ?>
                                <tr <?=(!($i%2) ? 'class="odd"' : '')?>>
                                    <td><?=$date?></td>
                                    <td><?=$statItem['enter']?></td>
                                    <!--<td>8</td>
                                    <td>41,9%</td>-->
                                    <td><?=$statItem['scan']?></td>
                                    <td><?=$statItem['amount']?></td>
                                </tr>   
                            <?php
                            $i++;
                        }
                    ?>
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <!--<div id="audience" class="stat_tab">
        ВКЛАДКА АУДИТОРИЯ
        
    
        <div class="left_half">
            <div class="container">
                <div class="content_holder">
                    <h3>Распределение аудитории по возрасту</h3>
                    <div id="Age_Figure">
                        <div class="icons"></div>
                        <ul class="figure_body">
                            <li class="children">
                                <span>0–12</span>
                                <div class="border">
                                    <div class="padding_container">
                                        <div class="line" style="width:10%">
                                        <div class="highlight"></div>
                                        <div class="value">10%</div></div>
                                    </div>
                                </div>
                            </li><li class="teens">
                                <span>13–18</span>
                                <div class="border">
                                    <div class="padding_container">
                                        <div class="line" style="width:28%">
                                        <div class="highlight"></div>
                                        <div class="value">28%</div></div>
                                    </div>
                                </div>
                            </li><li class="youth">
                                <span>19–29</span>
                                <div class="border">
                                    <div class="padding_container">
                                        <div class="line" style="width:42%">
                                        <div class="highlight"></div>
                                        <div class="value">42%</div></div>
                                    </div>
                                </div>
                            </li><li class="middleaged">
                                <span>30–49</span>
                                <div class="border">
                                    <div class="padding_container">
                                        <div class="line" style="width:15%">
                                        <div class="highlight"></div>
                                        <div class="value">15%</div></div>
                                    </div>
                                </div>
                            </li><li class="gaffers">
                                <span>50–99</span>
                                <div class="border">
                                    <div class="padding_container">
                                        <div class="line" style="width:5%">
                                        <div class="highlight"></div>
                                        <div class="value">5%</div></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3>Распределение аудитории по полу</h3>
                    <div class="Sex_diagramm">
                        <div class="border">
                            <div class="men" style="width:60%">
                                <div class="color_area">
                                <div class="highlight"></div></div>
                                <span>М 60%</span>
                            </div>
                            <div class="hz" style="width:10%">
                                <div class="color_area">
                                <div class="highlight"></div></div>
                                <span>? 10%</span>
                            </div>
                            <div class="women" style="width:30%">
                                <div class="color_area">
                                <div class="highlight"></div></div>
                                <span>Ж 30%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_half">
            <div class="container">
                <div class="content_holder">
                    <h3>Самые активные посетители</h3>
                    <ul class="users_submenu">
                        <li class="first">Посещения</li>
                        <li class="current">Покупки</li>
                        <li class="last">Сканы</li>
                    </ul>
                    <ul class="stat_users_list">
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/31916/avatars/original/k-photo2.png?1331962104" alt="" />
                            <p class="name">Kristy Stetson</p>
                            <p class="desc">4 покупки</p>
                            <p class="fb"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/72922/avatars/original/profile.jpg?1320306568" alt="" />
                            <p class="name">Michael Kors</p>
                            <p class="desc">3 покупки</p>
                            <p class="fb off"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/26597/avatars/original/IMG_5767%20-%20Version%202.jpg?1330218467" alt="" />
                            <p class="name">Carlos Gavina</p>
                            <p class="desc">2 покупки</p>
                            <p class="fb"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/4642/avatars/original/panda_wilde.jpg?1331587781" alt="" />
                            <p class="name">Visual Idiot</p>
                            <p class="desc">2 покупки</p>
                            <p class="fb off"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/16711/avatars/original/bill_2012_bright.png?1325222193" alt="" />
                            <p class="name">Bill S Kenney</p>
                            <p class="desc">2 покупки</p>
                            <p class="fb"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/2944/avatars/original/avatar-02.jpg?1331419219" alt="" />
                            <p class="name">Shaun Moynihan</p>
                            <p class="desc">1 покупка</p>
                            <p class="fb"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/11867/avatars/original/e14818620effe00a0b7875b9bb6b74ee.jpg?1323741840" alt="" />
                            <p class="name">Kristy Stetson</p>
                            <p class="desc">1 покупка</p>
                            <p class="fb"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/28033/avatars/original/dribbbleavatar.jpg?1308756243" alt="" />
                            <p class="name">Michael Kors</p>
                            <p class="desc">1 покупка</p>
                            <p class="fb off"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/4642/avatars/original/panda_wilde.jpg?1331587781" alt="" />
                            <p class="name">Visual Idiot</p>
                            <p class="desc">2 покупки</p>
                            <p class="fb off"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/16711/avatars/original/bill_2012_bright.png?1325222193" alt="" />
                            <p class="name">Bill S Kenney</p>
                            <p class="desc">2 покупки</p>
                            <p class="fb"></p>
                        </li>
                        <li>
                            <img src="http://dribbble.s3.amazonaws.com/users/2944/avatars/original/avatar-02.jpg?1331419219" alt="" />
                            <p class="name">Shaun Moynihan</p>
                            <p class="desc">1 покупка</p>
                            <p class="fb"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
    </div>
    <div class="clear"></div>-->
    
    <div id="scan" class="stat_tab">
    ВКЛАДКА СКАНЫ
    
    
        <div class="container">
            <div class="content_holder">
                <?php
                    $i=0;
                    foreach($this->scanProductStat as $id => $scanStat)
                    {
                        $scan = Mapper_ScanProduct::getInstance()->getEntityById($id);
                        ?>
                            <div class="scan_item" scan-id="<?=$scan->getId()?>">
                                <h4><?=$scan->getName()?></h4>
                                <div class="scan_info">
                                    <img src="<?=$scan->getBigPicturePathFull()?>" />
                                    <!--<p><strong>12</strong> сканов за <strong>234</strong> фишек</p>-->
                                </div>
                                <div class='scan_graph' id='scan_graph_<?=$i?>'></div>
                                <div class="clear"></div>
                            </div>
                        <?php
                        $i++;
                    }
                ?>
            </div>
        </div>
    </div>
</div>