<form class="fields" id="form_mall_map" action="<?=$this->form->getAction()?>" method="<?=$this->form->getMethod()?>" enctype="<?=$this->form->getEnctype()?>">
    <div class="edit_box_form_container edit_good">
        <div class="close close_form" title="Закрыть"> </div>
        <input type="hidden" name="id" value="<?=$this->form->getValue('id')?>" />
        <input type="hidden" name="mall_id" value="<?=$this->form->getValue('mall_id')?>" />
        <?=$this->form->getElement('file')?>
        <dl>
	        <div class="separator"></div>
            <dt><label for="floor">Этаж №</label></dt>
            <dd>
                <input type="text" id="floor" class="field" name="floor" value="<?=$this->form->getElement('floor')->getValue()?>" />
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('floor')))?>
            </dd>
        </dl>
        <div class="separator"></div>
        <div class="button form_submit">
            <div class="button_body">
                <span>Сохранить</span>
            </div>
        </div>
    </div>
</form>