<?
    $shopId = $this->shop ? $this->shop->getId() : '0';
?>

<script type="text/javascript">
    registry.shopGoogleMap = {
                                lat: <?=$this->form->getElement('lat')->getValue()?>,
                                long: <?=$this->form->getElement('long')->getValue()?>,
                                shopCityName: '<?=$this->form->getElement('city')->getValue()?>',
                                shopAddress: '<?=$this->form->getElement('address')->getValue()?>',
                             };
</script>


<form class="fields" id="form_shop" action="<?=$this->form->getAction()?>" method="<?=$this->form->getMethod()?>" enctype="<?=$this->form->getEnctype()?>" data-object-id="<?=$shopId?>" data-object-type="shop">
    <input type="hidden" name="id" value="<?=$this->form->getValue('id')?>" />
    <div class="edit_shop">
        <h2>Редактирование точки</h2>
        <label>Город:</label>
        <select class="field" name="city">
            <?
                foreach($this->form->getElement('city')->getMultiOptions() as $id => $name)
                {
                    ?>
                        <option value="<?=$id?>" <?=($id == $this->form->getElement('city')->getValue() ? 'selected="selected"' : '')?>><?=$name?></option>
                    <?
                }
            ?>
        </select>
        <label style="display:none">Название:</label>
        <input id="name" style="display:none" name="name" class="field" type="text" value="<?=$this->form->getElement('name')->getValue()?>" />
        <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('name')))?>
        <label>ТЦ, ТРК, ТК:</label>
        <select class="field" name="mall_id" id="mall_id">
            <?
                $mallIdElement = $this->form->getElement('mall_id');
                foreach($mallIdElement->getMultiOptions() as $id => $mallName)
                {
                    $mall = $id ? Mapper_Mall::getInstance()->getEntityById($id) : null;
                    ?>
                        <option value="<?=$id?>" <?=($id == $mallIdElement->getValue() ? 'selected="selected"' : '')?> data-address="<?=($mall ? $mall->getAddress() : '')?>" data-lat="<?=($mall ? $mall->getLat() : '')?>" data-long="<?=($mall ? $mall->getLongtitude() : '')?>"><?=$mallName?></option>
                    <?
                }
            ?>
        </select>
        <label>Адрес:</label>
        <input id="address" name="address" class="field" type="text" value="<?=$this->form->getElement('address')->getValue()?>" />
        <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('address')))?>
        <label>Расположение:</label>
        <div id="<?=$this->mapCanvasId?>"
        style="width:300px;height:300px;position:relative;margin:0;border:10px solid #EBF1F5;overflow:hidden; float:left"></div>
        <div class="coord">
	        <label for="lat">Широта</label>
	        <input id="lat" name="lat" class="field" type="text" value="<?=$this->form->getElement('lat')->getValue()?>" />
	        <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('lat')))?>
	        <label for="long">Долгота</label>
	        <input id="long" name="long" class="field" type="text" value="<?=$this->form->getElement('long')->getValue()?>" />
	        <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('long')))?>
        </div>
        <div class="clear"></div>
        <input type="submit" class="small_button" value="Сохранить" />
        <input type="button" class="small_button" value="Отменить" data-cancel-object-id="<?=$shopId?>" />
    </div>
</form>