<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAy_6H9BLYk4iktEzKem7jWxRlslRiujN8va18vPHXIAbOE8nnjBSHAZG62UgRWPqw4azKxdUDRSkecQ" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    var map = null;

    var lat = <?=$this->form->getElement('lat')->getValue()?>;
    var long = <?=$this->form->getElement('long')->getValue()?>;
    var shopCityName = '<?=$this->form->getElement('city')->getValue()?>';
    var shopAddress = '<?=$this->form->getElement('address')->getValue()?>';

    function initialize() 
    {
        if (GBrowserIsCompatible()) 
        {
            map = new GMap2(
                                document.getElementById("map_canvas"),
                                {
                                    mapTypes:/*[
                                                G_SATELLITE_MAP,
                                                G_NORMAL_MAP,
                                                G_HYBRID_MAP
                                             ]*/
                                             G_DEFAULT_MAP_TYPES
                                }
                            );
    
            map.addControl(new GSmallZoomControl());
            map.addControl(new GHierarchicalMapTypeControl());
            /* Создать элементы навигации, масштабную линейку */
            var map_ctrl=new GLargeMapControl();
            var map_type_ctrl=new GMapTypeControl();
            var map_scale_ctrl=new GScaleControl();
            /* Добавить элементы навигации */
            map.addControl(map_ctrl);
            /* Кнопки выбора типа карты*/
            map.addControl(map_type_ctrl);
            /* Добавить масштабную линейку */
            map.addControl(map_scale_ctrl);
    
            //default coordinates
            if((lat == 0) && (long == 0))
            {
                var geocoder = new GClientGeocoder();
                if (geocoder) 
                {
                    geocoder.getLatLng(
                      shopCityName+' '+shopAddress,
                      function(point) 
                      {
                            if (point) 
                            {
                                setMarker(point);
                            }
                      }
                    );
                }
            }
            //else, if coordinates are set
            else
            {
                setMarker(new GLatLng(lat,long));
            }
        }
    }
    
    var firstMarker = false;
    function setMarker(point)
    {
        map.setCenter(point, 15);
        
        var marker = new GMarker(point, {
                                            title:shopAddress,
                                            draggable:true
                                        });
        map.addOverlay(marker);
        if(!firstMarker)
        {
            map.zoomIn(point,true);
            map.zoomIn(point,true);
            firstMarker = true;
        }
    }
    $(document).ready(initialize);
</script>








<form class="fields" id="form_shop" action="<?=$this->form->getAction()?>" method="<?=$this->form->getMethod()?>" enctype="<?=$this->form->getEnctype()?>">
    <div class="edit_box_form_container">
        <div class="close close_form" title="Закрыть"> </div>
        <input type="hidden" name="id" value="<?=$this->form->getValue('id')?>" />
        <dl>
            <dt><label for="name">Название (необязательно)</label></dt>
            <dd>
                <input id="name" name="name" class="field" type="text" value="<?=$this->form->getElement('name')->getValue()?>" />
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('name')))?>
            </dd>
            <?php /*?>
            <dt><label for="description">Описание</label></dt>
            <dd>
                <textarea name="description" id="description" ><?=$this->form->getElement('description')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('description')))?>
            </dd>
            <?php */?>
            <dt><label for="address">Адрес</label></dt>
            <dd>
                <input id="address" name="address" class="field" type="text" value="<?=$this->form->getElement('address')->getValue()?>" />
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('address')))?>
            </dd>
            <dt><label for="lat">Расположение</label></dt>
            <dd>
                <div id="map_canvas" style="width:100%;height:680px;position:relative;margin:0 auto;border:10px solid #EBF1F5;overflow:hidden;"></div>
            </dd>
            <dt><label for="lat">Широта</label></dt>
            <dd>
                <input id="lat" name="lat" class="field" type="text" value="<?=$this->form->getElement('lat')->getValue()?>" />
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('lat')))?>
            </dd>
            <dt><label for="long">Долгота</label></dt>
            <dd>
                <input id="long" name="long" class="field" type="text" value="<?=$this->form->getElement('long')->getValue()?>" />
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('long')))?>
            </dd>
        </dl>
        <div class="button form_submit">
            <div class="button_body">
                <span>Сохранить</span>
            </div>
        </div>
    </div>
</form>