<a href="/prize/add/">Добавить приз</a>
<br />

<h1>Призы</h1>
<?php
    foreach($this->prizeList as $prize)
    {
	    ?>
            <a href="/prize/edit/id/<?=$prize->getId()?>/"><?=$prize->getName()?></a>
            <br />
        <?php
    }
    if(isset($this->paginator))
        echo $this->paginationControl($this->paginator, NULL, 'paginators/default.phtml',array("pageUrl"=>$this->pageUrl, 'paginator' => $this->paginator->getAdapter(),'containerClass' => 'bottom')); 
?>
