<? 
    $this->headScript()->appendFile('/js/lib/jquery/jquery-ui-1.8.17.custom.min.js');
    $this->headScript()->appendFile('/js/lib/jquery/ui.datepicker.js');
    $this->headLink()->appendStylesheet('/js/lib/jquery/ui/themes/eggplant/jquery-ui-1.8.5.custom.css');
    $this->headLink()->appendStylesheet('/css/admin/ui.datepicker.css');
    $this->headScript()->appendFile('/js/shopfee/views/reward/order/edit.js');
?>
<br />
<a href="<?=$this->order->getAdminUrl()?>">← Cancel</a>
<div class="content">
    <div class="container">
        <form id="form_prize_order_edit" method="post">
            <div class="content_holder">
                <h2>№ <?=$this->order->getId()?></h2>
                <table class="reward_table">
                    <tr>
                        <td class="issue">Дата</td>
                        <td>
                            <input type="text" name="datetime_created" class="date_element" value="<?=$this->form->getElement('datetime_created')->getValue()?>" />
                        </td>
                    </tr>
                    <tr>
                        <td class="issue">Status</td>
                        <td>
                            <select name="prize_order_status_id">
                                <? 
                                    foreach($this->form->getElement('prize_order_status_id')->getMultiOptions() as $id => $name)
                                    {
                                        ?>
                                            <option value="<?=$id?>" <?=($id == $this->form->getElement('prize_order_status_id')->getValue() ? 'selected="selected"' : '')?>><?=$name?></option>
                                        <?
                                    }
                                ?>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="issue">Name</td>
                        <td>
                            <input id="user_name" name="user_name" class="field" type="text" value="<?=$this->form->getElement('user_name')->getValue()?>" />
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('user_name')))?>
                        </td>
                    </tr>
                    <tr>
                        <td class="issue">Post index</td>
                        <td>
                            <input id="post_index" name="post_index" class="field" type="text" value="<?=$this->form->getElement('post_index')->getValue()?>" />
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('post_index')))?>
                        </td>
                    </tr>
                    <tr>
                        <td class="issue">Country</td>
                        <td>
                            <input id="country" name="country" class="field" type="text" value="<?=$this->form->getElement('country')->getValue()?>" />
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('country')))?>
                        </td>
                    </tr>
                    <tr>
                        <td class="issue">City</td>
                        <td>
                            <input id="city" name="city" class="field" type="text" value="<?=$this->form->getElement('city')->getValue()?>" />
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('city')))?>
                        </td>
                    </tr>
                    <tr>
                        <td class="issue">Address</td>
                        <td>
                            <input id="address" name="address" class="field" type="text" value="<?=$this->form->getElement('address')->getValue()?>" />
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('address')))?>
                        </td>
                    </tr>
                    <tr>
                        <td class="issue">Phone</td>
                        <td>
                            <input id="phone" name="phone" class="field" type="text" value="<?=$this->form->getElement('phone')->getValue()?>" />
                            <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('phone')))?>
                        </td>
                    </tr>
                </table>
                <h3>Comment</h3>
                <textarea name="comment" id="comment" class="reward_comment" ><?=$this->form->getElement('comment')->getValue()?></textarea>
                <?=$this->partial('include/form_element_error.phtml',array('element' => $this->form->getElement('comment')))?>
                <div class="button" onclick="{$('#form_prize_order_edit').submit();return false;}"><div class="button_body"><span>Save</span></div></div>
            </div>
        </form>
    </div>
</div>