<?
    $this->headScript()->captureStart();
?>
    registry.order = {
                        sortField:'<?=$this->sortField?>',
                        sortDir:'<?=$this->sortDir?>',
                        page:<?=$this->pageNum?>
                     };
<?
    $this->headScript()->captureEnd();
    $this->headScript()->appendFile('/js/shopfee/tableSorter.js');
    $this->headScript()->appendFile('/js/shopfee/views/reward/order/index.js');
?>
<form method="get" id="form_reward_order">
    <div class="reward_filter">
        Show with status:
        <select name="prize_order_status_id[]" id="prize_order_status_id">
            <option value="0">All active</option>
            <? 
                foreach($this->statusList as $status)
                {
                    ?>
                        <option value="<?=$status->getId()?>" <?=(in_array($status->getId(),$this->selectedStatusIds) ? 'selected="selected"' : '')?>><?=$status->getName()?></option>
                    <?
                }
            ?>
        </select>
        <span style="margin-left:400px;">Group status change</span>
        <select id="order-change-status">
            <? 
                foreach($this->statusList as $status)
                {
                    ?>
                        <option value="<?=$status->getId()?>" <?=(in_array($status->getId(),$this->selectedStatusIds) ? 'selected="selected"' : '')?>><?=$status->getName()?></option>
                    <?
                }
            ?>
        </select>
        <input type="button" id="order-change-status-submit" value="Change status" />
    </div>
    <div class="content">
        <div class="container">
            <div class="content_holder nomargin">
            <table class="general_stat" data-table-sort="1">
                <thead>
                    <th class="narrow">
                        ID
                        <br />
                        <input type="checkbox" id="check-all-order" />
                    </th>
                    <th class="narrow" data-sort-field="<?=QueryBuilder_Prize_Order::SORT_DATETIME_CREATED?>">Date</th>
                    <th data-sort-field="<?=QueryBuilder_Prize_Order::SORT_PRIZE_STATUS_ID?>">Status</th>
                    <th class="wide" data-sort-field="<?=QueryBuilder_Prize_Order::SORT_PRIZE_NAME?>">Reward</th>
                    <th class="narrow">Storage</th>
                    <th class="wide" data-sort-field="<?=QueryBuilder_Prize_Order::SORT_ADDRESS?>">Address</th>
                    <th data-sort-field="<?=QueryBuilder_Prize_Order::SORT_USER_NAME?>">Name</th>
                    <th data-sort-field="<?=QueryBuilder_Prize_Order::SORT_PHONE?>">Phone</th>
                </thead>
                <tbody>
                    <? 
                        $i = 0;
                        foreach($this->orderList as $order)
                        {
                            $order = new Decorator_Prize_Order($order);
                            $stock = new Decorator_Prize_Stock($order->getPrize()->getStock());
                            ?>
                                <tr<?=($i%2 == 1 ? ' class="odd"' : '')?>>
                                    <td>
                                        <?=$order->getId()?>
                                        <br />
                                        <input type="checkbox" value="<?=$order->getId()?>" data-order-id="<?=$order->getId()?>" />
                                    </td>
                                    <td><?=$order->getDatetimeCreated()?></td>
                                    <td><?=$order->getPrizeOrderStatus()->getName()?></td>
                                    <td><a href="<?=$order->getAdminUrl()?>"><?=$order->getPrize()->getName()?></a></td>
                                    <td class="<?=$stock->getNumberClass()?>"><?=$stock->getNumberAvailable()?></td>
                                    <td><?=$order->getAddress()?></td>
                                    <td><?=$order->getUserName()?></td>
                                    <td><?=$order->getPhone()?></td>
                                </tr>
                            <?
                            $i++;
                        }
                    ?>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</form>
<?php
if (isset($this->paginator))
    echo $this->paginationControl($this->paginator, NULL, 'paginators/default.phtml', array("pageUrl" => $this->pageUrl, 'paginator' => $this->paginator->getAdapter()));
?>