<br />
<a href="/reward/order/">← All rewards</a>
<div class="content">
    <div class="container">
        <div class="content_holder">
            <h2>№ <?=$this->order->getId()?></h2>
            <table class="reward_table">
                <tr>
                    <td class="issue">Date</td>
                    <td><?=$this->order->getDatetimeCreated()?></td>
                </tr>
                <tr>
                    <td class="issue">Status</td>
                    <td><?=$this->order->getPrizeOrderStatus()->getName()?></td>
                </tr>
                <tr>
                    <td class="issue">User name</td>
                    <td><?=$this->order->getUserName()?></td>
                </tr>
                <tr>
                    <td class="issue">Post index</td>
                    <td><?=$this->order->getPostIndex()?></td>
                </tr>
                <tr>
                    <td class="issue">Country</td>
                    <td><?=$this->order->getCountry()?></td>
                </tr>
                <tr>
                    <td class="issue">City</td>
                    <td><?=$this->order->getCity()?></td>
                </tr>
                <tr>
                    <td class="issue">Address</td>
                    <td><?=$this->order->getAddress()?></td>
                </tr>
                <tr>
                    <td class="issue">Phone</td>
                    <td><?=$this->order->getPhone()?></td>
                </tr>
            </table>
            <ul class="reward_actions">
                <li class="print_reward"><a href="/reward/order/print/id/<?=$this->order->getId()?>/">Print delivery sheet</a></li>
                <li class="edit_reward"><a href="/reward/order/edit/id/<?=$this->order->getId()?>/">Edit</a></li>
            </ul>
            <h3>Change history</h3>
            <ul class="changes_history">
                <? 
                    foreach($this->history as $item)
                    {
                        $item = new Decorator_Prize_Order_History($item);
                        ?>
                            <li>
                                Edited by <strong><?=$item->getUsername()?></strong> <?=$item->getDatetimeCreated()?>
                                <? 
                                    if($item->getDetail())
                                    {
                                        ?>
                                            <p><?=$item->getDetail()?></p>
                                        <?
                                    }
                                    if($item->getComment())
                                    {
                                        ?>
                                            <p><?=$item->getComment()?></p>
                                        <?
                                    }
                                ?>
                            </li>
                        <?
                    }
                ?>
            </ul>
        </div>
    </div>
</div>