<?php 
	if ($this->pageCount)
	{ 
		?>
            <ul class="pagination">
                <?
                    if(isset($this->previous))
                    {
                        ?>
                            <li><a href="<?$this->paginator->getURL($this->pageUrl, $this->previous)?>">&laquo;</a></li>
                        <?
                    }
                    foreach ($this->pagesInRange as $page)
                    {
                        ?>
                            <li <?=($page == $this->current ? 'class="active"' : '')?>>
                                <a href="<?=$this->paginator->getURL($this->pageUrl, $page)?>">
                                    <?=$page;?>
                                </a>
                            </li>
                        <?
                    }
                    if(isset($this->next))
                    {
                        ?>
                            <li><a href="<?$this->paginator->getURL($this->pageUrl, $this->next)?>">&raquo;</a></li>
                        <?
                    }
                ?>
            </ul>
		<?php
	}
?>