<?
$showFirst = key($this->pagesInRange) != $this->first;
$showLast = end($this->pagesInRange) != $this->last;
reset($this->pagesInRange);

?>

<ul class="paging">

    <?if(isset($this->previous)):?>
        <li class="prev">
            <a href="<?=$this->paginator->getURL($this->pageUrl, $this->previous)?>" title="Previous">&lt;</a>
        </li>
    <?endif?>

    <?if($showFirst):?>
        <li>
            <a href="<?=$this->paginator->getURL($this->pageUrl, $this->first)?>"><?=$this->first?></a>
        </li>
        <li>...</li>
    <?endif?>

    <?foreach ($this->pagesInRange as $page):?>
        <?if(!(($page == $this->first + 1) && $showFirst) && (!(($page == $this->last - 1) && $showLast))):?>
        <li<?=($page == $this->current)?' class="current"':''?>>
            <a href="<?=$this->paginator->getURL($this->pageUrl, $page)?>"><?=$page?></a>
        </li>
        <?endif?>
    <?endforeach?>

    <?if(end($this->pagesInRange) != $this->last):?>
        <li>...</li>
        <li>
            <a href="<?=$this->paginator->getURL($this->pageUrl, $this->last)?>"><?=$this->last?></a>
        </li>
    <?endif?>

    <?if(isset($this->next)):?>
        <li class="next">
            <a href="<?=$this->paginator->getURL($this->pageUrl, $this->next)?>" title="Next">&gt;</a>
        </li>
    <?endif?>

</ul>

