* {padding:0; margin:0; list-style-type:none}

body {background:url('/imgs/bgr.png') repeat; font-family:Helvetica, Arial, Sans-Serif;-webkit-tap-highlight-color: rgba(0,0,0,0);}
@media (-webkit-min-device-pixel-ratio: 2) { body {background-image:url('/imgs/bgr@2x.png'); background-size: 32px 32px} }

.ui-loader {display:none;}

h2 {color:#373737; font-size:16px; text-shadow:0 1px 0 #fff; text-align:center; margin:15px 0}

.profile_header {padding:5px 0 5px 5px}
    .profile_header .profile_photo {float:left; width:90px; height:90px; background:url('/imgs/Profile_personalize_me.png') no-repeat scroll left top; border:solid 3px #fff;background-size: 90px 90px; 
            -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
            -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
            box-shadow: 0px 0px 5px rgba(0,0,0,0.4)}
     @media (-webkit-min-device-pixel-ratio: 2)
              { .profile_header .profile_photo {background-image:url('/imgs/Profile_personalize_me@2x.png'); background-size: 90px 90px; } }
    .profile_header h2 {padding:0; margin:0 0 0 102px; text-align:left}
    .profile_header .profile_menu {padding:2px 0; margin:0 0 0 99px; height:35px;}
        .profile_header .profile_menu li {float:left; margin-left:3px; padding:2px; text-align:center; background:url('/imgs/Profile_button.png') no-repeat scroll left top; font-size:10px; color:#fff; width:61px; text-shadow:0 -1px 0 #243b4b; height:29px}
        .profile_header .profile_menu li.pushed {background-position:left -33px}
    @media (-webkit-min-device-pixel-ratio: 2) { .profile_header .profile_menu li { background-image:url('/imgs/Profile_button@2x.png'); background-size: 65px 66px;} }
            #profile_menu_checkin,#profile_menu_scan,#profile_menu_reward {display:block; text-align:center; font-size:14px; font-weight:bold; height:12px; padding-bottom:3px}
    .profile_header h3 {padding:0; margin:0 0 0 102px; font-size:13px; font-weight:normal; color:#373737; text-shadow:0 1px 0 #fff}
    .profile_header .level {height:18px; margin-left:101px; padding-top:2px; position:relative; margin-right:5px}
        .profile_header .level_progress {margin-right:32px; background:#fff; border:solid 1px #828282; border-radius:4px; box-shadow:0 1px 0 #fff; height:16px; overflow:hidden}
            .profile_header .level_complete { 
                background:#49d941;
                background: -webkit-gradient(linear, left top, left bottom, from(#22bb23), to(#6af35b));
                background: -moz-linear-gradient(top,  #22bb23,  #6af35b); position:relative; height:16px}
                .profile_header .level_complete .level_current {font-size:14px; font-weight:bold; color:#fff; text-shadow:0 1px 0 #36862f; position:absolute; right:2px; top:0px; display:block}
        .profile_header .level_goal {font-size:14px; font-weight:bold; color:#373737; text-shadow:0 1px 0 #fff; position:absolute; right:0; top:3px}

.profile_bages {background:#fff; border-top:solid 1px #828282; border-bottom:solid 1px #828282; margin-top:5px; padding-top:10px;}
    .profile_bages li {float:left; width:33%; position:relative; height:122px; text-align:center;}
        .profile_bages li.clear {float:none; clear:both; height:0; font-size:0; padding:0; margin:0;}
        .profile_bages li .points {position:absolute; width:50px; height:58px; background:url('/imgs/big_circle.png') no-repeat scroll right top; right:-3px; top:45px}
        .profile_bages li .points.used {background-position:0 -58px}
        .profile_bages li .points.used span {display:none}
         @media (-webkit-min-device-pixel-ratio: 2) { .profile_bages li .points {background-image:url('/imgs/big_circle@2x.png'); background-size:50px 177px;} }
            .profile_bages li .points span {color:#fff; font-size:25px; text-align:center; display:block; font-weight:bold; text-shadow: 0 2px 0 #298a21; padding-top:15px}
        .profile_bages li p {font-size:11px; padding-top:94px; text-align:center; line-height:12px}
        .profile_bages li.invite_friends {background:url('/imgs/Profile_bage_friends.png') no-repeat scroll center top}
        .profile_bages li.connect_vk {background:url('/imgs/Profile_bage_VK.png') no-repeat scroll center top}
        .profile_bages li.got_promo_code {background:url('/imgs/Profile_bage_promo.png') no-repeat scroll center top}
        .profile_bages li.connect_BVC {background:url('/imgs/Profile_bage_BVC.png') no-repeat scroll center top}
        .profile_bages li.connect_fb {background:url('/imgs/Profile_bage_FB.png') no-repeat scroll center top}
        .profile_bages li.blank {background:url('/imgs/Profile_bage_blank.png') no-repeat scroll center top}
            .profile_bages li.blank p {color:#999}
        @media (-webkit-min-device-pixel-ratio: 2) { 
        .profile_bages li.invite_friends {background-image:url('/imgs/Profile_bage_friends@2x.png'); background-size: 92px 92px;}
        .profile_bages li.connect_vk {background-image:url('/imgs/Profile_bage_VK@2x.png'); background-size: 92px 92px;}
        .profile_bages li.got_promo_code {background-image:url('/imgs/Profile_bage_promo@2x.png'); background-size: 92px 92px;}
        .profile_bages li.connect_BVC {background-image:url('/imgs/Profile_bage_BVC@2x.png'); background-size: 92px 92px;}
        .profile_bages li.connect_fb {background-image:url('/imgs/Profile_bage_FB@2x.png'); background-size: 92px 92px;}
        .profile_bages li.blank {background-image:url('/imgs/Profile_bage_blank@2x.png'); background-size: 92px 92px;}
        }

/*-------------07.05----*/

p.center  {color:#373737; font-size:15px; text-shadow:0 1px 0 #fff; text-align:center; margin:15px 0}
.promo_code {color:#228108; font-size:40px; text-shadow:0 1px 0 #fff; text-align:center; margin:15px; font-weight:bold; letter-spacing:3px; padding:15px; 
    background: url('/imgs/promo_bgr.png') no-repeat scroll center top; }
.big_button {width:228px; height:33px; padding-top:14px; color:#fff; font-weight:bold; font-size:16px; background:orange; margin:15px auto; text-align:center}
.got_promo {background:#fff; padding:5px; border:solid 1px #666; border-radius:5px; margin:15px auto; display:block; font-size:30px; color:#373737; 
    text-transform:uppercase; letter-spacing:3px; font-weight:bold; width:90%; text-align:center}

 .big_button {width:255px; height:36px; padding-top:18px; color:#fff; font-weight:bold; font-size:16px; background:url('/imgs/big_button.png'); 
    margin:15px auto; text-align:center; text-shadow:0 -1px 0 #234054}
    .big_button.pushed {background:url('/imgs/big_button_highlighted.png')}
 @media (-webkit-min-device-pixel-ratio: 2) {
.big_button {background-image:url('/imgs/big_button@2x.png'); background-size: 255px 54px}
    .big_button.pushed {background-image:url('/imgs/big_button_highlighted@2x.png'); background-size: 255px 54px}
 }
 

/*-------- 23.05----*/

header.fixed {position:fixed; top:0; left:0; width:98%; background:url('/imgs/fixed_header.png') repeat-x;font-size:16px; padding:2px 0 0 2%; margin:0; color:#fff; text-shadow:0 1px 0 #676d71; height:21px; font-weight:bold}

.social_invite_list {padding-top:23px; margin-bottom:20px; 
            -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
            -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
            box-shadow: 0px 5px 5px rgba(0,0,0,0.2)}
    .social_invite_list li {border-bottom:solid 1px #e0e0e0; background:#fff url('/imgs/checkboxes.png') no-repeat scroll right -56px; padding:3px; height:50px;}
        .social_invite_list li img {width:50px; height:50px; float:left}
        .social_invite_list li p {margin-left:55px; color:#373737; font-size:18px; padding-top:13px}
    .social_invite_list li.on {background-position:right 13px}
    
     @media (-webkit-min-device-pixel-ratio: 2) { 
        header.fixed {background-image:url('/imgs/fixed_header@2x.png'); background-size:320px 23px}
        .social_invite_list li {background-image:url('/imgs/checkboxes@2x.png'); background-size:45px 100px}
     }

.no_content_message {padding-top:50px; text-align:center; font-size:20px; font-weight:bold; color:#484d50; text-shadow:0 1px 0 #fff}

.error {color:red;}
.error_promo {width:90%; text-align:center;margin:15px auto;}
/*jquery-mobile height fix*/
.ui-page {min-height:100% !important;}