<?=$this->render('user-shop/form.phtml')?>
<br />
<br />
<h4>Square Logo</h4>
<br />
<img src="<?=$this->tradeNetwork->getBigPicturePathFull()?>" width="<?=Application::getTradeNetworkBigPictureSide()?>" height="<?=Application::getTradeNetworkBigPictureSide()?>" />
<h4>Rectangle Logo</h4>
<br />
<img src="<?=$this->tradeNetwork->getRectanglePicturePathFull()?>" width="<?=Application::getTradeNetworkRectanglePictureWidth()?>" height="<?=Application::getTradeNetworkRectanglePictureHeight()?>" />
