<div class="row">
    <a href="/admin/user-shop/add-from-admin/" class="btn btn-success" style="float:right;">Register new trade network</a>

    <form class="navbar-form navbar-left" role="search" action="/admin/user-shop/" method="get">
        <div class="form-group">
            <input type="text" class="form-control" name="name" value="<?=$this->filter->getElement('name')->getValue()?>">
        </div>
        <button type="submit" class="btn btn-default">Find</button>
    </form>

</div>

<br />

<table class="table table-bordered table-striped" data-table-sortable="1">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Shop Number</th>
            <th>Purchase Confirmation</th>
            <th>Edit</th>
            <th>Content Administration</th>
            <th>Show/Hide</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    <?php
        foreach($this->tradeNetworkList as $tradeNetwork)
        {
            ?>
            <tr>
                <td><?=$tradeNetwork->getId()?></td>
                <td><a class="btn btn-link" href="/admin/shop/index/trade_network_id/<?=$tradeNetwork->getId()?>/" <?=($tradeNetwork->isHidden() ? 'style="text-decoration:line-through;"' : '')?>><?=$tradeNetwork->getTitle()?></a></td>
                <td><?=$tradeNetwork->getShops(null)->totalCount()?></td>
                <td>
                    <?
                    if($tradeNetwork->hasIntegration())
                    {
                        ?>
                        <a class="btn btn-warning btn-sm" href="/admin/user-shop/buy-barcode/id/<?=$tradeNetwork->getId()?>/">Generate purchase confirmation</a>
                    <?
                    }
                    else
                    {
                        ?>
                        &nbsp;
                    <?
                    }
                    ?>
                </td>
                <td><a class="btn btn-primary btn-sm" href="/admin/user-shop/edit/id/<?=$tradeNetwork->getId()?>/">Edit</a></td>
                <td><a class="btn btn-primary btn-sm" href="/admin/user-shop/login-as-user-shop/id/<?=$tradeNetwork->getId()?>/" target="_blank">Enter</a></td>
                <td>
                    <a class="btn btn-warning btn-sm" href="/admin/user-shop/hide/id/<?=$tradeNetwork->getId()?>/is_hidden/<?=($tradeNetwork->isHidden() ? '0' : '1')?>/"><?=($tradeNetwork->isHidden() ? 'Show' : 'Hide')?></a>
                </td>
                <td>
                    <a href="/admin/user-shop/delete/id/<?=$tradeNetwork->getId()?>/" class="deletable btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        <?php
        }
    ?>
    </tbody>
</table>

<?php
if (isset($this->paginator))
    echo $this->paginationControl($this->paginator, NULL, 'paginators/default.phtml', array("pageUrl" => $this->pageUrl, 'paginator' => $this->paginator->getAdapter()));
?>