Добрый день.<br /><br />

Магазин <?=$this->tradeNetwork->getTitle()?> успешно активирован.<br /> 
Вы можете изменять параметры магазина, перейдя по ссылке <a href="http://<?=Application::getHostName()?>/edit/">http://<?=Application::getHostName()?>/edit/</a>.<br /><br />

С уважением, <br />
Администрация shopfee.ru 