<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Soukkick</title>
    <link href="/css/mobile/profile.v3.css" rel="stylesheet" type="text/css" />
    <script src="/js/lib/jquery/jquery-1.11.0.js"></script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
    <script src="/js/shopfee/mobile/bridge.v1.js"></script>
    <script src="/js/lib/json-js/json2.js"></script>
    
    <script>
        $(function(){
            $('.social_invite_list_li').each(function(){
                $(this).click(function(){
                    var $this = $(this);
                    var onClass = 'on';
                    var $checkbox = $('.social_friend',$this);
                    if($this.hasClass(onClass))
                    {
                        $this.removeClass(onClass);
                        $checkbox.attr('checked',false);
                    }
                    else
                    {
                        $this.addClass(onClass);
                        $checkbox.attr('checked',true);
                    }
                });
            });

            var $listSubmit = $('#friend_list_submit');
            $listSubmit.click(function(){
                var friendIds = [];
                $('.social_friend').each(function(){
                    var $this = $(this);
                    if($this.is(':checked'))
                    {
                        friendIds[friendIds.length] = parseInt($this.val());
                    }
                });
                if(friendIds.length > 0)
                    MobileBridge.prototype.getInstance().triggerEventToMobile('friendListSubmit',{ids:friendIds});
            });
            makeNativeHighlight($listSubmit,'pushed');
        });
    </script>
</head>
<body>
    <header class="fixed">
        Кого из друзей пригласим?
    </header>
    <?php 
        if(!empty($this->friendList))
        {
            ?>
                <ul class="social_invite_list">
                <?php
                    foreach($this->friendList as $id => $content)
                    {
                        ?>
                            <li class="social_invite_list_li">
                                <input type="checkbox" class="social_friend" style="display:none;" value="<?=$id?>" id="friend_<?=$id?>" />
                                <img src="<?=$content['photo']?>" />
                                <p class="name"><?=$content['name']?></p>
                            </li>
                        <?php
                    }
                ?>
                </ul>
                <div class="big_button" id="friend_list_submit">Выслать приглашения</div>
            <?php
        }
        else
        {
            ?>
                <div class="no_content_message">
                    У вас нет друзей
                </div> 
            <?php
        }
    ?>
</body>
</html>