<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"> 
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Soukkick</title>
    <link href="/css/mobile/profile.v3.css" rel="stylesheet" type="text/css" />
    <script src="/js/lib/jquery/jquery-1.11.0.js"></script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
    <script src="/js/shopfee/mobile/bridge.v1.js"></script>
    <script src="/js/lib/json-js/json2.js"></script>
    
    <script>
        var promoCodeUsed = false;
    
        function getLevel(points) 
        {
            var level = 0;
            var min = 100;
            var max = 200;
            for(var i=3; points>=max; i++) 
            {
                tmp = max;
                max = (2*max-min)+100;
                min = tmp;
                level = i;
            }
            
            if(points>=0 && points<50) 
            {
                level = 0;
            } 
            else if (points>=50 && points<100) 
            {
                level = 1;
            } 
            else if (points>=100 && points<200) 
            {
                level = 2;
            } 
            return level;
        }
        
        function getLevelTopBound(level) 
        {
            
            level = parseInt(level);
            var min = 0;
            var max = 0;
            for(var i=40, tmp=0;level>=tmp; i+=40, max = i) 
            {
                tmp=getLevel(i);
            }
            var middle = 0;
            do 
            {
                var middle = Math.ceil( (max-min)/2 + min);
                var tmpLevel = getLevel(middle);
                if(tmpLevel<= level) 
                {
                    min = middle;
                } 
                else 
                {
                    max = middle;                                        
                }
            } 
            while(min!=max && (max-min)!=1 );
            return max;
        }
        
        function getDeclination(num,str1,str2,str5)
        {
            var number = parseInt(num);
            var last = number % 10; 
            if(last == 1) 
            {
                if(number == 11)
                    return str5;
                else
                    return str1;
            } 
            else if(last == 2 || last == 3 || last == 4) 
            {
                if(number == 12 || number == 13 || number == 14)
                    return str5;
                else 
                    return str2;
            } 
            else if(last >= 5 || last == 0) 
            {
                return str5;
            }
        }
            
        function facebookAttached()
        {
            var $pointsDiv = $('.points',$('#connect_fb_href'));
            $('.points_container',$pointsDiv).html('');
            $pointsDiv.addClass('used');
        }

        function contactAttached()
        {
            var $pointsDiv = $('.points',$('#connect_contact_href'));
            $('.points_container',$pointsDiv).html('');
            $pointsDiv.addClass('used');
        }
        
        function setPhoto(photo)
        {
            $('#picture_container').css('background-image',"url('"+photo+"')");
        }
        
        $(function(){
            if(MobileBridge.prototype.getInstance().getType() == MobileBridge.prototype.TYPE_ANDROID)
            {
                $('#connect_contact_href').hide();
                $('#profile_bages_clear').before('<li class="blank"><p>Откроется с ростом уровня</p></li>');
            }
            
            makeNativeHighlight($('#profile_menu_checkin_href'),'pushed');
            makeNativeHighlight($('#profile_menu_scan_href'),'pushed');
            makeNativeHighlight($('#profile_menu_reward_href'),'pushed');
            
            
            $('#profile_menu_checkin_href').click(function(){
                $(document).trigger('checkinClicked',[$(this)]);
            });
            
            $('#profile_menu_scan_href').click(function(){
                $(document).trigger('scanClicked',[$(this)]);
            });
            
            $('#profile_menu_reward_href').click(function(){
                $(document).trigger('rewardClicked',[$(this)]);
            });
            
            $('#invite_friends_href').click(function(){
                $(document).trigger('inviteFriends');
            });
            
            $('#connect_fb_href').click(function(){
                $(document).trigger('connectFB');
            });

            $('#connect_contact_href').click(function(){
                $(document).trigger('connectContact');
            });

            $('#promo_code_href').click(function(){
                $(document).trigger('promoCode');
            });
          
            $('#picture_container').click(function(){
                $(document).trigger('photoClicked');
            });
            
            $(document).bind('checkinClicked', {}, function(e,$li) {
                MobileBridge.prototype.getInstance().triggerEventToMobile('checkinClicked'); 
            });
            
            $(document).bind('scanClicked', {}, function(e,$li) {
                MobileBridge.prototype.getInstance().triggerEventToMobile('scanClicked'); 
            });
            
            $(document).bind('rewardClicked', {}, function(e,$li) {
                MobileBridge.prototype.getInstance().triggerEventToMobile('rewardClicked'); 
            });
          
            $(document).bind('inviteFriends', {}, function(e) {
                MobileBridge.prototype.getInstance().triggerEventToMobile('inviteFriends'); 
            });

            $(document).bind('connectFB', {}, function(e) {
                MobileBridge.prototype.getInstance().triggerEventToMobile('connectFB'); 
            });

            $(document).bind('connectContact', {}, function(e) {
                MobileBridge.prototype.getInstance().triggerEventToMobile('connectContact'); 
            });

            $(document).bind('promoCode', {}, function(e) {
                if(!promoCodeUsed)
                {
                    MobileBridge.prototype.getInstance().triggerEventToMobile('promoCode');
                } 
            });

            $(document).bind('photoClicked', {}, function(e) {
                MobileBridge.prototype.getInstance().triggerEventToMobile('photoClicked'); 
            });
            
            $(document).bind('pageLoaded', {}, function(e,params) {
                $('#profile_menu_checkin').html(params.checkinAmount);
                $('#profile_menu_scan').html(params.scanAmount);
                $('#profile_menu_reward').html(params.rewardAmount);
                             
                $('#profile_menu_checkin_postfix').html(getDeclination(params.checkinAmount,'посещение','посещения','посещений'));
                $('#profile_menu_scan_postfix').html(getDeclination(params.scanAmount,'скан','скана','сканов'));
                $('#profile_menu_reward_postfix').html(getDeclination(params.rewardAmount,'награда','награды','наград'));
                
                var level = getLevel(params.amount);
                var topBound = getLevelTopBound(level);
                $('#level_container').text(level);
                $('#level_goal').text(topBound);
                $('#current_amount_container').text(params.amount);
                var widthPercent = parseFloat(params.amount)*100/topBound;
                $('#level_complete').css('width',widthPercent+'%');

                if(params.promoCodeUsed)
                {
                    $('.points',$('#promo_code_href')).addClass('used');
                    promoCodeUsed = true;
                }
                
                if(params.photo)
                {
                    setPhoto(params.photo);
                }
                $('#user_name').html(params.fullname);
                             
                if(params.facebookId)
                {
                    facebookAttached();
                }
                if(params.contactId)
                {
                    contactAttached();
                }
            });
          
            $(document).bind('facebookAttached', {}, function(e,params) {
                facebookAttached();
                setPhoto(params.photo);    
            });

            $(document).bind('contactAttached', {}, function(e,params) {
                contactAttached();
                setPhoto(params.photo);
            });
        });
    </script>
    
    <style>
        .ui-page
        {
            min-height:100% !important;
        }
    </style>
</head>
<body>
    
<div class="profile_header">
    <div class="profile_photo personalize_me" id="picture_container"></div>
    <h2 id="user_name"></h2>
    <ul class="profile_menu">
        <li id="profile_menu_checkin_href"><span id="profile_menu_checkin"></span><span id="profile_menu_checkin_postfix"></span></li>
        <li id="profile_menu_scan_href"><span id="profile_menu_scan"></span><span id="profile_menu_scan_postfix"></span></li>
        <li id="profile_menu_reward_href"><span id="profile_menu_reward"></span><span id="profile_menu_reward_postfix"></span></li>
    </ul>
    <h3>
        Уровень <span id="level_container" style="font-weight:bold;"></span>
    </h3>
    <div class="level">
        <div class="level_progress">
            <div class="level_complete" id="level_complete" style="width:0%">
                <span class="level_current" id="current_amount_container"></span>
            </div>
        </div>
        <span class="level_goal" id="level_goal"></span>
    </div>
</div>
    
<ul class="profile_bages">
    <? /*?>
    <li class="invite_friends" id="invite_friends_href">
        <div class="points">
            <span><?=Entity_Rule_Item::getAmountForPromocode();?></span>
        </div>
        <p>Пригласи друзей</p>
    </li>
    <?*/?>
    <li class="connect_fb" id="connect_fb_href">
        <div class="points">
            <span class="points_container"><?=Entity_Rule_Item::getAmountForFacebook();?></span>
        </div>
        <p>Подключи Facebook</p>
    </li>
    <? /*?>
    <li class="connect_vk" id="connect_contact_href">
        <div class="points">
            <span class="points_container"><?=Entity_Rule_Item::getAmountForContact();?></span>
        </div>
        <p>Подключи ВКонтакте</p>
    </li>
    <?*/?>
    <li class="got_promo_code" id="promo_code_href">
        <div class="points">
            <span><?=Entity_Rule_Item::getAmountForPromocode();?></span>
        </div>
        <p>Введи промо-код</p>
    </li>
    <li class="blank">
        <p>Откроется с ростом уровня</p>
    </li>
    <li class="blank">
        <p>Откроется с ростом уровня</p>
    </li>
    <li class="blank">
        <p>Откроется с ростом уровня</p>
    </li>
    <li class="blank">
        <p>Откроется с ростом уровня</p>
    </li>
    <?php /*?>
    <li class="connect_BVC">
        <div class="points">
            <span>15</span></div>
        <p>Привязать карту «Белого ветра»</p>
    </li>
    <?*/?>
    <li class="clear" id="profile_bages_clear"></li>
</ul>
    
</body>

</html>