<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Soukkick</title>
    <link href="/css/mobile/profile.v3.css" rel="stylesheet" type="text/css" />
    <script src="/js/lib/jquery/jquery-1.11.0.js"></script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
    <script src="/js/shopfee/mobile/bridge.v1.js"></script>
    <script src="/js/lib/json-js/json2.js"></script>
    
    <script>
        var promoCode = '<?=$this->currentUser->getPromoCode()?>';
        $(function(){
            var $inviteSubmit = $('#invite_submit'); 
            $inviteSubmit.click(function(){
                $(document).trigger('inviteSubmit',[$(this)]);
            });
            makeNativeHighlight($inviteSubmit,'pushed');

            $(document).bind('inviteSubmit', {}, function(e,$submit) {
                MobileBridge.prototype.getInstance().triggerEventToMobile('inviteSubmit',{promoCode:promoCode});
            });
        });
    </script>
</head>
<body>
    
    <h2 class="center">Ваш промо-код</h2>
<div class="promo_code"><?=$this->currentUser->getPromoCode()?></div>
<p class="center">При установке приложения<br />
с этим промо-кодом вы получите<br />
<strong><?=Entity_Rule_Item::getAmountForPromocode();?> <?=Shopfee_Translit::getDeclination(Entity_Rule_Item::getAmountForPromocode(),'фишку','фишки','фишек')?></strong></p>
<p class="center">Расскажите об этом друзьям!</p>
<div class="big_button" id="invite_submit">Пригласить друзей</div>

</body>

</html>