<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Soukkick</title>
    <link href="/css/mobile/profile.v3.css" rel="stylesheet" type="text/css" />
    <script src="/js/lib/jquery/jquery-1.11.0.js"></script>
    <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
    <script src="/js/shopfee/mobile/bridge.v1.js"></script>
    <script src="/js/lib/json-js/json2.js"></script>
    
    <script>
        var promoAmount = <?=Entity_Rule_Item::getAmountForPromocode();?>;
        $(function(){
            var $promoSubmit = $('#promo_submit'); 
            $promoSubmit.click(function(){
                $(document).trigger('promoSubmit',[$(this)]);
            });

            $('#promo_input').focus(function(){
                $('#error').html('');
            });
            makeNativeHighlight($promoSubmit,'pushed');

            
            $(document).bind('promoSubmit', {}, function(e,$submit) {
                var promoCode = $('#promo_input').val();
                if(promoCode)
                {
                     $.post(
                                '/profile/use-promo-code/format/json/',
                                {
                                    promo_code:promoCode
                                },
                                function(data)
                                {
                                    if(data.success)
                                    {
                                        MobileBridge.prototype.getInstance().triggerEventToMobile('promoCodeUsed',{amount:promoAmount});
                                    }
                                    else
                                    {
                                        $('#error').html('Промо-код не существует');
                                    }
                                }
                             );
                }
            });
        });
    </script>
</head>
<body>
    
    <input type="text" class="got_promo" id="promo_input" />
    <div id="error" class="error error_promo"></div>    
    <div class="big_button" id="promo_submit">Ввести</div>
</body>

</html>