/*body, html{
    font-family:Tahoma;
    font-size:8pt;
    margin:10px;
    padding:0;
    background:#dddddd;
    height:100%;
}

#table-all{
    height:100%; 
    position:relative;
}

.main_table{
    border-style: none solid solid; border-color: -moz-use-text-color rgb(158, 158, 158) rgb(158, 158, 158); border-width: 0pt 1px 1px; padding: 12px 12px 5pt; height: 100%;
}

table{
    border-collapse: collapse;
}   
.boxtable{width:98%;border:1px dashed #CCCCCC;text-align:center;padding:8px 5px 1px 5px;background-color:#fff;font-size:14px;}
.boxtable table{
   font-size:12px;
   border:1px solid #BBBBBB;
}
.boxtable table td{
   border:1px solid #BBBBBB;
   padding:5px;
}

table.noborder{
    border:none;
}
table.noborder td{
    border:none;
}

img{
    border:0px; 
}

div.paginator{
    padding: 0px 10px;
    text-align:left;
}
.pages{font-family:Tahoma;font-size:8pt;}
.pages a:link,.pages a:visited{font-weight:bold;color:darkblue;}
.pages a:hover,.pages a:visited:hover{color:darkblue;}*/
/*******************************************/
/*  INPUT SELECT BUTTON */
/*button{border:1px solid;}

.but_on{
}
.but_off{
}
input,select, textarea{color:#000;font-family:Tahoma;font-weight:400;   background-color:#ffffff;   border:1px solid;   border-top-color:#cccccc;   border-left-color:#cccccc;   border-right-color:#cccccc;   border-bottom-color:#cccccc; font-size:12px;}
input[type=button],input.button,input[type=submit],input.submit,input[type=reset],input.reset {width:auto;}*/
/*******************************************/
/*.table{width:100%;border-width:1px 1px 0px 0px;border-style:solid;border-color:#BBBBBB;font-family:tahoma;font-size:8pt;vertical-align:middle;}
table.table th{border-style:solid;*/
/* Creates the cell border and color */
/*border-width:0px 0px 1px 1px;border-style:solid;border-color:#bbbbbb;background:#faffe4;text-align:center;font-weight:bold;white-space:nowrap;padding:3;padding-left:6;padding-right:6;font-size:9pt;height:22px;*/
/*filter:progid:DXImageTransform.Microsoft.Gradient (GradientType=0,StartColorStr='#B80000DD',EndColorStr='#FFFFFF'); */
}
/*table.table td{border-width:0px 0px 1px 1px;border-style:solid;border-color:#BBBBBB;padding:3px;}
.menu tr td{font-weight:bold;font-size:8pt;font-family:Tahoma;}
.inp{font-family:Tahoma;font-size:8pt;}
select{font-size:13px;}
#tbl_sel td{font-size:11px;}*/
/*======== TAB =============*/
/*.activetree{padding-left:20px;margin-left:10px;color:#707070;padding-top:1px;background-image:url("../../img/admin/tree.gif");background-repeat:no-repeat;}
.tree{padding-left:20px;padding-top:1px;background-image:url("../../img/admin/tree.gif");background-repeat:no-repeat;min-height:18px;}*/
/*#MENU{width:200px;border:1px dashed #CCCCCC;}
.submenu{height:600px;background-color:#FdFdFd;font:9pt;padding:4px 3px 5px 15px;}
.module{height:30px;border-bottom:1px dashed #CCCCCC;background:#F4F4F4;font:bold 9pt;padding:0 0 0 15px;}

a{text-decoration:underline;}
a:hover{color:#707070; text-decoration:none;}
a:link, a:visited{color:#8B0000; text-decoration:underline;}
a:link:hover,a:visited:hover{color:#707070; text-decoration:none;}*/
/* MAIN and NAVIGATION LINE*/
/*.NavLine{height:25px;border:1px dashed #CCCCCC;padding:5px 0px 5px 15px;margin-bottom:15px;background:#F4F4F4;font:bold 8pt tahoma;}*/
/*.tab_selected{width:140px;height:23px;background:url("../../img/admin/tab_selected.gif") no-repeat;font:bold 9pt tahoma,arial;text-align:center;padding:7px 0 0 0;}
.tab_unselected{width:120px;height:19px;background:url("../../img/admin/tab_unselected.gif") no-repeat bottom;font:bold 8pt tahoma,arial;text-align:center;padding:5px 0 0 0;vertical-align:bottom;}*/

/*.pngfix{behavior:url("pngfix.htc");}*/


/*div.module img{
    padding-left:130px;
}
div.module span{
    vertical-align:top;
}
a.but{
    color:#000;
    font-family:Tahoma;
    font-weight:400;
    font-size:8pt;   
    background-color:#ffffff;   
    border:1px solid;   
    border-top-color:#cccccc;   
    border-left-color:#cccccc;   
    border-right-color:#cccccc;   
    border-bottom-color:#cccccc;    
}
div#separator{
    padding-left:15px;
    display:inline;
}

td.caption{
    valign:top;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
}
tr.title{
    font-weight:bold;
    font-size: 12px;    
}

table.form td.field{
    width:80%; 
    text-align:left;
}
table.form input#submit{
    float:right;
}
.errors,.error{
    color:#f00;
}*/


/* jqModal base Styling courtesy of;Brice Burgess <bhb@iceburg.net> */
/* The Window's CSS z-index value is respected (takes priority). If none is supplied, the Window's z-index value will be set to 3000 by default (in jqModal.js). Youcan change this value by either;  a) supplying one via CSS  b) passing the "zIndex" parameter. E.g.  (window).jqm({zIndex:500}
); */
.jqmWindow{display:none;    position:fixed;    top:17%;    left:50%;    margin-left:-300px;    width:600px;    background-color:#EEE;    color:#333;    border:1px solid #000;    padding:12px;}
.jqmOverlay{background-color:#000; }
/* background iframe styling for ie6. prevents activex bleed-through (<select> form elements,etc.) *
/* iframe.jqm{position:absolute;top:0;left:0;z-index:-1;width:expression(this.parentNode.offsetWidth+'px');height:expression(this.parentNode.offsetHeight+'px');}
/* fixed posistioning emulation for ie6     star selector used to hide definition from browsers other than ie6     for valid css,use a conditional include instead *
/* html .jqmWindow{position:absolute;     top:expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');}*/

/*.tree{border-collapse:separate;text-align:left;}
#sectionTree{overflow:scroll;height:300px;}

div#right_menu
{
    float:right;
    width:25%;
    border:1px dashed #CCCCCC;
    text-align:left;
}
div#left_container
{
    width:74%;
    float:left; 
}
div#left_container table thead
{
    background:none repeat scroll 0 0 #6F8992;
    color:#fff;
}
div.fixer
{
    clear:both;
}
div#tree_container
{
    width: 300px;
        height:100%!important;
    overflow:hidden;
}

.ui-resizable-e {
    width: 8px;
    background:#e1e7f2 url(../../img/splitpane_handle-ew.gif) no-repeat scroll 50% 50% !important;
    cursor:col-resize !important;
    border: #bbb 1px solid;
    padding: 2px;
}

div#right_container
{
        z-index: 1;
    width:100%;
}
ul#tree label
{
    cursor:pointer;
}
#tree 
{
    margin-left:0px;
}
#category_edit,#product_list
{
    float:left;
    padding-top:20px;
    width:100%;
    border:1px dashed #CCCCCC;
}
#td_edit,#td_product
{
    float:left;
    width:50%;
}
div.current a
{
    text-decoration:underline;
    font-size:18px;
}
#product_add_list_container
{
    border:1px dashed #CCCCCC;
    float:left;
    width:100%;
    margin-top:40px;
    display:none;
}
#product_add_list_header
{
    width:100%;
    background:none repeat scroll 0 0 #527281;
    height:25px;
    color:#fff;
    font-weight:bold;
}
#product_add_list table
{
    width:100% !important;
    margin:0 !important;
}
#product_append, #hide_product_add_list
{
    width:150px !important;
}
#right_menu li.current
{
    width:100%;
}
#right_menu li.current a
{
    font-weight:bold;
    font-size:16px;
}

.fill-block{
    width:95%;
}*/
/*Перенесено из admin.phtml*/

/*.boxtable table { width:100%;}
.boxtable form{ background-color:#E4E4E4;}*/

/*th.headerSortDown{background-image:url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7");background-repeat:no-repeat;background-position:center 5px;}
th.headerSortUp{background-image:url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7");background-repeat:no-repeat;background-position:center 5px;}*/
/*.boxtable table td, .boxtable table th{border: 1px solid #fff; padding:5px;}
.headerzebra{background:#527281;font-weight:bold;color:#fff;cursor:pointer;}
.even{background:#DEE3E7 !important;}
.odd{background:#EFEFEF !important;}*/
/* END Перенесено из admin.phtml*/

/*.tick{
    width: 16px;
    height: 16px;
    background: url(/../../img/admin/tick.gif) 0% 0% no-repeat;
}

.undo{
    width: 16px;
    height: 16px;
    background: url(/../../img/admin/undo.gif) 0% 0% no-repeat;
}

.marked
{
    background:#886444;    
}

.moder_button_container
{
    width:100%;
    padding-bottom:20px;
}
.moder_button_container .button
{
    float:left;
}
#form_admin_shop
{
    text-align:left;
}

#form_admin_shop input, #form_admin_shop textarea
{
    width:90%;
}
#form_admin_shop #submit
{
    width:100px;
}
#form_admin_shop dt
{
    padding-left:20px;
    padding-top:10px;
    font-weight:bold;
}*/