/*[Global refresh] */
* {padding:0; margin:0; list-style-type:none}
/* ----------------------------------------------------------------*/



/* -----------------------------------------------------------------
[Typograpy] */
@font-face {font-family: HelveticaCyrLight; src: url('/fonts/HelveticaNeueCyr-Light.otf');}

body {font-family:Arial; background:#fff; font-size:10pt;}
a {color:#1165c0}
    a:hover {color:#073f7b}
        a.local {text-decoration:none; border-bottom:dashed 1px #1165c0}
        a.local:hover {border-bottom:solid 1px #1165c0;}
        a.local.red {color:#ff0c00; font-weight:normal;border-bottom:dashed 1px #ff0c00}
        a.local.red:hover {border-bottom:solid 1px #ff0c00}
/* ----------------------------------------------------------------*/



/* ------------------------------------------------------------ [G E N E R A L  L A Y O U T] ------------------------------------------------------------ */

html {height:100%;}
body {height:100%;}



/* -----------------------------------------------------------------
[Common classes] */
.clear {float:none; clear:both; height:0; font-size:0;}
.hor_line {padding-top:10px; margin-top:10px; border-top:solid 1px #d6d6d6}
.error {color:#ea4e42; font-size:9pt}

.content {position:absolute; top:110px; bottom:0px; right:10px; left:10px; z-index:1; padding:0px; overflow:auto}
    .content h2 {font-size:16pt; color:#444; font-weight:normal; padding:10px 0}
    .content h3 {font-size:12pt; color:#666; font-weight:bold; padding-bottom:10px; text-shadow:1px 1px #fff}
        .content h3 span.edt {font-size:9pt; color:#7593e5; font-weight:normal; padding-left:18px; background:url('/img/admin/icons.png') no-repeat scroll 2px -143px; cursor:pointer}
        .content h3 span.edt:hover {color:#3c6dc7; background-position:2px -179px}
    .content .message {border-radius:6px; background:#efefef; padding:10px; margin-bottom:10px; float:left}
.container {border:solid 3px #ecf3f6; border-radius:4px; margin-bottom:10px;}
    .content_holder {border:solid 1px #d6d6d6; border-radius:3px; padding:10px}
    .content_holder.nomargin {margin:0; padding:0}
    .container.narrow_left {width:25%; position:absolute; bottom:0; left:18%; top:0}
        .container.narrow_left .content_holder {position:absolute; top:0; left:0; right:0; bottom:0; overflow:auto}

    .container.wide_right {right:0; position:absolute; bottom:0; left:44%; top:0}
        .container.wide_right .content_holder {position:absolute; top:0; left:0; right:0; bottom:0; overflow:hidden}
    .container.tree_element {right:0; position:absolute; bottom:0; left:18%; top:0}
        .container.tree_element .content_holder {position:absolute; top:0; left:0; right:0; bottom:0; overflow:auto}
 .edit_box {border-radius:6px; background:#efefef; /*padding:10px;*/ position:relative; width:500px; margin-top:10px; /*display:none*/}
    .edit_box.nomargin {margin-top:0px}
 .edit_box_form_container {padding:10px;}

.space {height: 15px;}
.close {position:absolute; right:6px; top:6px; background:red; height:13px; width:13px; cursor:pointer; background:url('/img/admin/icons.png') no-repeat scroll left -69px}
.close:hover {background:url('/img/admin/icons.png') no-repeat scroll left -82px}
.edit {position:absolute; right:6px; top:22px; height:13px; width:13px; cursor:pointer; background:url('/img/admin/icons.png') no-repeat scroll left -95px;}
.edit:hover {background:url('/img/admin/icons.png') no-repeat scroll left -108px}

.red {color:#ff0c00; font-weight:bold}

.popup_dialog {background-color:rgba(0,0,0, 0.5); position:absolute; top:0; bottom:0; right:0; left:0; z-index:12}

.small_button {width:80px; margin-top:5px}

.button {border-radius:6px; box-shadow:0 1px 0 #fff; padding: 4px 5px 5px 5px; width:180px; height: 34px; margin-bottom:0px;
    border-top:solid 1px #d3d1d1;
    background: -webkit-linear-gradient(top, #edebeb, #f1f1f1);
    background: -moz-linear-gradient(top, #edebeb, #f1f1f1);
    background: -ms-linear-gradient(top, #edebeb, #f1f1f1);
    background: -o-linear-gradient(top, #edebeb, #f1f1f1);}
    .edit_box .button, .tree .button {
        margin-bottom:0; width:130px;
        border-top:solid 1px #b8b8b8;
        background: -webkit-linear-gradient(top, #cfcfcf, #d8d6d6);
        background: -moz-linear-gradient(top, #cfcfcf, #d8d6d6);
        background: -ms-linear-gradient(top, #cfcfcf, #d8d6d6);
        background: -o-linear-gradient(top, #cfcfcf, #d8d6d6);}
    .button .button_body {border:solid 1px #6cb40a; border-radius:5px; height:32px; box-shadow:0 2px 2px #777;
        background-color:#90d10e;
        background: -webkit-linear-gradient(top, #9eed20, #8bc708);
        background: -moz-linear-gradient(top, #9eed20, #8bc708);
        background: -ms-linear-gradient(top, #9eed20, #8bc708);
        background: -o-linear-gradient(top, #9eed20, #8bc708);}
        .button .button_body span {border-top:solid 1px #d4f89d; border-radius:4px; height:25px; display:block; text-align:center; color:#3d5f04;
            text-shadow:0 1px 0 #e2f2c2; font-size:12pt; font-weight:bold; cursor:pointer; padding-top:6px}
    .button .button_body:active { box-shadow:0 1px 0 #999;
        background-color:#72a217;
        background: -webkit-linear-gradient(top, #72b803, #8bc708);
        background: -moz-linear-gradient(top, #72b803, #8bc708);
        background: -ms-linear-gradient(top, #72b803, #8bc708);
        background: -o-linear-gradient(top, #72b803, #8bc708);}
        .button .button_body:active span {border-top:solid 1px #a9d465;}

.fields {}
    .field {padding:2px; font-size:13pt; color:#333; border:solid 1px #aaa; border-radius:3px}
    .fields dt {margin-bottom:3px}
    .fields dd {margin-bottom:10px}
    .fields .field {width:400px}
    .fields .button {margin-top:20px}

.field_select {margin-top:0px; background:#e3e4db; border:solid 1px #c1c1c1; color:#444; text-shadow:1px 1px 0 #fff; border-radius:4px; padding:3px; width:170px}
    .field_select option {background:#fff}
    .field_select.flow_left {float:left}

.help {border-radius:8px; background:#e3fdb8; padding:10px; color:#111;}
.phone_number {font-size:12pt; white-space:nowrap}
/* ----------------------------------------------------------------*/




/* -----------------------------------------------------------------
[Tree] */
.tree {}
    .container.tree {width:17%; position:absolute; bottom:0; left:0; top:0}
        .container.tree .content_holder {position:absolute; top:0; left:0; right:0; bottom:0; overflow:hidden; background:#efefef; padding:5px}
    .tree .root {font-size:12pt; font-weight:bold; cursor:pointer; padding:2px 5px; border-radius:4px}
        .content .tree .root.selected {color:#fff; background:#5d9be2; text-shadow:0 -1px 0 #263f5b}
        .tree .root:hover {background:#c7e0fc;}
        .tree .city_tree {position:absolute; left:5px; right:5px; top:32px; bottom:60px; overflow:auto; padding-top:0px;}
            .tree .city_tree li {white-space:nowrap}
                .tree .city_tree li p {overflow:hidden; padding:2px 5px; border-radius:4px; font-weight:bold; cursor:pointer}
                    .container.tree .city_tree li.selected p {color:#fff; background-color:#5d9be2; text-shadow:0 -1px 0 #263f5b}
                    .tree .city_tree li p:hover {background-color:#c7e0fc}
                .tree .city_tree li ul {margin-left:5px; margin-bottom:5px}
                    .tree .city_tree li ul li {padding:2px 2px 2px 16px; border-radius:4px; cursor:pointer}
                    .tree .city_tree li ul li.walkin {padding:2px 2px 2px 16px; border-radius:4px; cursor:pointer; background:url('/img/admin/icons.png') no-repeat scroll -1px -431px}
                    .tree .city_tree li ul li:hover {background-color:#c7e0fc}
                    .container.tree .city_tree li ul li.selected {color:#fff; background-color:#5d9be2; text-shadow:0 -1px 0 #263f5b}
    .popup_dialog .edit_campaign .city_tree li label {padding:0}
    .tree .button {position:absolute; bottom:5px; left:5px; width:auto; right:5px; white-space:nowrap; overflow:hidden}
        .tree .button .button_body {overflow:hidden}
/* ----------------------------------------------------------------*/




/* -----------------------------------------------------------------
[Header] */
#Head {position:relative; padding-top:68px; /*background:url('/img/admin/logo_s.png') no-repeat scroll left 13px;*/ min-width:753px; margin:0 10px 0 10px}
    #Head h1 {position:absolute; /*left:150px;*/ top:16px; font-family:HelveticaCyrLight; font-size:25pt; color:#898989; font-weight:normal}
    #Head .support {position:absolute; top:10px; right:0; border-radius:8px; background:#e9e9e9; padding:5px 9px; color:#333;}
        #Head .support span {display:block; font-size:15pt; padding-top:2px}
    #Head .budget {position:absolute; top:10px; right:172px; border-radius:8px; background:#e3fdb8; padding:5px 9px; color:#111;}
    #Head .god_budget {position:absolute; top:10px; right:0px; border-radius:8px; background:#e3fdb8; padding:5px 9px; color:#111;}
        #Head .budget span, #Head .god_budget span {font-size:15pt; padding-top:2px; line-height:26px}
    #Head #Main_menu {height:31px; border:solid 1px #376fad; border-radius:6px; box-shadow:0 2px 2px #bbb}
        #Head #Main_menu ul {border-radius:5px; border-top:solid 1px #b3d2f5; height:30px;
            background-color:#4e8ed4;
            background: -webkit-linear-gradient(top, #66a4ea, #3c7cc3);
            background: -moz-linear-gradient(top, #66a4ea, #3c7cc3);
            background: -ms-linear-gradient(top, #66a4ea, #3c7cc3);
            background: -o-linear-gradient(top, #66a4ea, #3c7cc3);}
            #Head #Main_menu li {float:left; height:25px; padding-top:5px;  }
                #Head #Main_menu li.last a {box-shadow: 1px 0 0 #8ab6e7;}
            #Head #Main_menu li.home {border-radius:5px 0 0 5px}
            #Head #Main_menu li.account_menu {border-radius:0 5px 5px 0; float:right}
                #Head #Main_menu li.account_menu a  {border-right:0; padding-left:10px; box-shadow: -1px 0 0 #366394; padding-right:23px; background:url('/img/admin/icons.png') no-repeat scroll right -36px}
                    #Head #Main_menu li.account_menu a img  {float:left; width:20px; height:20px; margin-top:-2px; border:solid 1px #7aa7d9; box-shadow:-1px -1px 0 #366394; background:#fff}
                    #Head #Main_menu li.account_menu a span  {padding-left:5px}
            #Head #Main_menu li:hover {}
            #Head #Main_menu li.current, #Head #Main_menu li:active {
                background-color:#4072ab;
                background: -webkit-linear-gradient(top, #5183ba, #30639c);
                background: -moz-linear-gradient(top, #5183ba, #30639c);
                background: -ms-linear-gradient(top, #5183ba, #30639c);
                background: -o-linear-gradient(top, #5183ba, #30639c);}
                #Head #Main_menu li a {display:block; font-size:10pt; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #274464; text-decoration:none; padding:2px 18px;
                    border-right:solid 1px #366394; border-left:solid 1px #8ab6e7}
                #Head #Main_menu li.home a {border-left:none; padding-left:35px; background:url('/img/admin/icons.png') no-repeat scroll 12px 0}
    #Head #Account_dropmenu {position:absolute; top:95px; right:0; border:solid 1px #c4c4c4; padding:2px; border-radius:8px; background:#fff; box-shadow:0 2px 2px #bbb; z-index:2; display:none }
        #Head #Account_dropmenu li a {display:block; padding:6px 10px; border-radius:5px; color:#154274; text-decoration:none}
        #Head #Account_dropmenu li a:hover {background:#b8ee6b; color:#000}
/* ----------------------------------------------------------------*/




/* -----------------------------------------------------------------
[Footer] */

/* ----------------------------------------------------------------*/





/* ----------------------------------------------------------------- [P A G E S] ----------------------------------------------------------------- */



/* -----------------------------------------------------------------
[Index page] */

/* ----------------------------------------------------------------*/



/* -----------------------------------------------------------------
[Settings page] */
.change_logo { background:url('/img/admin/change_logo.png') no-repeat scroll left 5px; margin-top:5px}
    .change_logo .button {margin-top:10px}
    .change_logo dl {padding-left:38px;}
    .change_logo dd {margin-bottom:20px}

.logos {padding-top:10px}
    .logos .sq {float:left; padding-right:10px;}
    .logos img {border:solid 1px #bbb;}
    .logos p {padding-top:0px; color:#666; font-style:italic}

ul.shops {}
    ul.shops li {border-radius:6px; padding:10px; position:relative; width:250px; padding-left:30px; background: #efefef url('/img/admin/icons.png') no-repeat scroll 7px -203px; float:left; margin:0 10px 10px 0}
    ul.shops li .close {position:absolute; right:6px; top:6px; height:13px; width:13px; cursor:pointer; background:url('/img/admin/icons.png') no-repeat scroll left -69px; z-index:3}
        ul.shops li .close:hover {background:url('/img/admin/icons.png') no-repeat scroll left -82px}
    ul.shops li .edit {bottom:6px;z-index:3}
    ul.shops li p, ul.shops li strong {white-space:nowrap; display:block;  margin-right:5px; z-index:1; overflow:hidden}
         ul.shops li div.smooth {background:url('/img/admin/smooth_end.png') no-repeat scroll right top; height:100%; width:50px; top:0; right:0; position:absolute; border-radius:6px;z-index:2}
/* ----------------------------------------------------------------*/



/* -----------------------------------------------------------------
[Shop page] */
.deals_list {padding-top:0px}
    .deals_list li, .vitrina_list li {position:relative; padding:0px 25px 10px 0px; float:left;}
        .deals_list li img, .vitrina_list li img {border:solid 3px #d2d2d2; border-radius:4px}
        .vitrina_list li .close, .deals_list li .close {top:0px; right:10px}
        .vitrina_list li .edit, .deals_list li .edit {top:17px; right:10px}
    .vitrina_list p {text-align:center; padding-top:1px; color:#666; font-weight:bold; font-size:12pt}
    .scan_price {position:absolute; bottom:20px; right:32px; display:block; border-radius:20px; padding:10px; color:#fff; background:#9ade18; font-size:14pt}

.edit_good, .edit_scan {}
        .edit_good img {width:100px; height:100px;border:solid 1px #d2d2d2; display:block; margin-bottom:5px}
        .edit_scan img {width:100px; height:80px;border:solid 1px #d2d2d2; display:block; margin-bottom:5px}
        .caption {color:#555; font-size:9pt; padding-top:2px; display:block}
        .edit_good dt, .edit_scan dt {float:left; padding-top:10px; width:75px;}
        .edit_good dd, .edit_scan dd {margin-left:75px; padding-top:10px}
        .edit_good .field, .edit_good textarea, .edit_scan .field, .edit_scan textarea {padding:1px; background:#fff; border:solid 1px #9f9f9f; width:400px}
        .edit_scan .field.short {width:50px}
        .edit_good .price_or_discount {margin-bottom:0px}
            .edit_good .price_or_discount div {margin-top:5px; height:25px}
            .edit_good .price_or_discount p {padding:0 0 5px 0}
                .edit_good .price_or_discount input, .edit_good .price_or_discount label {float:left; display:block}
                .edit_good .price_or_discount label {padding-left:5px; width:57px}
                .edit_good .price_or_discount .field {width:50px; float:none; display:inline}
                .edit_good .price_or_discount div.unactive {color:#ccc}
                .edit_good .price_or_discount div.unactive .field {border-color:#ddd;}
        .edit_good .separator, .edit_scan .separator, .edit_box .separator {border-top:dotted 1px #bbb; height:0; font-size:0; margin:10px 0;}

.shop_select dt {float:none; padding:0; width:auto}
.shop_select dd {margin-left:0; padding:0}
.select_shop {position:relative; padding:2px; color:#333; border:solid 1px #aaa; border-radius:3px; height:18px; width:250px; background:#fff url('/img/admin/icons.png') no-repeat scroll right -264px}
    .select_shop .current_choise {}
    .select_shop .all_options {position:absolute; top:-1px; left:-1px; color:#333; border:solid 1px #aaa; border-radius:3px; background:#fff; display:none}
        .select_shop .all_options li { padding:2px; height:18px; width:250px; overflow:hidden; white-space:nowrap; color:#aaa}
        .select_shop .all_options li.all {border-bottom:dotted 1px #aaa; background: url('/img/admin/icons.png') no-repeat scroll right -295px}
        .select_shop .all_options li.active {color:#111}
            .select_shop .all_options li label {padding-top:3px}
/* ----------------------------------------------------------------*/



/* -----------------------------------------------------------------
[Overview page] */
.newsfeed {}
    .newsfeed li {padding:5px; height:54px;}
        .newsfeed li.date {padding:0 0 5px 0; height:auto; margin:10px 0 0 0; border-top:solid 1px #d5dce0;position:relative}
            .newsfeed li.date span {background:#fff; margin-left:-40px; left:50%; top:-10px; position:absolute; display:block; width:80px; text-align:center; color:#666; font-weight:bold}
        .newsfeed li img {border:solid 2px #d2d2d2; width:50px; height:50px; float:left}
        .newsfeed p {margin-left:60px}
        .newsfeed p.time {padding-top:3px; font-size:16pt; color:#333}

.realtime {}
    .realtime p {text-align:center; font-size:12pt}
        .realtime p span.m {font-size:18pt; display:block;}
        .realtime p span.b {font-size:55pt; display:block}

.faces_holder {height:80px}
    .faces {margin-left:50%;}
        .faces .center {width:1000px;}
        .faces .center_margin {float:left}
        .faces ul {margin-left:-50%; padding-top:5px}
            .faces ul li {float:left; padding:5px;position:relative}
                .faces ul li img {border:solid 2px #d2d2d2; width:50px; height:50px;}
                .faces ul li span.name {display:none; position:absolute; top:-18px; left:50%; white-space:nowrap; float:left;}
                    .faces ul li span.name span {display:block; margin-left:-50%; padding:2px; background:#fff; border:solid 1px #aaa; border-radius:5px; float:left; color:#666; font-size:9pt}
                .faces ul li:hover span.name {display:block}

 .new_and_old_diagramm {}
    .left_percent {width:50px; float:left; text-align:center; color:#929292; padding-top:26px; font-size:14pt}
    .right_percent {float:right; width:50px; text-align:center; color:#929292; padding-top:26px; font-size:14pt}
    .diagramm {margin:0 50px; height:50px; padding-top:23px}
        .new_title {float:left; width:50%; font-size:14pt; color:#679edd; display:block; margin-top:-23px}
        .old_title {float:right; width:50%; font-size:14pt; color:#7cd93d; text-align:right;  display:block;  margin-top:-23px}
        .diagramm_border {border-radius:5px; border:solid 1px #c5c5c5; height:29px;}
            .diagramm_border .new {float:left}
                .diagramm_border .new div {border:solid 1px #3f7ece; border-radius:4px; margin:1px 0 1px 1px; height:25px;
                    background-color:#7cb0e4;
                    background: -webkit-linear-gradient(top, #7db1e5, #649cdb);
                    background: -moz-linear-gradient(top, #7db1e5, #649cdb);
                    background: -ms-linear-gradient(top, #7db1e5, #649cdb);
                    background: -o-linear-gradient(top, #7db1e5, #649cdb);}
                    .diagramm_border .new div span {height:24px; border-top:solid 1px #dfecf8; border-radius:3px; display:block}
            .diagramm_border .old {float:right}
                .diagramm_border .old div {border:solid 1px #48c802; border-radius:4px; margin:1px; height:25px;
                    background-color:#93e459;
                    background: -webkit-linear-gradient(top, #a2ec6c, #71d430);
                    background: -moz-linear-gradient(top, #a2ec6c, #71d430);
                    background: -ms-linear-gradient(top, #a2ec6c, #71d430);
                    background: -o-linear-gradient(top, #a2ec6c, #71d430);}
                    .diagramm_border .old div span {height:24px; border-top:solid 1px #e8fadb; border-radius:3px; display:block}

 .short_stats {padding-top:15px; border-top:solid 1px #d5dce0}
    .short_stats h3 {font-weight:normal}
/* ----------------------------------------------------------------*/



/* -----------------------------------------------------------------
[ page] */

/* ----------------------------------------------------------------*/



/* -----------------------------------------------------------------
[Managing and stats page] */
.managing_submenu {border-bottom:solid 1px #c7c7c7; height:30px; margin-bottom:10px}
        .tree_element .managing_submenu {margin-bottom:0}
        .managing_submenu li a {color:#679fdd; display:block; border-radius:5px; padding:3px 10px; text-decoration:none; font-weight:bold; border:solid 1px #fff; float:left; margin-right:5px; cursor:pointer}
        .managing_submenu li a:hover {border:solid 1px #a9caef}
        .managing_submenu li.current a {color:#fff; background-color:#679fdd; border:solid 1px #fff}

.calendars {color:#666; padding:0 0px 15px 0}
    .calendars .icon {float:left; width:16px; height:16px; background:url('/img/admin/icons.png') no-repeat scroll left -338px; margin-top:2px}
    .calendars span {float:left; display:block; float:left; padding:2px 5px 0 5px;}
    .calendars .button_g {width:80px; margin-left:5px}
    .calendars.table {margin-bottom:15px}

.stat_table {width:100%; border:solid 1px #c7c7c7; border-collapse:collapse; table-layout:auto; white-space:nowrap}
    .stat_table thead {}
        .stat_table thead td {overflow:hidden; padding:6px 4px; background:#e1e1e1; border-bottom:solid 1px #c7c7c7; font-weight:bold; cursor:default}
        .stat_table thead td.sortable {cursor:pointer;}
    .stat_table tbody {}
        .stat_table tbody td {overflow:hidden; padding:6px 4px; background:#fff}
        .stat_table tbody .odd td {background:#f3f3f3}
        .stat_table tbody .itogo td {background:#e1e1e1; border-top :solid 1px #c7c7c7; font-weight:bold}
.paging {height:50px; margin-top:10px}
    .paging li {float:left; margin-right:5px;}
        .paging li a {display:block; text-decoration:none; padding:4px; border:solid 1px #cacaca; color:#454545; font-weight:bold; border-radius:3px; text-shadow:0 1px 0 #fff;
            background-color:#e0e0e0;
            background: -webkit-linear-gradient(top, #ebebeb, #d3d3d3);
            background: -moz-linear-gradient(top, #ebebeb, #d3d3d3);
            background: -ms-linear-gradient(top, #ebebeb, #d3d3d3);
            background: -o-linear-gradient(top, #ebebeb, #d3d3d3);}
        .paging li.current a, .paging li.current a:hover {background:#bbbbbb}
        .paging li a:hover {
            background-color:#cff6a7;
            background: -webkit-linear-gradient(top, #e6ffcd, #bbf087);
            background: -moz-linear-gradient(top, #e6ffcd, #bbf087);
            background: -ms-linear-gradient(top, #e6ffcd, #bbf087);
            background: -o-linear-gradient(top, #e6ffcd, #bbf087);}
        .paging li.next a, .paging li.prev a {padding:4px 10px}


.information {min-height:460px}
    .information .map {width:450px; float:left}
    .information .info_holder {margin-left:460px}
        .information .info_holder p {padding-bottom:5px; font-weight:bold}
        .information .info_holder ul {padding-bottom:10px}
            .information .info_holder ul li {padding:2px 0 1px 16px; background:url('/img/admin/icons.png') no-repeat scroll -1px -459px}
            .information .info_holder ul.walkin li {background-position:-1px -431px}
        .information .info_holder .walkin_status {font-weight:normal; padding:35px 0 10px 0; background:url('/img/admin/walkin_status.png') no-repeat scroll left top}
        .information .info_holder .walkin_status.no {background-position:left -115px}
        .information .info_holder .button {margin-top:10px; float:left}
        .delete_shop {width:18px; height:22px; background:url('/img/admin/icons.png') no-repeat scroll left -493px;  margin:20px 0 0 10px; float:left; position:relative; cursor:pointer}
            .delete_shop:hover {background-position:left -526px}
.campaigns {padding-top:10px}
    .campaign {background:#efefef; padding:10px; border-radius:10px; margin-bottom:20px; position:relative}
    .campaign.overlap {background:#fff7b5;}
        .campaign .overlap_message {position:absolute; top:10px; right:10px; color:#c18504; font-size:12pt;}
        .campaign .delete_camp {width:18px; height:22px; background:url('/img/admin/icons.png') no-repeat scroll left -493px;  position:absolute; cursor:pointer; right:10px; bottom:10px;}
            .campaign .delete_camp:hover {background-position:left -526px}
        .campaign p {padding-bottom:5px;}
        .campaign .status {height:26px;}
            .campaign .status .play {font-size:12pt; color:#666}
                .campaign .status .play span {float:left; width:25px; height:20px; display:block; background:url('/img/admin/icons.png') no-repeat scroll left -559px; cursor:pointer}
            .campaign .status .pause {font-size:12pt; color:#61b508}
                .campaign .status .pause span {float:left; width:25px; height:20px; display:block; background:url('/img/admin/icons.png') no-repeat scroll 3px -594px; cursor:pointer}
        .campaign .stat_table {margin-top:5px; min-width:50%; width:auto; float:left}
            .stat_table .bid {position:relative; overflow:visible}
                .stat_table .bid .bid_edit {border:solid 5px rgba(0, 0, 0, .4); border-radius:5px; position:absolute; top:0; left:0; padding:5px; background:#fff;background-clip: padding-box; z-index:10}
                    .bid .bid_edit .field {width:60px}

                .campaign .stat_table .why {font-size:8pt; color:#666}
                    .campaign .stat_table .why a {border:none; text-decoration:underline}
            span.scan_item {color:#888; font-style:italic}
            span.new {color:#ee6603; font-weight:bold; display:block}
            p.new {color:#ee6603;}
            tr.new td, tr.new td span {color:#ee6603;}
        .campaign .help {border:solid 1px #80d623; margin:5px 0 0 51%;}
        .campaign .changes {border:solid 1px #ee6603; margin:5px 0 5px 0; float:left; background:#f9bd91; padding:8px; border-radius:8px}
.popup_dialog .edit_campaign {position:absolute; padding:10px; background:#fff; left:50%; top:50%; width:500px; margin-left:-292px; height:565px; margin-top:-297px;
    border-radius:10px; border:solid 7px rgba(0, 0, 0, .4);background-clip: padding-box; overflow:auto}
    .popup_dialog .edit_campaign h2, .popup_dialog .edit_shop h2 {font-size:16pt; color:#444; font-weight:normal; border-bottom:solid 1px #bbb}
    .popup_dialog .edit_campaign label, .popup_dialog .edit_shop label, .popup_dialog .edit_partner label {padding:15px 0 5px 0; display:block; font-size:12pt;}
    .popup_dialog .edit_campaign .geography {height:170px; overflow:auto; border:solid 1px #aaa; padding:7px}
        .popup_dialog .edit_campaign .geography .root {font-size:12pt; padding-bottom:5px; font-weight:bold}
        .popup_dialog .edit_campaign .geography label {display:inline}
        .popup_dialog .edit_campaign .geography ul {padding:0 0 5px 0}
            .popup_dialog .edit_campaign .geography ul label {font-size:10pt; white-space:nowrap}
            .popup_dialog .edit_campaign .geography ul ul li {padding:2px 0 3px 30px; border-top:solid 1px #ddd}
            .popup_dialog .edit_campaign .geography ul p {padding:2px 0 3px 15px;border-top:solid 1px #ddd; font-weight:bold}
    .popup_dialog .edit_campaign .stat_table {margin-bottom:5px}
        .popup_dialog .edit_campaign .stat_table tbody td { height:20px; padding:3px 4px}
.popup_dialog .edit_shop {position:absolute; padding:10px; background:#fff; left:50%; top:50%; width:500px; margin-left:-267px; height:500px; margin-top:-267px;
    border-radius:10px; border:solid 7px rgba(0, 0, 0, .4);background-clip: padding-box; overflow:auto}
.popup_dialog .edit_partner {position:absolute; padding:10px; background:#fff; left:50%; top:50%; width:500px; margin-left:-267px; height:190px; margin-top:-112px;
    border-radius:10px; border:solid 7px rgba(0, 0, 0, .4);background-clip: padding-box; overflow:auto}
/* ----------------------------------------------------------------*/





/* -----------------------------------------------------------------
[Admin partners page] */
.stat_table span.own_LP {background:#ffa200; padding:3px; border-radius:3px; color:#fff; font-size:9pt; font-weight:bold}
.stat_table span.red {color:#ff0c00; font-weight:bold}
.stat_table span.date_ok {color:#58a80b; font-weight:bold}
.stat_table p.comment {color: #666; font-size: 8pt}
.stat_table span.date_alert {color:#f2a50d; font-weight:bold}
.stat_table span.date_stop {color:#ff0c00; font-weight:bold}
.stat_table td.feeshki {color:#58a80b; font-weight:bold}
.stat_table td.feeshki.minus {color:#e73636;}
    .stat_table td .facebook {display:block; float:left; width:16px; height:16px; background:url('/img/admin/icons.png') no-repeat scroll left -358px; margin-left:3px}
    .stat_table td .vkontakte {display:block; float:left; width:16px; height:16px; background:url('/img/admin/icons.png') no-repeat scroll left -374px; margin-left:3px}
    .stat_table td .twitter {display:block; float:left; width:16px; height:16px; background:url('/img/admin/icons.png') no-repeat scroll left -390px; margin-left:3px}

.users_amount {margin:10px 0; position: relative}
	.users_amount .users_search {position: absolute; right: 0; top:0; background:#eee; padding:5px 10px; margin:0 0; border-radius:8px}
		.users_amount .users_search .field {font-size: 10pt}

.table_filter {background:#eee; padding:10px; margin:0 0; border-radius:8px}
    .table_filter .calendars {height:20px}

.brand_access {border:solid 1px #ccc; padding: 5px; height: 100px; overflow: auto; margin: 0}
	.brand_access li {margin-bottom: 5px}

.account_amount {font-size:16pt}
/* ----------------------------------------------------------------*/





/* -----------------------------------------------------------------
[Admin users page] */
.ban {}
	.ban textarea {display: block; margin: 5px 0;}
.ban_reason {padding: 5px 0; font-style: italic}
.table_fields {padding: 10px 0;}
	.table_fields h4 {padding-bottom: 5px;}
	.table_fields label {padding-right: 10px}
/* ----------------------------------------------------------------*/



#form_mall,#form_mall_map {display:none;}
.mall_maps .close, .mall_maps .close {right:10px;top:0;}
.mall_maps  li {float: left;padding: 0 25px 10px 0; position: relative;}
.mall_maps .edit, .mall_maps .edit {right:10px;top:17px;}

 /* old shit */
/*
v v v v v v v v v v v
v v v v v v v v v v v
v v v v v v v v v v v
v v v v v v v v v v v
v v v v v v v v v v v
v v v v v v v v v v v
v v v v v v v v v v v
v v v v v v v v v v v
v v v v v v v v v v v
v v v v v v v v v v v




.reward_control {width:230px; float:left; text-align:center}
        .reward_control .PricePicker {width:40px;}
        .reward_control .container {margin-left:45px;}
            .reward_control .container .content_holder {background:#f1f1eb; padding:10px 5px 5px 5px}
        .reward_control .buttons {padding-top:5px; border-top:solid 1px #fff}
        .reward_control .button {width:80px; height:22px; border:solid 1px #c1c1c1; color:#444; text-shadow:1px 1px 0 #fff; padding:0; font-size:9pt; padding-bottom:2px;
            background-color:#e3e4db; cursor:pointer; border-radius:4px; line-height:17pt;
            background: -webkit-linear-gradient(top, #f0f0ea, #cecec3);
            background: -moz-linear-gradient(top, #f0f0ea, #cecec3);
            background: -ms-linear-gradient(top, #f0f0ea, #cecec3);
            background: -o-linear-gradient(top, #f0f0ea, #cecec3);}
        .reward_control .button:active {
            background-color:#bdbcb7;
            border-color:#9d9d9d;
            background: -webkit-linear-gradient(top, #b8b8b4, #cecec3);
            background: -moz-linear-gradient(top, #b8b8b4, #cecec3);
            background: -ms-linear-gradient(top, #b8b8b4, #cecec3);
            background: -o-linear-gradient(top, #b8b8b4, #cecec3);}
        .reward_control h3 {padding-bottom:2px; border-bottom: 1px solid #D5DCE0}
        .reward_control .show_price {padding:2px 60px 2px 0; border-top:solid 1px #fff; border-bottom:solid 1px #d5dce0; color:#555; font-size:70pt;
            text-align:right; background:url('imgs/rur.png') no-repeat scroll 120px 51px; text-shadow:1px 1px #fff}
        .reward_control .PricePicker {position:relative; width:45px; height:169px;  float:left; margin:8px 0; overflow:visible}
            .reward_control .PricePicker .line {background:url('imgs/line.png') repeat-y; height:185px;  width:11px; border-radius:5px; margin-left:15px; margin-top:-8px}
            .reward_control .PricePicker .Polzunok {background:url('imgs/begunok.png'); height:20px; width:32px; border-radius:5px; margin-left:-11px; left:15px;
                position:absolute; cursor:n-resize; margin-bottom:-8px}


.calendars {padding:14px 0 0 15px; float:left; color:#666}
    .calendars .icon {float:left; width:16px; height:16px; background:url('imgs/icons.png') no-repeat scroll left -338px; margin-top:2px}
    .calendars span {float:left; display:block; float:left; padding:2px 5px 0 5px;}
    .calendars .button_g {width:80px; margin-left:5px}



 .left_half {float:left; width:50%}
    .left_half .container {margin-right:5px}
 .right_half {float:right; width:50%}
    .right_half .container {margin-left:5px}


 #Age_Figure {padding-bottom:20px}
    #Age_Figure .icons {width:30px; height:200px; background:url('imgs/icons_large.png') no-repeat scroll left top; float:left}
    ul.figure_body {margin-left:30px; padding-top:6px;}
        ul.figure_body li {padding-bottom:6px; position:relative}
            ul.figure_body li span {position:absolute; font-weight:bold; font-size:12pt; width:55px; float:left; text-align:right; display:block; padding-top:6px; top:0; left:0}
                ul.figure_body li.children span {color:#6aa1dd}
                    ul.figure_body li.children .line {border:solid 1px #3f7ece;
                        background:#74a9e1;
                        background: -webkit-linear-gradient(top, #7db1e5, #649cdb);
                        background: -moz-linear-gradient(top, #7db1e5, #649cdb);
                        background: -ms-linear-gradient(top, #7db1e5, #649cdb);
                        background: -o-linear-gradient(top, #7db1e5, #649cdb);}
                        ul.figure_body li.children .line .highlight {border-top:solid 1px #c2dbf2}
                ul.figure_body li.teens span {color:#81dc43}
                    ul.figure_body li.teens .line {border:solid 1px #48c802;
                        background:#8ee253;
                        background: -webkit-linear-gradient(top, #a2ec6c, #71d430);
                        background: -moz-linear-gradient(top, #a2ec6c, #71d430);
                        background: -ms-linear-gradient(top, #a2ec6c, #71d430);
                        background: -o-linear-gradient(top, #a2ec6c, #71d430);}
                        ul.figure_body li.teens .line .highlight {border-top:solid 1px #e4fcd2}
                ul.figure_body li.youth span {color:#fdcc06}
                    ul.figure_body li.youth .line {border:solid 1px #e8c500;
                        background:#fff239;
                        background: -webkit-linear-gradient(top, #fffd61, #ffe502);
                        background: -moz-linear-gradient(top, #fffd61, #ffe502);
                        background: -ms-linear-gradient(top, #fffd61, #ffe502);
                        background: -o-linear-gradient(top, #fffd61, #ffe502);}
                        ul.figure_body li.youth .line .highlight {border-top:solid 1px #fffed8}
                ul.figure_body li.middleaged span {color:#ffad1c}
                    ul.figure_body li.middleaged .line {border:solid 1px #e89300;
                        background:#ffbb3e;
                        background: -webkit-linear-gradient(top, #ffc961, #ffa302);
                        background: -moz-linear-gradient(top, #ffc961, #ffa302);
                        background: -ms-linear-gradient(top, #ffc961, #ffa302);
                        background: -o-linear-gradient(top, #ffc961, #ffa302);}
                        ul.figure_body li.middleaged .line .highlight {border-top:solid 1px #fbeccd}
                ul.figure_body li.gaffers span {color:#fe7640}
                    ul.figure_body li.gaffers .line {border:solid 1px #e84700;
                        background:#fe8a5c;
                        background: -webkit-linear-gradient(top, #ff9a72, #fd5e1f);
                        background: -moz-linear-gradient(top, #ff9a72, #fd5e1f);
                        background: -ms-linear-gradient(top, #ff9a72, #fd5e1f);
                        background: -o-linear-gradient(top, #ff9a72, #fd5e1f);}
                        ul.figure_body li.gaffers .line .highlight {border-top:solid 1px #ffd8c8}
            ul.figure_body li .border {margin-left:60px; border:solid 1px #c5c5c5; height:27px; padding:1px; border-radius:6px;
                background:url('imgs/small_hor_gradient.png') repeat-x scroll left top; overflow:hidden}
                ul.figure_body li .border .padding_container {position:relative; height:27px}
                    ul.figure_body li .border .padding_container .line {border-radius:4px; height:25px; position:relative}
                        ul.figure_body li .border .padding_container .line .highlight {border-radius:3px; height:23px}
                        ul.figure_body li .border .padding_container .line .value {position:absolute; right:-35px; top:3px; display:block; width:30px;
                            font-weight:bold; font-size:12pt; color:#b0b0b0}

.Sex_diagramm {padding:20px 0}
    .Sex_diagramm .border {border:solid 1px #c5c5c5; height:27px; padding:1px; border-radius:6px;
        background:url('imgs/small_hor_gradient.png') repeat-x scroll left top;}
    .Sex_diagramm .men {float:left; height:27px; position:relative;}
    .Sex_diagramm .hz {float:left; height:27px; position:relative;}
    .Sex_diagramm .women {float:left; height:27px; position:relative;}
        .Sex_diagramm .women span, .Sex_diagramm .men span, .Sex_diagramm .hz span {position:absolute; display:block; width:60px; text-align:center; margin-left:-30px; left:50%;
            top:-22px; font-weight:bold; font-size:12pt;}
        .Sex_diagramm .men span {color:#3f7ece}
        .Sex_diagramm .women span {color:#ff6262}
        .Sex_diagramm .hz span {color:#bbb9b9}
        .Sex_diagramm .men .highlight {border-radius:3px; height:23px; border-top:solid 1px #c2dbf2;}
        .Sex_diagramm .men .color_area {margin-right:1px; border-radius:4px; height:25px; position:relative;
            border:solid 1px #3f7ece;
            background:#74a9e1;
            background: -webkit-linear-gradient(top, #7db1e5, #649cdb);
            background: -moz-linear-gradient(top, #7db1e5, #649cdb);
            background: -ms-linear-gradient(top, #7db1e5, #649cdb);
            background: -o-linear-gradient(top, #7db1e5, #649cdb);}
        .Sex_diagramm .hz .highlight {border-radius:3px; height:23px; border-top:solid 1px #f9f9f9;}
        .Sex_diagramm .hz .color_area {margin-right:1px; border-radius:4px; height:25px; position:relative;
            border:solid 1px #bbb9b9;
            background:#d1d1d1;
            background: -webkit-linear-gradient(top, #e5e5e5, #bfbfbf);
            background: -moz-linear-gradient(top, #e5e5e5, #bfbfbf);
            background: -ms-linear-gradient(top, #e5e5e5, #bfbfbf);
            background: -o-linear-gradient(top, #e5e5e5, #bfbfbf);}
        .Sex_diagramm .women .highlight {border-radius:3px; height:23px; border-top:solid 1px #ffeff0;}
        .Sex_diagramm .women .color_area {border-radius:4px; height:25px; position:relative;
            border:solid 1px #ff6262;
            background:#ff999a;
            background: -webkit-linear-gradient(top, #ffbec0, #ff6767);
            background: -moz-linear-gradient(top, #ffbec0, #ff6767);
            background: -ms-linear-gradient(top, #ffbec0, #ff6767);
            background: -o-linear-gradient(top, #ffbec0, #ff6767);}




.users_submenu {height:20px; border:solid 1px #c1c1c1; border-radius:5px; width:304px; margin:5px 0}
    .users_submenu li {float:left; padding-top:2px; height:18px; border-left:solid 1px #fff; text-align:center; width:100px; border-right:solid 1px #c1c1c1;
        background:#deded6;
        background: -webkit-linear-gradient(top, #ecece5, #cfcfc4);
        background: -moz-linear-gradient(top, #ecece5, #cfcfc4);
        background: -ms-linear-gradient(top, #ecece5, #cfcfc4);
        background: -o-linear-gradient(top, #ecece5, #cfcfc4);
        color:#333; text-shadow:1px 1px 0 #fff; cursor:pointer}
    .users_submenu li.first {border-radius:3px 0 0 3px; border-left:none;}
    .users_submenu li.last {border-radius:0 3px 3px 0; border-right:none}
    .users_submenu li.current {
        background:#b1b1b0;
        background: -webkit-linear-gradient(top, #9e9e9d, #e3e3de);
        background: -moz-linear-gradient(top, #9e9e9d, #e3e3de);
        background: -ms-linear-gradient(top, #9e9e9d, #e3e3de);
        background: -o-linear-gradient(top, #9e9e9d, #e3e3de)}


.stat_users_list {height:266px; padding-top:14px}
    .stat_users_list li {float:left; width:33%; height:70px}
        .stat_users_list li img {border:solid 2px #d2d2d2; width:50px; height:50px; float:left}
        .stat_users_list li p {margin-left:60px}
        .stat_users_list li p.name {font-weight:bold}
        .stat_users_list li p.fb {width:16px; height:16px; background:url('imgs/icons.png') no-repeat scroll left -358px; margin-top:3px}
        .stat_users_list li p.fb.off {visibility:hidden}

.general_stat {width:100%; border-collapse:collapse; table-layout:fixed; border-radius:2px; overflow:hidden}
    .general_stat thead td {padding:4px; border-top:solid 1px #fff; font-weight:bold; color:#585858; text-shadow:1px 1px 0 #fff; background:#e7e7e7; font-size:11pt}
    .general_stat tbody .summ td {font-weight:bold; border-left:none}
    .general_stat tbody td {padding:4px; border-top:solid 1px #d5dce0; border-left:solid 1px #d5dce0}
    .general_stat tbody tr td:first-child {border-left:none}
    .general_stat tbody .odd td {background:#f6f6f2}
    .general_stat tbody .too_many td {color:#999; font-weight:bold; text-align:center; font-size:12pt; padding:0}

.scan_item {padding-bottom:10px; border-bottom:solid 1px #dddddd; margin-bottom:10px}
    .scan_item h4 {font-size:16pt; font-weight:normal; color:#444; padding-bottom:5px}
    .scan_item .scan_info {float:left; height:200px;width:200px}
        .scan_item .scan_info img {width:180px; height:144px; border:solid 2px #d2d2d2; margin-bottom:5px}


^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
 end of old shit */







