<?php 
    $this->headScript()->captureStart();
?>
    $(function(){
        $.validator.addMethod(
            "float",
            function(value, element) {
                return /[-+]?[0-9]*\.?[0-9]+/.test(value);
            },
            "Число не является числом с плавающей точкой"
        );
    
        formRules.form_shop = {
                                    name: {
                                        required: false,
                                        maxlength: 500
                                    },
                                    description: {
                                        maxlength: 5000
                                    },
                                    address: {
                                        required:true,
                                        maxlength: 300
                                    },
                                    lat: {
                                        required:true,
                                        number:true
                                    },
                                    long: {
                                        required:true,
                                        number:true
                                    }
                                };
        formMessages.form_shop = {
                                        name: {
                                            required: 'Название обязательно для заполнения',
                                            maxlength: 'Максимальная длина названия 500 символов'
                                        },
                                        description:{
                                            maxlength: 'Максимальная длина описания 5000 символов'
                                        },
                                        address: {
                                                required: 'Адрес обязателен для заполнения',
                                                maxlength: 'Максимальная длина названия 300 символов'
                                            },
                                        lat: {
                                            required: 'Широта обязательна для заполнения',
                                            number: 'Широта должна быть числом, разделитель "."'
                                        },
                                        long: {
                                            required: 'Долгота обязательна для заполнения',
                                            number: 'Долгота должна быть числом, разделитель "."'
                                        }
                                   };
                                   
        $('#edit_logo').click(function(){
            $('#form_shop_logo').slideDown();
            return false;
        });                           
        
    });
<?php 
    $this->headScript()->captureEnd();
?>

<div class="content">
    <h2>Настройки аккаунта</h2>
    <!--<div class="message">Данные были отредактированны администратором 12.01.12</div>-->
    <div class="clear"></div>
    <div class="container">
        <div class="content_holder">
            <h3>Логотип <span class="edt"><a href="#" id="edit_logo">Редактировать</a></span></h3>
            <form class="fields" id="form_shop_logo" action="<?=$this->logoForm->getAction()?>" method="<?=$this->logoForm->getMethod()?>" enctype="<?=$this->logoForm->getEnctype()?>">
                <div class="edit_box nomargin">
                    <div class="close close_form" title="Закрыть"> </div>
                    <dl>
                        <dt><strong>Квадратный</strong> не менее <?=Application::getTradeNetworkBigPictureSide()*2?> х <?=Application::getTradeNetworkBigPictureSide()*2?> пикс. (png)</dt>
                        <dd><?=$this->logoForm->getElement('file')?></dd>
                        <dt><strong>Горизонтальный</strong> не менее <?=Application::getTradeNetworkRectanglePictureWidth()?> х <?=Application::getTradeNetworkRectanglePictureHeight()?> пикс. (png)</dt>
                        <dd><?=$this->logoForm->getElement('rectangle_file')?></dd>
                    </dl>
                    <div class="button form_submit">
                        <div class="button_body">
                            <span>Сохранить</span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="logos">
                <div class="sq">
                    <img src="<?=$this->currentTradeNetwork->getBigPicturePathFull()?>" width="<?=Application::getTradeNetworkBigPictureSide()*2?>" height="<?=Application::getTradeNetworkBigPictureSide()*2?>" />
                    <p><?=Application::getTradeNetworkBigPictureSide()*2?> х <?=Application::getTradeNetworkBigPictureSide()*2?> пикселей</p>
                </div>
                <div class="hor">
                    <img src="<?=$this->currentTradeNetwork->getRectanglePicturePathFull()?>" width="<?=Application::getTradeNetworkRectanglePictureWidth()?>" height="<?=Application::getTradeNetworkRectanglePictureHeight()?>" />
                    <p><?=Application::getTradeNetworkRectanglePictureWidth()?> х <?=Application::getTradeNetworkRectanglePictureHeight()?> пикселей</p>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="hor_line"></div>
            <h3>Адреса магазинов</h3>
            <ul class="shops">
                <?php 
                    foreach($this->shopList as $shop)
                    {
                        ?>
                            <li>
                                <div class="smooth"> </div>
                                <a href="/edit/shop/delete/id/<?=$shop->getId()?>/" title="Удалить" class="close"></a>
                                <a href="#" title="редактировать" id="edit_shop_<?=$shop->getId()?>" class="edit"></a>
                                <strong><?=$shop->getName()?></strong>
                                <p class="address" title="<?=$shop->getAddress()?>"><?=$shop->getAddress()?></p>
                                <?php 
                                    $this->headScript()->captureStart();
                                ?>
                                    $(function(){
    
                                        var options = {
                                                            $link:$('#edit_shop_<?=$shop->getId()?>'),
                                                            formId:'form_shop',
                                                            entityId:<?=$shop->getId()?>,
                                                            entityController:'edit/shop',
                                                            afterCallback:function(data){
                                                                var $form = $(this);
                                                                addValidators($form,formRules,formMessages);
                                                                initCloseForm($form);
                                                                initSubmitForm($form);
                                                            }
                                                      }; 
                                        new Editor(options);
                                    });
                                <?php 
                                    $this->headScript()->captureEnd();
                                ?>
                            </li>
                        <?php
                    }
                ?>
            </ul>
            <div class="clear"></div>
            <div class="button" id="add_shop">
                <div class="button_body">
                    <span>Добавить магазин</span>
                </div>
            </div>
            <?php 
                $this->headScript()->captureStart();
            ?>
                $(function(){
                    var options = {
                                        $link:$('#add_shop'),
                                        formId:'form_shop',
                                        entityId:0,
                                        entityController:'edit/shop',
                                        afterCallback:function(data){
                                            var $form = $(this);
                                            addValidators($form,formRules,formMessages,true);
                                            initCloseForm($form);
                                            initSubmitForm($form);
                                        }
                                  }; 
                    new Editor(options);
                });
            <?php 
                $this->headScript()->captureEnd();
            ?>
            <div class="edit_box">
                <?/*=$this->partial('shop/form.phtml','default',array('form' => $this->form))*/?>
            </div>
        </div>
    </div>
</div>