<?php 
    $this->headScript()->captureStart();
?>
    $(function(){
        formRules.form_product = {
                                    name: {
                                        required: true,
                                        maxlength: 500
                                    },
                                    description: {
                                        maxlength: 5000
                                    },
                                    price: {
                                        required:false,
                                        maxlength: 30
                                    },
                                    discount: {
                                        required:true,
                                        number:true,
                                        min:0,
                                        max:100
                                    },
                                    file: {
                                        required:true
                                    }
                                };
        formMessages.form_product = {
                                        name: {
                                            required: 'Название обязательно для заполнения',
                                            maxlength: 'Максимальная длина названия 500 символов'
                                        },
                                        description:{
                                            maxlength: 'Максимальная длина описания 5000 символов'
                                        },
                                        price: {
                                                required: 'Заголовок обязателен для заполнения',
                                                maxlength: 'Максимальная длина поля "Заголовок" 30 символов'
                                            },
                                        discount: {
                                            required: 'Скидка обязательна для заполнения',
                                            number: 'Скидка должна быть числом, разделитель "."',
                                            min: 'Скидка должна быть положительной',
                                            max: 'Скидка должна быть не более 100%'
                                        },
                                        file: {
                                            required: 'Файл не был загружен'
                                        }
                                   };
    });
<?php 
    $this->headScript()->captureEnd();
?>

<div class="content">
    
        <!-- В И Т Р И Н А -->
    <h2 id="product_caption">Витрина</h2>
    <div class="container">
        <div class="content_holder">
            <ul class="vitrina_list">
                <?php 
                    foreach($this->productList as $product)
                    {
                        ?>
                            <li>
                                <img src="<?=$product->getBigPicturePathFull()?>" width="<?=Application::getProductBigPictureSide()?>/2" height="<?=Application::getProductBigPictureSide()?>/2" />
                                <a href="/product/delete/id/<?=$product->getId()?>/" title="Удалить товар" class="close"></a>
                                <a href="#" title="Редактировать товар" id="edit_product_<?=$product->getId()?>" class="edit"></a>
                                <?php 
                                    $this->headScript()->captureStart();
                                ?>
                                    $(function(){
    
                                        var options = {
                                                            $link:$('#edit_product_<?=$product->getId()?>'),
                                                            formId:'form_product',
                                                            entityId:<?=$product->getId()?>,
                                                            entityController:'product',
                                                            afterCallback:function(data){
                                                                PriceOrDiscount();
                                                                initShopSelect('product');
                                                                var $form = $(this);
                                                                addValidators($form,formRules,formMessages);
                                                                initCloseForm($form);
                                                                initSubmitForm($form);
                                                            }
                                                      }; 
                                        new Editor(options);
                                    });
                                <?php 
                                    $this->headScript()->captureEnd();
                                ?>
                                <p><?=($product->getDiscount() ? 'Скидка '.$product->getDiscount().'%' : $product->getPrice())?></p>
                            </li>
                        <?php
                    }
                ?>
            </ul>
            <div class="clear"></div>
            <div class="button" id="add_product">
                <div class="button_body">
                    <span>Добавить товар</span>
                </div>
            </div>
            <?php 
                $this->headScript()->captureStart();
            ?>
                $(function(){
                    var options = {
                                        $link:$('#add_product'),
                                        formId:'form_product',
                                        entityId:0,
                                        entityController:'product',
                                        afterCallback:function(data){
                                            PriceOrDiscount();
                                            initShopSelect('product');
                                            var $form = $(this);
                                            addValidators($form,formRules,formMessages,true);
                                            initCloseForm($form);
                                            initSubmitForm($form);
                                        }
                                  }; 
                    new Editor(options);
                });
            <?php 
                $this->headScript()->captureEnd();
            ?>
            <div class="edit_box edit_good">
                <?=$this->partial('product/form.phtml',array('form' => $this->productForm,'currentTradeNetwork' => $this->currentTradeNetwork,'selectedShopIds' => array()))?>
            </div>
        </div>
    </div>
    
    
    <!-- А К Ц И И -->
    <?php 
        $this->headScript()->captureStart();
    ?>
        $(function(){
            formRules.form_sales = {
                                        file: {
                                            required: true
                                        },
                                        name: {
                                            required: true,
                                            maxlength: 50
                                        },
                                        description: {
                                            maxlength: 5000
                                        },
                                        short_description: {
                                            maxlength: 3000
                                        },
                                    };
            formMessages.form_sales = {
                                        file: {
                                            required: 'Файл не был загружен'
                                        },
                                        name: {
                                            required: 'Название обязательно для заполнения',
                                            maxlength: 'Максимальная длина названия 50 символов'
                                        },
                                        description:{
                                            maxlength: 'Максимальная длина описания 5000 символов'
                                        },
                                        short_description:{
                                            maxlength: 'Максимальная длина краткого описания 3000 символов'
                                        }
                                    };
        });
    <?php 
        $this->headScript()->captureEnd();
    ?>
    
    <h2 id="sales_caption">Акции</h2>
    <div class="container">
        <div class="content_holder" id="action">
            <ul class="deals_list">
                <?php 
                    foreach($this->salesList as $sales)
                    {
                        ?>
                            <li>
                                <img src="<?=$sales->getBigPicturePathFull()?>" width="<?=Application::getSalesBigPictureWidth()/2?>" height="<?=Application::getSalesBigPictureHeight()/2?>">
                                <a href="/sales/delete/id/<?=$sales->getId()?>/" title="Удалить акцию" class="close"></a>
                                <a href="#" title="Редактировать акцию" id="edit_sales_<?=$sales->getId()?>" class="edit"></a>
                                <?php 
                                    $this->headScript()->captureStart();
                                ?>
                                    $(function(){
                                        var options = {
                                                            $link:$('#edit_sales_<?=$sales->getId()?>'),
                                                            formId:'form_sales',
                                                            entityId:<?=$sales->getId()?>,
                                                            entityController:'sales',
                                                            afterCallback:function(data){
                                                                initShopSelect('sales');
                                                                var $form = $(this);
                                                                addValidators($form,formRules,formMessages);
                                                                initCloseForm($form);
                                                                initSubmitForm($form);
                                                            }
                                                      }; 
                                        new Editor(options);
                                    });
                                <?php 
                                    $this->headScript()->captureEnd();
                                ?>
                            </li>
                        <?php
                    }
                ?>
            </ul>
            <div class="clear"></div>
            <div class="button" id="add_sales">
                <div class="button_body">
                    <span>Добавить акцию</span>
                </div>
            </div>
            <?php 
                $this->headScript()->captureStart();
            ?>
                $(function(){
                    var options = {
                                        $link:$('#add_sales'),
                                        formId:'form_sales',
                                        entityId:0,
                                        entityController:'sales',
                                        afterCallback:function(data){
                                            initShopSelect('sales');
                                            var $form = $(this);
                                            addValidators($form,formRules,formMessages,true);
                                            initCloseForm($form);
                                            initSubmitForm($form);
                                        }
                                  }; 
                    new Editor(options);
                });
            <?php 
                $this->headScript()->captureEnd();
            ?>
            <div class="edit_box">
                <?=$this->partial('sales/form.phtml',array('form' => $this->salesForm,'currentTradeNetwork' => $this->currentTradeNetwork,'selectedShopIds' => array()))?>
            </div>
        </div>
    </div>
    
    <?php 
        $this->headScript()->captureStart();
    ?>
        $(function(){
            formRules.form_scanproduct = {
                                            name: {
                                                required: true,
                                                maxlength: 500
                                            },
                                            description: {
                                                maxlength: 5000
                                            },
                                            price: {
                                                required:true,
                                                number:true,
                                                min:0
                                            },
                                            barcode: {
                                                required:true,
                                                maxlength: 30,
                                                remote:{
                                                    url: '/edit/shopcase/check-barcode/',
                                                    data: {
                                                        scan_product_id: function() {
                                                            return $('input[name=id]',$('#form_scanproduct')).val();
                                                        }
                                                    }
                                                }
                                            },
                                            file: {
                                                required:true
                                            }
                                        };
            formMessages.form_scanproduct = {
                                                name: {
                                                    required: 'Название обязательно для заполнения',
                                                    maxlength: 'Максимальная длина названия 500 символов'
                                                },
                                                description:{
                                                    maxlength: 'Максимальная длина описания 5000 символов'
                                                },
                                                price: {
                                                    required: 'Цена обязательна для заполнения',
                                                    number: 'Цена должна быть числом',
                                                    min: 'Цена должна быть положительной'
                                                },
                                                barcode: {
                                                    required: 'Штрих-код обязателен для заполнения',
                                                    maxlength: 'Максимальная длина штрих-кода 30 символов',
                                                    remote: 'Этот штрих-код уже занят'
                                                },
                                                file: {
                                                    required: 'Файл не был загружен'
                                                }
                                            };
        });
    <?php 
        $this->headScript()->captureEnd();
    ?>
    <!-- С К А Н Ы -->
    <h2 id="scan_caption">Товары для сканов</h2>
    <div class="container">
        <div class="content_holder" id="scan">
            <ul class="vitrina_list">
                <?php 
                    foreach($this->scanProductList as $scanProduct)
                    {
                        ?>
                            <li>
                                <img src="<?=$scanProduct->getBigPicturePathFull()?>" width="<?=Application::getScanProductBigPictureWidth()?>/2" height="<?=Application::getScanProductBigPictureHeight()?>/2" />
                                <div class="scan_price"><?=$scanProduct->getPrice()?></div>
                                <a href="/scan-product/delete/id/<?=$scanProduct->getId()?>/" title="Удалить товар" class="close"></a>
                                <a href="#" title="Редактировать товар" id="edit_scanproduct_<?=$scanProduct->getId()?>" class="edit"></a>
                                <?php 
                                    $this->headScript()->captureStart();
                                ?>
                                    $(function(){
                                        var options = {
                                                            $link:$('#edit_scanproduct_<?=$scanProduct->getId()?>'),
                                                            formId:'form_scanproduct',
                                                            entityId:<?=$scanProduct->getId()?>,
                                                            entityController:'scan-product',
                                                            afterCallback:function(data){
                                                                initShopSelect('scan-product');
                                                                var $form = $(this);
                                                                addValidators($form,formRules,formMessages);
                                                                initCloseForm($form);
                                                                initSubmitForm($form);
                                                            }
                                                      }; 
                                        new Editor(options);
                                    });
                                <?php 
                                    $this->headScript()->captureEnd();
                                ?>
                            </li>
                        <?php
                    }
                ?>
            </ul>
            <div class="clear"></div>
            <div class="button" id="add_scanproduct">
                <div class="button_body">
                    <span>Добавить товар</span>
                </div>
            </div>
            <?php 
                $this->headScript()->captureStart();
            ?>
                $(function(){
                    var options = {
                                        $link:$('#add_scanproduct'),
                                        formId:'form_scanproduct',
                                        entityId:0,
                                        entityController:'scan-product',
                                        afterCallback:function(data){
                                            initShopSelect('scan-product');
                                            var $form = $(this);
                                            addValidators($form,formRules,formMessages,true);
                                            initCloseForm($form);
                                            initSubmitForm($form);
                                        }
                                  }; 
                    new Editor(options);
                });
            <?php 
                $this->headScript()->captureEnd();
            ?>
            <div class="edit_box edit_scan">
                <?=$this->partial('scan-product/form.phtml',array('form' => $this->scanProductForm,'currentTradeNetwork' => $this->currentTradeNetwork,'selectedShopIds' => array()))?>
            </div>
        </div>
    </div>
</div>
