<?='<?xml version="1.0" encoding="utf-8"?>'?>
<!-- Файл входящий, содержит штрихкоды для занесения в 1С, создаётся на сервере Soukkick.
	 Формат имени: "inYYYYMMDD.xml" , например: "in20121130.xml"
	 Файл должен содержать валидный XML, без ошибок, в кодировке utf-8
	 Файл должен быть получен с сервера soukkick методом HTTP GET, по адресу, указанному в письме.
 -->
 
    <!-- Корневая секция Tran содержит все данные, никаких тегов за границами Tran быть не должно -->
    <!-- TDate - дата формирования файла в формате yyyy-MM-dd -->
    <!-- TTime - время формирования файла в формате hh:mm:ss -->
    <!-- TSrc - система, которая создала файл. Для данного типа файлов всегда "Soukkick". -->
    <!-- TDst - система, для которой был создан файл. Для данного типа файлов всегда "1C" (с - английская, не русская). -->
    <!-- ShopsCount - количество торговых точек, штрихкоды которых содержатся в данном файле. -->
<Tran TDate="<?=date('Y-m-d')?>" TTime="<?=date('H:i:s')?>" TSrc="Soukkick" TDst="1C" ShopsCount="<?=$this->shopList->count()?>">
    <Code><?=$this->code?></Code>
    <Message><?=$this->message?></Message>
    <!-- Секция Shop - торговая точка. В секции Tran должна быть как минимум одна.
     		Содержит список магазинов, для которых система Soukkick сгенерировала штрихкоды. -->
    <!-- id - Идентификатор магазина в системе Soukkick, именно его надо возвращять в исходящем файле. -->
    <!-- ShopAddress - Адрес магазина, может так же содержать название магазина, 
    		вспомагательное поле, чтобы у программиста 1С не вызывать путаницы с голыми id. -->
    <!-- ItemsCount - Количество штрихкодов для данного магазина в данном файле. Видимо их всегда будет 1000 штук на магазин-->
    <? 
        foreach($this->shopList as $shop)
        {
            ?>
                <Shop id="<?=$shop->getId()?>" ShopAddress = "<?=$shop->getName().', '.$shop->getAddress()?>" ItemsCount="<?=count($this->barcodeList[$shop->getId()])?>">
                    <!-- Секция Item, содержит штрихкод для магазина --> 
                    <!-- id - штрихкод для магазина, который необходимо сохранить в базе 1С -->
                    <? 
                        foreach($this->barcodeList[$shop->getId()] as $barcode)
                        {
                            ?>
                                <Item id="<?=$barcode?>" />
                            <?
                        }
                    ?>
                </Shop>
            <?
        }
    ?>
</Tran>