<?='<?xml version="1.0" encoding="utf-8"?>'?>
<!-- Файл исходящий, по Продажам/Возвратам, создаётся на сервере 1С.
	 Формат имени: "outYYYYMMDD.xml" , например: "out20121231.xml"
	 Файл должен содержать валидный XML, без ошибок, в кодировке utf-8
	 Файл должен быть отправлен методом HTTP POST на сервер Soukkick по ардесу, указанному в письме.
 -->

   <!-- Корневая секция Tran содержит все данные, никаких тегов за границами Tran быть не должно -->
   <!-- TDate - дата формирования файла в формате yyyy-MM-dd, если в месяце или дне только один разряд, добавить ноль в начале -->
   <!-- TTime - время формирования файла в формате hh:mm:ss, если в часе, минуте, секунде только один разряд, добавить ноль в начале -->
   <!-- TSrc - система, которая создала файл. Для данного типа файлов всегда "1C" (с - английская, не русская). -->
   <!-- TDst - система, для которой был создан файл. Для данного типа файлов всегда "Shopfee". -->
<Tran TDate="<?=date('Y-m-d')?>" TTime="<?=date('H:i:s')?>" TSrc="1C" TDst="Shopfee">
    <Code><?=$this->code?></Code>
    <Message><?=$this->message?></Message>
</Tran>