<h2>Out</h2>
<form enctype="multipart/form-data" method="post" action="/erp/out/format/xml/access_token/test-access-token/">
    <input type="file" name="xml" />
    <br />
    <input type="submit" value="send" />
</form>
<h2>In</h2>
<form method="post" action="/erp/in/format/xml/">
    <input type="hidden" name="access_token" value="test-access-token" />
    <br />
    <input type="submit" value="send" />
</form>