<?php 
    $this->headScript()->captureStart();
?>
    function EventLoader(lastDate,$eventContainer,$statContainer,checkInterval)
    {
        this.lastDate = lastDate;
        this.$eventContainer = $eventContainer;
        this.$statContainer = $statContainer;
        this.checkInterval = checkInterval;
        this.init();
    } 
    
    EventLoader.prototype = {
    
        init:               function()
                            {
                                this.scheduleCheck();
                            },
                            
        check:              function()
                            {
                                var thisObj = this;
                                $.getJSON(
                                            '/edit/feed/check/format/json/',
                                            {
                                                last_date:this.lastDate,
                                                shop_id:<?=($this->selectedShopId ? $this->selectedShopId : 'null')?>
                                            },
                                            function(data)
                                            {
                                                if(data.eventContainer)
                                                {
                                                    thisObj.$eventContainer.prepend(data.eventContainer);
                                                    thisObj.lastDate = data.lastDate;
                                                }
                                                thisObj.$statContainer.html(data.statContainer);
                                                thisObj.scheduleCheck();
                                            }
                                         );
                            },
                            
        scheduleCheck:      function()
                            {
                                var thisObj = this;
                                setTimeout(function(){thisObj.check()},this.checkInterval*1000);
                            }
    
    };

    $(function(){
        $('#clear_feed').click(function(){
            $('#feed_list').html('');
        });
        
        $(document).bind('LEFT_SHOP_CHANGED',{},function(event,shopId,cityId){
            if(!cityId){
                $('#form-left-shop').submit();
            }
        });
    });
<?php 
    $this->headScript()->captureEnd();
?>
<div class="content">
    <?=$this->partial('include/left-shop-list.phtml',array('shopListByCity' => $this->shopListByCity,'selectedShopId' => $this->selectedShopId,'selectedCityId' => $this->selectedCityId))?>
    <div class="container narrow_left">
        <div class="content_holder">
            <h3>Лента событий в магазине</h3>
            <ul class="newsfeed" id="feed_list">
                <?php 
                    foreach($this->grouppedEventList as $dateTitle => $eventList)
                    {
                        ?>
                            <li class="date"><span><?=$dateTitle?></span></li>
                        <?php
                        foreach($eventList as $event)
                        {
                            echo $this->partial('feed/partial.phtml',array('event' => $event));
                        }
                    }
                ?>
            </ul>
            <input type="button" style="display:none;" value="Очистить" class="button" id="clear_feed" />
        </div>
    </div>
    
    <div class="container wide_right">
        <div class="content_holder">
            <div class="realtime" id="short_stat_container">
                <?=$this->partial('include/stat-container.phtml',array(
                	'visitorList' => $this->visitorList,
                	'todayVisitorNumber' => $this->todayVisitorNumber,
                	'yesterdayVisitorNumber' => $this->yesterdayVisitorNumber,
                    'newPercent' => $this->newPercent,
                	'oldPercent' => $this->oldPercent,
                ))?>
            </div>
        </div>
    </div>
</div>
<?php 
    $this->headScript()->captureStart();
?>
    var eventLoader;
    $(function(){
        eventLoader = new EventLoader('<?=($this->firstEvent ? $this->firstEvent->getDateCreated() : '0')?>',$('#feed_list'),$('#short_stat_container'),5);
    });
<?php 
    $this->headScript()->captureEnd();
?>