<?php
    $action = $this->event->getObject();
    $user = $action->getUser();
    switch($this->event->getType())
    {
        case Entity_Event_Shop::TYPE_ENTER:
        case Entity_Event_Shop::TYPE_CHECKIN:
            $title = 'зашел в магазин по адресу "'.$action->getShop()->getAddress().'"';
            break;
        case Entity_Event_Shop::TYPE_EXIT:
            $title = 'вышел из магазина по адресу "'.$action->getShop()->getAddress().'"';
            break;
        case Entity_Event_Shop::TYPE_SCAN:
            $title = ' сосканировал штрих-код товара "'.$action->getScanProduct()->getName().'" в магазине по адресу "'.$action->getShop()->getAddress().'"';
            break;
        default:
            $title = '';
            break;
    }
?>
<li>
    <img alt="<?=$user->getName()?> <?=$user->getSurname()?>" src="<?=$user->getPicturePathFull()?>">
    <p style="font-size:12pt; color:#333"><?=date('H:i',strtotime($this->event->getDateCreated()))?></p>
    <p><strong><?=$user->getName()?> <?=$user->getSurname()?></strong> <?=$title?></p>
</li>