<div>
    <label for="caption">
        Заголовок <br/>
        <input name="caption" id="caption" value="<?=$this->form->getElement('caption')->getValue()?>" />
    </label>
</div>

<?if($errors = $this->form->getMessages('caption')):?>
    <?foreach($errors as $errorMessage):?>
        <div><?=$errorMessage?></div>
    <?endforeach?>
<?endif?>

<br/>

<div>
    <label for="slug">
        Ключ <br/>
        <input name="slug" id="slug" value="<?=$this->form->getElement('slug')->getValue()?>" />
    </label>
</div>

<?if($errors = $this->form->getMessages('slug')):?>
    <?foreach($errors as $errorMessage):?>
        <div><?=$errorMessage?></div>
    <?endforeach?>
<?endif?>

<br/>

<div>
    <label for="data">
        Значение <br/>
        <input name="data" id="data" value="<?=$this->form->getElement('data')->getValue()?>" />
    </label>
</div>

<?if($errors = $this->form->getMessages('data')):?>
    <?foreach($errors as $errorMessage):?>
        <div><?=$errorMessage?></div>
    <?endforeach?>
<?endif?>

<br/>



<input type="submit" value="Сохранить" />