<?
// Bootstrap datepicker
$this->headScript()->appendFile('http://'.Application::getStaticURL().'/js/lib/moment.v1.js');
$this->headScript()->appendFile('http://'.Application::getStaticURL().'/js/lib/datepicker/js/bootstrap-datepicker.v1.js');
$this->headLink()->appendStylesheet('http://'.Application::getStaticURL().'/js/lib/datepicker/css/datepicker.v1.css');
?>

<script>

    function setDateFrom(date)
    {
        $('[data-date-bind="date_from"]').html(date.format('D MMMM YYYY'));
    }

    function setDateTo(date)
    {
        $('[data-date-bind="date_to"]').html(date.format('D MMMM YYYY'));
    }

    $(document).ready(function() {

        moment.months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        var date_from = moment($('[name="date_from"]').val());
        setDateFrom(date_from);

        var date_to = moment($('[name="date_to"]').val());
        setDateTo(date_to);

        $('[name="date_from"]').datepicker()
            .on('changeDate', function(event) {
                $(this).datepicker('hide');
                var date = moment(event.date);
                setDateFrom(date);
            });

        $('[name="date_to"]').datepicker()
            .on('changeDate', function(event) {
                $(this).datepicker('hide');
                var date = moment(event.date);
                setDateTo(date);
            });

        $('body').on('click', '[data-date-bind]', function(event) {
            event.preventDefault();
            var name = $(this).data('date-bind');
            var source = $('[name="' + name + '"]');
            source.datepicker('show');
            return false;
        })

        $('body').on('click', 'thead td.sortable', function(event) {
            location.href = $(this).data('table-order');
       });

    });
</script>

<form method="GET">

    <input type="hidden" name="filter" value="1" />

    <div class="table_filter">

        <div class="calendars">

            <div class="icon"></div>
            <input type="hidden" name="date_from" value="<?=$this->filter->getElement('date_from')->getValue()?>" />
            <span>
                <a href="#" data-date-bind="date_from" class="local">[date]</a> —
            </span>

            <div class="icon"></div>
            <input type="hidden" name="date_to" value="<?=$this->filter->getElement('date_to')->getValue()?>" />
            <span>
                <a href="#" data-date-bind="date_to" class="local">[date]</a>
            </span>

        </div>

        <label>
            <input type="checkbox" name="only_authed" value="1" <?=$this->filter->getElement('only_authed')->isChecked()?' checked="checked"':''?> /> Show only authorized users </label>

        <div class="table_fields">

            <h4>Table fields:</h4>

             <label><input name="field_id" value="1" <?=$this->filter->getElement('field_id')->isChecked()?' checked="checked"':''?> type="checkbox" /> Id</label>
             <label><input name="field_register" value="1" <?=$this->filter->getElement('field_register')->isChecked()?' checked="checked"':''?> type="checkbox" /> Registration date</label>
             <label><input name="field_social" value="1" <?=$this->filter->getElement('field_social')->isChecked()?' checked="checked"':''?> type="checkbox" /> Social networks</label>
             <label><input name="field_amount" value="1" <?=$this->filter->getElement('field_amount')->isChecked()?' checked="checked"':''?> type="checkbox" /> Points</label>
             <label><input name="field_checkin" value="1" <?=$this->filter->getElement('field_checkin')->isChecked()?' checked="checked"':''?> type="checkbox" /> Checkins</label>
             <label><input name="field_scan" value="1" <?=$this->filter->getElement('field_scan')->isChecked()?' checked="checked"':''?> type="checkbox" /> Scans</label>
             <label><input name="field_views" value="1" <?=$this->filter->getElement('field_views')->isChecked()?' checked="checked"':''?> type="checkbox" /> Views</label>
             <label><input name="field_promo" value="1" <?=$this->filter->getElement('field_promo')->isChecked()?' checked="checked"':''?> type="checkbox" /> Promocodes</label>
             <label><input name="field_invited_by" value="1" <?=$this->filter->getElement('field_invited_by')->isChecked()?' checked="checked"':''?> type="checkbox" /> Invited by</label>
             <label><input name="field_rewards" value="1" <?=$this->filter->getElement('field_rewards')->isChecked()?' checked="checked"':''?> type="checkbox" /> Rewards</label>
        </div>

        <input type="submit" class="small_button" value="Refresh" />

    </div>

    <div class="users_amount">

        <p>User number: <strong><?=$this->usersTotalNumber?></strong></p>
        <p>Authorized user number: <strong><?=$this->authorizedUsersTotalNumber?></strong></p>

        <div class="users_search">
            <select name="search_type">
                <option <?=($this->filter->getElement('search_type')->getValue() == Criteria_User::NAME)?' selected="selected"':''?> value="<?=Criteria_User::NAME?>">By name</option>
                <option <?=($this->filter->getElement('search_type')->getValue() == Criteria_User::EMAIL)?' selected="selected"':''?> value="<?=Criteria_User::EMAIL?>">By E-mail</option>
            </select>
            <input name="search_text" value="<?=$this->filter->getElement('search_text')->getValue()?>" type="text" class="field" />
            <input type="submit" value="Find" />
        </div>
    </div>

</form>

<?if($this->users->count() > 0):?>

    <table class="stat_table">

        <thead>
        <tr>
            <?if($this->filter->getElement('field_id')->isChecked()):?>
                <td>id</td>
            <?endif?>
            <?if($this->filter->getElement('field_register')->isChecked()):?>

                <? $order = ($this->parameters->sort == Criteria_User::ORDER_DATE_REGISTERED_DESC) ? Criteria_User::ORDER_DATE_REGISTERED_ASC : Criteria_User::ORDER_DATE_REGISTERED_DESC; ?>

                <td class="sortable" data-table-order="<?=$this->Query(array('sort' => $order))?>">
                    Registration date
                    <?if($this->parameters->sort == Criteria_User::ORDER_DATE_REGISTERED_DESC):?><span class="sort_down">&darr;</span><?endif?>
                    <?if($this->parameters->sort == Criteria_User::ORDER_DATE_REGISTERED_ASC):?><span class="sort_up">&uarr;</span><?endif?>
                </td>
            <?endif?>
            <td>name</td>
            <td>E-mail</td>
            <?if($this->filter->getElement('field_social')->isChecked()):?>
                <td>Social networks</td>
            <?endif?>
            <?if($this->filter->getElement('field_amount')->isChecked()):?>

                <? $order = ($this->parameters->sort == Criteria_User::ORDER_AMOUNT_DESC) ? Criteria_User::ORDER_AMOUNT_ASC : Criteria_User::ORDER_AMOUNT_DESC; ?>

                <td class="sortable" data-table-order="<?=$this->Query(array('sort' => $order))?>">
                    Points
                    <?if($this->parameters->sort == Criteria_User::ORDER_AMOUNT_DESC):?><span class="sort_down">&darr;</span><?endif?>
                    <?if($this->parameters->sort == Criteria_User::ORDER_AMOUNT_ASC):?><span class="sort_up">&uarr;</span><?endif?>
                </td>
            <?endif?>
            <?if($this->filter->getElement('field_checkin')->isChecked()):?>

                <? $order = ($this->parameters->sort == Criteria_User::ORDER_CHECKIN_DESC) ? Criteria_User::ORDER_CHECKIN_ASC : Criteria_User::ORDER_CHECKIN_DESC; ?>

                <td class="sortable" data-table-order="<?=$this->Query(array('sort' => $order))?>">
                    Checkins
                    <?if($this->parameters->sort == Criteria_User::ORDER_CHECKIN_DESC):?><span class="sort_down">&darr;</span><?endif?>
                    <?if($this->parameters->sort == Criteria_User::ORDER_CHECKIN_ASC):?><span class="sort_up">&uarr;</span><?endif?>
                </td>
            <?endif?>
            <?if($this->filter->getElement('field_scan')->isChecked()):?>

                <? $order = ($this->parameters->sort == Criteria_User::ORDER_SCAN_DESC) ? Criteria_User::ORDER_SCAN_ASC : Criteria_User::ORDER_SCAN_DESC; ?>

                <td class="sortable" data-table-order="<?=$this->Query(array('sort' => $order))?>">
                    Scans
                    <?if($this->parameters->sort == Criteria_User::ORDER_SCAN_DESC):?><span class="sort_down">&darr;</span><?endif?>
                    <?if($this->parameters->sort == Criteria_User::ORDER_SCAN_ASC):?><span class="sort_up">&uarr;</span><?endif?>
                </td>
            <?endif?>
            <?if($this->filter->getElement('field_views')->isChecked()):?>
                <td>Views</td>
            <?endif?>
            <?if($this->filter->getElement('field_promo')->isChecked()):?>

                <? $order = ($this->parameters->sort == Criteria_User::ORDER_INVITED_DESC) ? Criteria_User::ORDER_INVITED_ASC : Criteria_User::ORDER_INVITED_DESC; ?>

                <td class="sortable" data-table-order="<?=$this->Query(array('sort' => $order))?>">
                    Promocodes
                    <?if($this->parameters->sort == Criteria_User::ORDER_INVITED_DESC):?><span class="sort_down">&darr;</span><?endif?>
                    <?if($this->parameters->sort == Criteria_User::ORDER_INVITED_ASC):?><span class="sort_up">&uarr;</span><?endif?>
                </td>
            <?endif?>
            <?if($this->filter->getElement('field_invited_by')->isChecked()):?>
                <td>Invited by</td>
            <?endif?>
            <?if($this->filter->getElement('field_rewards')->isChecked()):?>
                <td>Rewards</td>
            <?endif?>
        </tr>
        </thead>

        <tbody>
            <?
            $i = 1;
            /** @var $user Entity_User */
            foreach($this->users as $user):
                $user  = new Decorator_User($user);
                $isOdd = ($i % 2) === 0;
                ?>

                <tr<?=($isOdd)?' class="odd"':''?>>
                    <?if($this->filter->getElement('field_id')->isChecked()):?>
                        <td>
                            <?=$user->getId()?>
                        </td>
                    <?endif?>
                    <?if($this->filter->getElement('field_register')->isChecked()):?>
                        <td>
                            <?=$user->getDateRegistration()?>
                        </td>
                    <?endif?>
                    <td>
                        <a href="<?=$user->getAdminUrl()?><?=$this->Query()?>"><?=$user->getName()?> <?=$user->getSurname()?></a>
                    </td>
                    <td><?=$user->getEmail()?></td>
                    <?if($this->filter->getElement('field_social')->isChecked()):?>
                        <td>

                            <?if($user->getFacebookId()):?>
                            <a class="facebook"></a>
                            <?endif?>

                            <?if($user->getContactId()):?>
                            <a class="vkontakte"></a>
                            <?endif?>

                        </td>
                    <?endif?>
                    <?if($this->filter->getElement('field_amount')->isChecked()):?>
                        <td class="feeshki">
                            <?=$user->getAmount()?>
                        </td>
                    <?endif?>
                    <?if($this->filter->getElement('field_checkin')->isChecked()):?>
                        <td><?=$user->getNumberCheckin()?></td>
                    <?endif?>
                    <?if($this->filter->getElement('field_scan')->isChecked()):?>
                        <td><?=$user->getNumberScan()?></td>
                    <?endif?>
                    <?if($this->filter->getElement('field_views')->isChecked()):?>
                        <td><?=$user->getNumberShows()?></td>
                    <?endif?>
                    <?if($this->filter->getElement('field_promo')->isChecked()):?>
                        <td><?=$user->getNumberInvited()?></td>
                    <?endif?>
                    <?if($this->filter->getElement('field_invited_by')->isChecked()):?>
                        <td>
                            <?if($invitedBy = $user->getInvitedBy()):?>
                                <a href="<?=$invitedBy->getAdminUrl()?>"><?=$invitedBy->getFullName()?></a>
                            <?else:?>
                                —
                            <?endif;?>
                        </td>
                    <?endif?>
                    <?if($this->filter->getElement('field_rewards')->isChecked()):?>
                        <td><?=$user->getPrizes()?></td>
                    <?endif?>

                </tr>

                <?
                $i++;
                endforeach?>

        </tbody>

    </table>

<?endif?>

<?if (isset($this->paginator)):?>
    <?=$this->paginationControl($this->paginator, NULL, 'paginators/new.phtml', array("pageUrl" => $this->pageUrl, 'paginator' => $this->paginator->getAdapter()))?>
<?endif?>