<a href="/admin/users/index/<?=$this->Query()?>">← All users</a>

<h2><?=$this->user->getName()?> <?=$this->user->getSurname()?> (id <?=$this->user->getId()?>)</h2>

<div class="container">

    <div class="content_holder">

        <h3>User status</h3>

        <p>Points: <?=$this->user->getTotalAmount()?></p>

        <div class="space"></div>

        <h3>Transaction history</h3>

        <table class="stat_table">
            <thead>
                <tr>
                    <td>Points</td>
                    <td>Transaction type</td>
                    <td>Contractor</td>
                    <td>Time</td>
                </tr>
            </thead>
            <tbody>
                <?
                /** @var $transaction Entity_Trm_Main */
                $i = 0;
                foreach($this->user->getTrmMains(true) as $transaction):
                    $transaction = new Decorator_Trm_Main($transaction);
                    $bpa = $transaction->getRuleItem()->getRuleMain()->getBpaMain();
                    $i++;
                    ?>
                <tr<?=(($i%2) == 0) ? ' class="odd"' : ''?>>

                    <?if ($transaction->getAmount() < 0):?>
                        <td class="feeshki minus"><?=$transaction->getAmount()?></td>
                    <?else:?>
                        <td class="feeshki"><?=$transaction->getAmount()?></td>
                    <?endif;?>

                    <td><?=$transaction->getDescription()?></td>
                    <td>
                        <?=$bpa->getName()?> (id <?=$bpa->getId()?>)
                    </td>
                    <td><?=$transaction->getDateCreated()?></td>
                </tr>
            <?endforeach?>
            </tbody>
        </table>

        <div class="space"></div>

        <?if(NULL === $this->user->getBannedReason()):?>

            <h3>Ban</h3>
            <form class="ban" action="/admin/users/ban/" method="POST">
                <p>Comment:</p>
                <input type="hidden" name="id" value="<?=$this->user->getId()?>">
                <textarea class="field" name="reason"></textarea>
                <input type="submit" value="Ban!" />
            </form>

        <?else:?>

            <p class="red">The user is banned</p>
            <p class="ban_reason"><?=$this->user->getBannedReason()?></p>

            <form action="/admin/users/unban/" method="POST">
                <input type="hidden" name="id" value="<?=$this->user->getId()?>" />
                <input type="submit" value="Unban" />
            </form>

        <?endif?>

    </div>
</div>