<?php

/**
 * Default error view
 *  
 * @author
 * @version
 */

//$this->placeholder('title')->set($this->title);
?>
<?php 
	/*if($this->message)
		echo $this->messageBox('<p class="error">'.$this->message.'</p>');*/
?>
<div style="width:100%;height:200px;padding-top:50px;color:red;font-size:22px;font-weight:bold;">
    <p><?=$this->message?></p>
</div>