<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Soukkick</title>
        <link href="/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="top_line"></div>
    <div class="head">
        <div class="wrap">
            <a class="logo" href="/"></a>
        </div>
    </div>
    <div class="wrap">
        <h1>Вход для магазинов-партнёров</h1>
        <form class="login_form" action="/edit/index/login/" method="post">
            <fieldset>
                <dl>
                    <dt><label for="login">Email</label></dt>
                    <dd>
                        <input class="field" type="text" id="login" name="email" value="<?=$this->loginForm->getValue('email')?>" />
                        <?=$this->partial('include/form_element_error.phtml',array('element' => $this->loginForm->getElement('email')))?>
                    </dd>
                    <dt><label for="pwd">Пароль</label></dt>
                    <dd>
                        <input class="field" type="password" id="pwd" name="password" />
                        <?=$this->partial('include/form_element_error.phtml',array('element' => $this->loginForm->getElement('password')))?>
                    </dd>
                </dl>
            </fieldset>
            <input type="submit" class="button" value="Войти" />
        </form>
    </div>
    <div class="footer">
        <div class="bottom_line"></div>
    </div>
</body>
</html>