<form method="POST" action="/admin/reports/add/">

    <div>
        <label for="caption">
            Заголовок <br/>
            <input name="caption" id="caption" value="<?=$this->form->getElement('caption')->getValue()?>" />
        </label>
    </div>

    <?if($errors = $this->form->getMessages('caption')):?>
        <?foreach($errors as $errorMessage):?>
            <div><?=$errorMessage?></div>
        <?endforeach?>
    <?endif?>

    <br/>

    <div>
        <label for="query">
            Запрос <br/>
            <textarea name="query" id="query" style="width: 500px; height: 400px;"><?=$this->form->getElement('query')->getValue()?></textarea>
        </label>
    </div>

    <?if($errors = $this->form->getMessages('query')):?>
        <?foreach($errors as $errorMessage):?>
            <div><?=$errorMessage?></div>
        <?endforeach?>
    <?endif?>

    <br/>

    <input type="submit" value="Сохранить" />

</form>