<h1>Отчеты</h1>

<div>
    <a href="/admin/reports/add/">Добавить отчет</a>
</div>

<?if($this->deletedId):?>
    <div style="color: #F00;">
        <br/><strong>Отчет был успешно удален</strong>
    </div>
<?endif?>

<?if($this->createdId):?>
    <div style="color: #208a07;">
        <br/><strong>Отчет был успешно создан</strong>
    </div>
<?endif?>

<?if($this->modifiedId):?>
    <div style="color: #208a07;">
        <br/><strong>Отчет был успешно изменен</strong>
    </div>
<?endif?>

<br/>

<table class="stat_table">

    <thead>
    <tr>
        <td style="width: 30px;">ID</td>
        <td>Название</td>
        <td style="width: 70px;"></td>
        <td style="width: 70px;"></td>
    </tr>
    </thead>
    <tbody>

        <?if($this->reports->count() > 0):?>

            <?
            $i = 1;
            /** @var $report Entity_Report */
            foreach($this->reports as $report):
                $isOdd = ($i % 2) === 0;
                ?>

                <tr<?=($isOdd)?' class="odd"':''?>>
                    <td>
                        <?=$report->getId()?>
                    </td>
                    <td>
                        <a href="<?=$report->getEditUrl()?>"><?=$report->getCaption()?></a>
                    </td>
                    <td>
                        <a href="<?=$report->getRunUrl()?>">Запрос</a>
                    </td>
                    <td>
                        <a href="<?=$report->getDeleteUrl()?>" onclick="{return confirm('Вы уверены?');}">Удалить</a>
                    </td>
                </tr>

            <?
            $i++;
            endforeach?>

        <?else:?>

            <tr>
                <td colspan="2">Нет отчетов</td>
            </tr>

        <?endif?>

    </tbody>

</table>