<h1>Отчет: <?=$this->report->getCaption()?></h1>

<div>
    <a href="/admin/reports/">К списку</a>
    <a href="<?=$this->report->getEditUrl()?>">Изменить</a>
    <a href="<?=$this->report->getExportUrl()?>">Экспорт</a>
</div>

<br/>

<?if($this->error):?>

    <div style="color: #F00;">
        <h2>Не удалось выполнить запрос</h2>
        <p><?=$this->error?></p>
    </div>

<?else:?>

    <table class="stat_table">

        <?if($this->resultHead):?>
            <thead>
                <tr>
                    <?foreach ($this->resultHead as $resultHeader):?>
                        <td><?=$resultHeader?></td>
                    <?endforeach?>
                </tr>
            </thead>
            <tbody>
                <?
                $i = 0;
                foreach ($this->resultSet as $resultRow):
                    $i++;
                    ?>
                <tr<?=($i % 2 == 0)?' class="odd"' : ''?>>
                    <?foreach($resultRow as $resultValue):?>
                        <td>
                            <?if(is_null($resultValue)):?>
                                NULL
                            <?else:?>
                                <?=$resultValue?>
                            <?endif?>
                        </td>
                    <?endforeach?>
                </tr>
                <?endforeach?>
            </tbody>
        <?else:?>

            <h2>Запрос вернул пустой набор</h2>

        <?endif?>

    </table>

<?endif?>